<p id="notice"><%= notice %></p>

<h1>Expertise Widgets</h1>

<table>
  <thead>
    <tr>
      <th>Widget</th>
      <th>Expertise</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @expertise_widgets.each do |expertise_widget| %>
      <tr>
        <td><%= expertise_widget.widget_id %></td>
        <td><%= expertise_widget.expertise_id %></td>
        <td><%= link_to 'Show', expertise_widget %></td>
        <td><%= link_to 'Edit', edit_expertise_widget_path(expertise_widget) %></td>
        <td><%= link_to 'Destroy', expertise_widget, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Expertise Widget', new_expertise_widget_path %>
