<div id="inputs">
  <div class="row">
    <div class="col">
      <div class="form-group">
        <h2><%= t(:'general.public.sections_contact.section5.title')%></h2>
        <h3 style="text-align: justify;">
        <%= t(:'general.public.sections_contact.section5.subtitle')%>
        </h3>
      </div>
    </div>
  </div>
  <div class="row">
    <div class="col mt-4 text-left">
      <label for="name"><%= t(:'general.public.sections_contact.section5.lable1')%> </label>
      <input id="name" type="text" name="name" class="form-control" required>
    </div>
  </div>
  <div class="row mt-4 text-left">
    <div class="col">
      <label for="phone_number"><%= t(:'general.public.sections_contact.section5.lable2')%></label>
      <input id="phone_number" type="text" name="phone_number" class="form-control" required>
    </div>
  </div>
  <div class="row mt-4 text-left">
    <div class="col">
      <label for="max_budget"><%= t(:'general.public.sections_contact.section5.lable3')%></label>
      <input id="max_budget" type="number" name="max_budget" class="form-control mb-1" required>
    </div>
  </div>
  <div class="row mt-4 text-left">
    <div class="col">
      <label for="call_time"><%= t(:'general.public.sections_contact.section5.lable4')%></label>
      <select id="call_time" name="call_time" class="form-control" id="exampleFormControlSelect1">
        <option value="Morning"><%= t(:'general.public.sections_contact.section5.time1')%></option>
        <option value="Noon"><%= t(:'general.public.sections_contact.section5.time2')%></option>
        <option value="Evening"><%= t(:'general.public.sections_contact.section5.time3')%></option>
      </select>
    </div>
  </div>

  <div class="row mt-4 text-left">
    <div class="col">
      <label for="description"><%= t(:'general.public.sections_contact.section5.lable5')%></label>
      <textarea id="description" class="form-control" id="description" rows="3" placeholder="<%= t(:'general.public.sections_contact.section5.lable6')%>"></textarea>
    </div>
  </div>
  <div class="row mt-4">
    <div class="col">
      <button class="btn btn-block btn-primary" id="submit_form" type="button" onclick="submit()"><%= t(:'general.public.sections_contact.section5.button')%></button>
    </div>
  </div>
</div>
