<header style="direction:ltr !important;" >
  <div class="" style="padding: 0">

    <nav class="navbar sticky-top navbar-light " style="    text-align: center;
        direction: rtl; background: #f9a826">
      <a  class=" text-center" style="    width: 100%;
          margin: 0; color: white" href="http://instagram.com/kadro.clip" target="_blank">
        <em>
          صفحه اینستاگرام
        </em>
        کادرو کلیپ
        <span class="fa fa-arrow-left"> </span>
      </a>
    </nav>

    <nav class="navbar navbar-expand-lg " style="left: 0px;
        right: 0px;
        position: static;
        z-index: 10; background-color: black !important;" id="main_navbar">
      <button class="mr-auto navbar-toggler btn-light" type="button" data-toggle="collapse" data-target="#navbarNav5" aria-controls="navbarNav5" aria-expanded="false" aria-label="Toggle navigation">
        منو
      </button>

      <div class="collapse navbar-collapse" id="navbarNav5">
        <ul class="nav nav-pills nav-fill text-center navbar-nav ml-0 mr-auto justify-content-center " style="text-align:center">
          <li class="mx-auto nav-item btn-group text-center">
            <a class="btn btn-outline-warning btn-sm" href="<%=root_url%>">
              <span class="fa fa-backward"></span>
               بازگشت به عکاسی
             </a>
            <a class="btn btn-warning btn-sm" href="https://kadro.co/submit-project"> ثبت درخواست </a>
          </li>
        </ul>
        <ul class="navbar-nav mx-auto justify-content-between" style="text-align:center">
          <!-- <li class="nav-item">
            <a class="nav-link text-white-50 mx-2" href="<%=all_pros_url %>"> لیست عکاسها  </a>
          </li> -->
          <li class="nav-item">
            <a class="nav-link text-light mx-2" href="http://instagram.com/kadro.clip"> استعلام قیمت </a>
          </li>
          <li class="nav-item dropdown">
            <a class="nav-link dropdown-toggle text-light" data-toggle="dropdown" href="#" role="button" aria-haspopup="true" aria-expanded="false">
              خدمات کادرو
            </a>
            <div class="dropdown-menu dropdown-menu-left text-right">
              <a class="dropdown-item" href="<%=book_url %>"> رزرو عکاس / آتلیه </a>
              <a class="dropdown-item" href="<%=shoot_location_root_url %>"> کجا بریم عکاسی؟ </a>
              <div class="dropdown-divider"></div>
              <a class="dropdown-item" href="<%= call_request_url %>"> مشاوره رایگان </a>
              <div class="dropdown-divider"></div>
              <a class="dropdown-item text-warning" href="<%= videography_url %>"> سفارش ساخت تیزر  </a>
            </div>
          </li>
        </ul>
        <ul class="navbar-nav justify-content-end ml-auto text-center">
          <li class="nav-item dropdown">
            <a class="nav-link dropdown-toggle mr-md-5 text-light" data-toggle="dropdown" href="#" role="button" aria-haspopup="true" aria-expanded="false">
              برای فیلمبرداران
            </a>
            <div class="dropdown-menu text-right">
              <a class="dropdown-item" href="http://instagram.com/kadro.clip"> شرایط همکاری </a>
            </div>
          </li>
        </ul>
      </div>
      <a class="navbar-brand" href="<%=root_url%>">
        <img src=<%=assets_url("/img/kadro_logo.png")%>  height="30" alt="لوگوی کادرو">
      </a>
    </nav>
  </div>
</header>
