<%- flash.each do |name, msg| -%>
<%= content_tag :div, msg,class: "alert alert-info text-center", :id => "flash_#{name}" if msg.is_a?(String) %>
<%- end -%>

<% if not photographer_signed_in? %>
<header style="direction:ltr !important;" >
  <nav class="navbar navbar-expand-lg navbar-light bg-white">
    <a class="navbar-brand" href="<%=root_url%>">
      <img src=<%=assets_url("/img/shootempire.png")%> width="150" class="d-inline-block align-top" alt="shootempire.com">
    </a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
  
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav mr-auto">
        <li class="nav-item active">
          <a class="nav-link" href="<%= call_request_url %>">
             <%= t(:'general.home.header.titles.dropdown1') %>
             <span class="sr-only"></span>
           </a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="<%=join_us_url %>">
            <%= t(:'general.home.header.titles.dropdown5') %>
          </a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="/blog">
            <%= t(:'general.home.header.titles.dropdown2') %>
          </a>
        </li>
      </ul>
    </div>
  </nav>
  </header>
<% end %>



