<div class="col-xs-12 well">
  <div class="col-xs-12 col-md-6">
    <div class="col-md-6 pull-right col-xs-12 text-center">
      <% gallery = project.gallery %>
      <% if gallery %>
        <%= link_to gallery do %>
          <% if gallery.frames.any? and gallery.frames.first.present? %>
          <img src="<%= gallery.frames.first.file_address(false, "light") %>" class="img-thumbnail">
          <% end %>
        <% end %>
      <% end %>
    </div>
    <div class="col-md-6 col-xs-12">
      <div class="btn-group-vertical" role="group" id="set-password-button-<%= gallery.id %>">
        <%= render partial: 'galleries/gallery_set_buttons', locals: {gallery: gallery, project: project} %>
      </div>
    </div>
    <div class="col-xs-12">
      <p style="text-align: justify;">
        <span class="fa fa-camera fa-lg" style="font-size:20px;"></span>
        <%= project.gallery.frames.count %> عکس
        <br>
        <span class="fa fa-calendar fa-lg" style="font-size:20px;"></span>
        <%= project.start_time.to_date.to_pdate.strftime("%A - %d %b ") %>
        <br>
        <span class="fa fa-user fa-lg" style="font-size:20px;"></span>
        <%= project.photographer.display_name %>
        <br>
<% if project.package.present? %>
        <span class="fa fa-image fa-lg" style="font-size:20px;"></span>
        ( <%= project.package.duration if project.package.present? %> -
        <% if project.package.present? and  project.package.is_full %>
        تمام فریم ها
        <% else %>
        <%= project.package.digitals %>
        فریم
        دانلود
        <% end %>
        )
        <br>
<% end %>
      </p>
    </div>
  </div>
  <div class="col-md-6">
    <div class="col-md-12 col-xs-12"  style="background: #09AF1C;padding-bottom: 10%;">
      <%= render "release_payment" , project: project %>
    </div>
  </div>
</div>
