<% @top_title = "فقط برای حرفه ای ها" %>
<%= render 'shared/join_dynamic_header' , title: @top_title %>
<section id="main">
  <div class="container">
    <div class="main">
      <div class="wrapper">
        <div class="row">
          <div class="col-md-6 col-sm-offset-3 col-sm-12">
            <%= form_for(resource, as: resource_name, url: confirmation_path(resource_name), html: { method: :post , class: "form form-group" }) do |f| %>

            <div class="col-sm-12">
              <%= f.label "ایمیل" %><br />
              <%= f.email_field :email, autofocus: true, class: "form-control", value: (resource.pending_reconfirmation? ? resource.unconfirmed_email : resource.email) %>
            </div>

            <div class="col-sm-12 text-center" style="margin-top: 30px;">
              <%= f.submit "ثبت" , class: "btn btn-blue btn-block" %>
            </div>
            <div class="col-sm-12" style="margin-top: 30px;">
              <%= render "photographers/shared/links" %>
            </div>
            <% end %>
          </div>
        </div>
      </div>
    </div>
  </div><!-- /.main -->
</div><!-- /.container -->
</section>
