<section class="fdb-block team-4 pb-3" style="">
  <div class="container">
    <div class="row text-center justify-content-center">
      <div class="col-12">
        <h1 style="font-size: 1.8rem;">
          <% if @title.present? %>
          <%= @title %>
          <% else %>
          Photography Shoot Locations
        <% end %>
        </h1>
        <p class="text-center">
          best photography locations choosen by professionals
        </p>
      </div>

    </div>

    <div class="row text-center mt-5">
      <% @shoot_locations.order("shoot_location_type_id DESC").each do |sh| %>
      <% if sh.shoot_location_type.title != "studio"%>
        <div class="col-6 col-sm-4 col-md-3 col-lg-3 py-5 types type_<%=sh.shoot_location_type.id %> ">
          <%= link_to shoot_location_show_url(sh.slug) do %>
            <% if sh.shoot_location_attachments.present? %>
              <img alt="image" class="img-fluid rounded" src="<%= sh.shoot_location_attachments.first.photo_url(:medium)%>" style="width: 150px;height: 150px; object-fit: cover !important;">
            <% else %>
              <img alt="image" class="img-fluid rounded" src="/img/locations/map.svg" style="width: 150px;height: 150px; object-fit: cover !important;">
            <% end %>
            <h3><strong><%= sh.title %></strong></h3>
            <p class="text-center"><%= sh.shoot_location_type.title %></p>
            <p class="text-center">
              <button class="btn btn-outline-success mt-4 mb-5 mb-md-0" style="margin-top: 0px !important;"> check out </button></p>
          <% end %>
        </div>
        <% end %>
      <% end %>
    </div>
  </div>
</section>

