<head>

  <% if Rails.env.production? %>
    <%= render 'shared/externals/gtag_header' %>
      <%= render 'shared/externals/ganalytics' %>
        <% end %>

          <title>
            <%= t(:'general.home.seo.title') %>
          </title>

          <meta charset="UTF-8">
          <meta name="description" content="<%= t(:'general.home.seo.meta_description') %>">
          <meta name="keywords" content="<%= t(:'general.home.seo.meta_keywords') %>">
          <meta name="author" content="<%= t(:'general.home.seo.meta_author') %>">
          <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no">
          <META NAME="ROBOTS" CONTENT="INDEX, FOLLOW">

          <link rel="icon" type="image/png" href="/img/shootempire.png">
          <meta name="theme-color" content="RGB(41, 135, 249)" />

          <script type="application/ld+json">
    {
      "@context": "https://schema.org",
      "@type": "Organization",
      "url": "https://shootempire.com",
      "logo": "https://shootempire.com/img/shootempire.png",
    }
  </script>

          <%= csrf_meta_tags %>

            <% if Rails.env.production? %>
              <%= stylesheet_link_tag 'wordpress' , media: 'all' %>
                <%= javascript_include_tag 'wordpress' %>
                  <% else %>
                    <%= stylesheet_link_tag 'wordpress' , media: 'all' %>
                      <%= javascript_include_tag 'wordpress' %>
                        <% end %>

</head>

<%= render "public/shared/wordpress_header" %>

<main>
  <section class=" mt-0 pt-2" style="background-color: white;">
    <div class="container">
      <div class="row">
        <div class="col-12 col-md-6 mx-auto text-center">
          <%=image_tag @photographer.avatar_url(:medium), width: "100" , style:"border-radius: 50%"%>
            <h1 class="text-center " style="margin-bottom: 20px;">
              <%=@photographer.display_name%>
            </h1>
            <p>
              <%= @photographer.experience.present? ? @photographer.experience.bio : "bio" %>
            </p>
        </div>
      </div>

      <div class="row py-4 my-2 justify-content-center">
        
        <% if @photographer.instagram.present? %>
        <div class="col mx-auto text-center">
          <a href="https://www.instagram.com/<%=@photographer.instagram%>" target="_blank">
          <span class="fa fa-instagram">
          </span>
          <%= @photographer.instagram %>
          </a>
        </div>
        <% end %>

        <% if @photographer.twitter.present? %>
          <div class="col mx-auto text-center">
          <a href="https://www.x.com/<%=@photographer.instagram%>" target="_blank">
            <span class="fa fa-twitter">
            </span>
            <%= @photographer.twitter %>
          </a>
          </div>
          <% end %>

        <% if @photographer.linkedin.present? %>
          <div class="col mx-auto text-center">
          <a href="<%=@photographer.linkedin%>" target="_blank">
            <span class="fa fa-linkedin">
            </span>
            LinkedIn
          </a>  
          </div>
          <% end %>


        <% if @photographer.online_portfolio.present? %>
          <div class="col mx-auto text-center">
          <a href="<%=@photographer.online_portfolio%>" target="_blank">
            <span class="fa fa-external-link">
            </span>
            Website
            </a>
          </div>
          <% end %>


      </div>
      

      <div class="row justify-content-center">
        <div class="col-12" >
          <p class="text-left">
            My Shoot Types
          </p>
          <ul style="line-height: 2.3em;">
            <% @photographer.shoot_types.each do |sh| %>
            <li>
              <%= sh.title %>
            </li>
            <% end %>
          </ul>
        </div>
      </div>


        <% @photographer.expertises.approved.each do |ex| %>
        <div class="row border-top my-3">
          <div class="col">
            <h6 class="h5 text-left">
              <%= ex.shoot_type.title%>
            </h6>
          </div>
        </div>

        <div class="row align-items-center justify-content-center">
          <% ex.photos.each do |photo| %>
            <div class="col-4 p-1">
              <%= link_to photo.file_url , target: "_blank" do %>
                <img src="<%=photo.file_url(:medium)%>" alt="" class="img-fluid">
                <% end %>
            </div>
            <% end %>
        </div>
        <% end %>


    </div>
  </section>
</main>
<style>
  .active-ex {
    color: #4a87f9 !important;
    border-right: 5px solid #4a87f9;
    padding-right: 10px;
  }

  @media (min-width: 994px) {
    .expertiseDiv {
      padding-top: 4rem;
    }
  }

  .link_to_expertise {
    color: #a3a3a3;
    margin-right: 5px;
    font-size: 2vh !important;
  }
</style>
