<div class="row well" style="direction:rtl;">
  <h5 class="text-center">
    <%=link_to cart.user.display_name , admin_user_path(cart.user), target:"_blank" %>
    <span class="label label-info pull-left">
      <%=link_to "حذف" , admin_cart_path(cart) , method: "delete" ,"data-confirm"=>'آیا مطمئین هستید؟' %>
    </span>
  </h5>
  <div class="col-xs-12">
    <div class="col-xs-2">
      قیمت
    </div>
    <div class="col-xs-2">
      تعداد
    </div>
    <div class="col-xs-2">
      فریم
    </div>
    <div class="col-xs-2">
      پروژه
    </div>
    <div class="col-xs-2">
      نوع
    </div>
    <div class="col-xs-2">
      مدل
    </div>
  </div>
  <% cart.cart_items.each do |cart_item| %>
  <div class="col-xs-12" style="padding-top:2px;">
    <div class="col-xs-2">
      <%= cart_item.item.price %>
    </div>
    <div class="col-xs-2">
      <%= cart_item.quantity %>
    </div>
    <div class="col-xs-2">
      <%= link_to cart_item.frame.id , cart_item.frame.file_url(:light), target:"_blank" %>
    </div>
    <div class="col-xs-2">
      <%=link_to  cart_item.project.slug , admin_project_path(cart_item.project), target:"_blank"  %>
    </div>
    <div class="col-xs-2">
      <%= cart_item.item.item_type.title %>
    </div>
    <div class="col-xs-2">
      <%= cart_item.item.title%>
    </div>
  </div>
  <% end %>
  <div class="col-xs-12">
    <div class="col-xs-2 pull-left">
      <%=Carts::CurrentCartTotal.call(cart_id: cart.id,user: cart.user).cart_total %>
    </div>
    <div class="col-xs-2 pull-left">
      جمع کل:
    </div>
    <div class="col-xs-3 pull-left">
      <%= link_to(t(:'invoices.buttons.download_zip'), create_zip_path(order_type: 1, id: cart.id)) %>
    </div>
  </div>
</div>
