<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery-mousewheel/3.1.13/jquery.mousewheel.min.js"></script>
<style>
  @media (min-width: 700px) {
    .mobile-sc-size{
      padding: 3px;
      border: 1px solid whitesmoke;
      display: inline;

    }
  }
  @media (max-width: 700px) {
    .mobile-sc-size{
      padding: 3px;
      border: 1px solid whitesmoke;
      display: inline;
    }
  }
</style>
<section class="fdb-block pt-0">
  <div class="container-fluid">
    <div class="row">
      <div class="col-12">
        <img src="<%=@shoot_location.shoot_location_attachments.first.photo_url(:large)%>" style="width: 100%; height: 50vh; object-fit: cover;" alt="<%= @shoot_location.title %>">
      </div>
    </div>
  </div>
  <!--  bread crumbs-->
  <div class="container-fluid mt-2">
    <div class="row">
      <div class="col-12">
        <p style="text-left">
          <%= link_to "All Locations" , shoot_location_root_path %>   >   <%= link_to @shoot_location.title , shoot_location_show_path(@shoot_location.slug) %>
        </p>
      </div>
    </div>
  </div>
  <div class="container-fluid">
    <div class="row">
      <div class="col-12 col-sm-6 m-auto col-md-6 pb-4 pb-md-0">
        <div class="row">
          <div id="studio_gallery"  data-responsive="<%=@shoot_location.shoot_location_attachments.each do |sha|%>img/<%=sha.photo_url%> 375 ,<%end %>" >
            <% if @shoot_location.shoot_location_attachments.present? %>
            <% @shoot_location.shoot_location_attachments.each_with_index do |sha, index| %>
              <div class="item col-6 col-md-12 col-lg-12 col-xl-12 bg-light mobile-sc-size" data-src="<%= sha.photo_url(:large) %>">
                <img class="mobile-sc-size img-replace" id=<%=sha.photo_url(:medium) %> src="<%= sha.photo_url(:thumb) %>" style="height: 180px; width:180px; object-fit: cover;" alt="<%=@shoot_location.title%> از مکان های عکاسی کادرو ">
              </div>
            <% end %>
          </div>
        <% else %>
          <img alt="image" class="img-fluid rounded" src="/img/location_picker.png" style="width: 100%;height: 200px; object-fit: contain !important;">
        <% end %>
       </div>
      </div>
      <script type="text/javascript">
          $(document).ready(function() {
              $("#studio_gallery").lightGallery({
                  selector: '.item'
              });
          });
      </script>
      <div class="col-12 ml-auto col-md-6 col-lg-5">
        <div class="row">
          <div class="col-12">
            <h1 class="text-left"><%= @shoot_location.title %></h1>
            <p class="text-left">
              <%= @shoot_location.shoot_location_type.title %>
            </p>
            <p class="lead text-left">
              <%= h auto_link(simple_format(@shoot_location.description), :html => {:class=>'lead',:target => '_blank'}) %>
            </p>
            <p class=" text-left"><%= @shoot_location.address.detail %></p>
          </div>
          <div class="col-12 text-center justify-content-center mb-5">
            <div class="btn-group mx-auto" style="direction: ltr;">
              <%= link_to "https://www.google.com/maps/dir/Current+Location/#{@shoot_location.address.lattitude},#{@shoot_location.address.longtitude}",class:"btn btn-primary btn-block mt-4 mb-1 mb-md-0", target: :_blank do %>
                <span class="fa fa-location-arrow"></span> 
                Navigation
              <%end %>
              
            </div>
          </div>
          <div class="col-12">
            <% if @owner_shoot_location_photographer.present? %>
              <p style="font-size: 12px !important;">
                added by:
              </p>
              <p style="font-size: 15px !important;">
                <a href="https://pro.kadro.me/<%= @owner_shoot_location_photographer.uid %>">
                  <img alt="image" class="img-fluid rounded-circle" style="margin-left: 10px;" src="https://locations.kadro.me<%= @owner_shoot_location_photographer.avatar_url(:thumb) %>">
                  <%= @owner_shoot_location_photographer.abbrv_name %>
                </a></p>
            <% end %>
          </div>
        </div>
      </div>
    </div>
  </div>

</section>


<% if @shoot_location.shoot_type_locations.present? %>
  <section class="fdb-block pt-2">
    <div class="container">
      <div class="row">
        <div class="col text-center">
          <h2> Good for:</h2>
        </div>
      </div>
      <div class="row pt-2 align-items-center">
        <% @shoot_location.shoot_type_locations.each do |sht| %>
          <div class="col-4 col-sm-3 m-sm-auto">
            <div class="row align-items-center">
              <div class="col-12 col-md-4">
                <img alt="<%=sht.shoot_type.title%>" class="img-fluid rounded-circle" src="<%= assets_url(sht.shoot_type.avatar_url(:medium)) %>">
              </div>
              <div class="col-12 col-md-8">
                <h4 class="text-left"><%=sht.shoot_type.title%></h4>
              </div>
            </div>
          </div>
        <% end %>
      </div>
    </div>
  </section>
<% end %>


<script src="/lightgallery/lg-thumbnail.min.js"></script>
<script src="/lightgallery/lg-fullscreen.min.js"></script>