<link rel="stylesheet" href="https://unpkg.com/leaflet@1.9.4/dist/leaflet.css" integrity="sha256-p4NxAoJBhIIN+hmNHrzRCf9tD/miZyoHS5obTRR9BMY=" crossorigin="" />
<script src="https://unpkg.com/leaflet@1.9.4/dist/leaflet.js" integrity="sha256-20nQCchB9co0qIjJZRGuk2/Z9VM+kNiyxNV1lvTlZBo=" crossorigin=""></script>
<script src="https://unpkg.com/leaflet-providers@latest/leaflet-providers.js"></script>
<div class=row>
    <div class=col-xs-12>
        <div class="col-xs-12 well" id="map" style="width: <%= map_width %>; height: <%= map_height %>">
    </div>
</div>

<script>
    var LeafIcon = L.Icon.extend({
        options: {
            iconSize: [50, 50]
        }
    });
    var locIcon = new LeafIcon({
        iconUrl: '/img/location_pin.png'
    })

    var map = new L.Map('map', {
        poi: true,
        traffic: false,
        center: [<%= lat %>, <%= lng %>],
        zoom: 13,
        dragging: <%= dragging %>
    });

    var OpenStreetMap_Mapnik = L.tileLayer('https://tile.openstreetmap.org/{z}/{x}/{y}.png', {
        attribution: ''
    });
    map.addLayer(OpenStreetMap_Mapnik);

    var marker = L.marker([<%= lat %>, <%= lng %>], {icon: locIcon}).addTo(map);
</script>