<div class="btn-group">
  <%- if controller_name != 'sessions' %>
  <%= link_to "login", new_session_path(resource_name) , class: "btn-lg btn btn-default" %>
  <% end -%>

  <%- if devise_mapping.registerable? && controller_name != 'registrations' %>
  <%= link_to "create an account", apply_path , class: "btn btn-blue btn-lg"%>
  <% end -%>

  <%- if devise_mapping.recoverable? && controller_name != 'passwords' && controller_name != 'registrations' %>
  <%= link_to "forget password?" , new_password_path(resource_name),class: " btn-lg btn btn-info" %>
  <br>
  <% end -%>
</div>
<%- if devise_mapping.confirmable? && controller_name != 'confirmations' %>
<!-- <p class="text-muted" style="color: gray;"> -->
<%#= link_to "راهنمای تائیدیه ایمیل را دریافت نکرده اید؟", new_confirmation_path(resource_name) ,class: ""%>
<!-- </p> -->
<!-- <br /> -->
<% end -%>

<%- if devise_mapping.lockable? && resource_class.unlock_strategy_enabled?(:email) && controller_name != 'unlocks' %>
<%= link_to "Didn't receive unlock instructions?", new_unlock_path(resource_name) %><br />
<% end -%>

<%- if devise_mapping.omniauthable? %>
<%- resource_class.omniauth_providers.each do |provider| %>
<%= link_to "Sign in with #{OmniAuth::Utils.camelize(provider)}", omniauth_authorize_path(resource_name, provider) %><br />
<% end -%>
<% end -%>
