<div class="col-xs-12 col-md-12">
  <div style="    border-bottom: 0.05em solid #b1b1b1;
      padding: 2% 0 2% 0;">
    <div class="row">
      <div class="col-xs-12 col-md-6">
        <div class="row">
          <h4 class="text-center" style="color: black">
            رشته
            <%= project.shoot_type.title %>
          </h4>
        </div>
        <div class="row">
          <div class="col-xs-12 text-center" style="font-size: small">
            پکیج <%= project.package.display_name %>
          </div>
        </div>
        <!--        <div class="row">-->
        <!--          <div class="col-xs-6 text-center">تاریخ عکاسی:</div>-->
        <!--          <div class="col-xs-6"><%#= project.start_time.to_date.to_pdate %></div>-->
        <!--        </div>-->

        <div class="row">
          <div class="col-xs-10 col-xs-offset-1 " style=" padding: 15px;    border-radius: 10px;">
            <div class="col-xs-12">
              <div class="owl-item" style="width: 100%">
                <div class="item" style="text-align: center">
                  <header style="margin-top: 0px!important;
                      margin-bottom: 0px!important;">
                    <div style="color: gray;
                        margin-bottom: 22px;">
                      <h4>
                        <span style="font-size: small">
                        انتخاب کارفرما:
                        </span>
                        <% if project.photographer.present? %>
                          <%= link_to project.photographer.abbrv_name, "https://pro.kadro.co/#{project.photographer.uid}" if project.photographer_id.present? %>
                        <% end %>
                      </h4>
                    </div>
                  </header>

                  <div class="photographer-avatar-container">
                    <% if project.photographer.present? %>
                      <div class="img" style="background-image: url('<%= project.photographer.avatar.medium.url %>'); cursor: pointer;-webkit-border-radius: 50%;
                          -moz-border-radius: 50%;
                          border-radius: 50%;
                          -webkit-background-size: cover;
                          background-size: cover;
                          background-position: center;
                          height: 90px;
                          width: 90px;
                          margin: 0 auto;cursor: unset">
                        <svg class="photographer-change-circle" viewBox="0 0 100 100" id="0">
                          <defs>
                            <linearGradient id="gradient" x1="0%" y1="0%" x2="100%" y2="0%">
                              <stop offset="0%" style="stop-color: rgb(137, 33, 107); stop-opacity: 1;"></stop>
                              <stop offset="100%" style="stop-color: rgb(218, 68, 83); stop-opacity: 1;"></stop>
                            </linearGradient>
                          </defs>
                          <circle cx="50" cy="50" r="46" style="stroke: url('#gradient');"></circle>
                        </svg>
                      </div>
                    <% end %>
                  </div>
                  <div class="stars rating">
                    <% if project.photographer.present? %>
                      <% rate = (project.photographer.arate + project.photographer.qrate) / 4 %>
                      <% if rate.to_i == rate %>
                        <% (5 - rate).to_i.times do %>
                          <span class="none-star"></span>
                        <% end %>
                      <% else %>
                        <% (5 - rate.to_i - 1).times do %>
                          <span class="none-star"></span>
                        <% end %>
                        <span class="half-star"></span>
                      <% end %>
                      <% rate.to_i.times do %>
                        <span class="star"></span>
                      <% end %>
                    <% end %>
                  </div>
                  <% if project.photographer.present? %>
                    <%= link_to "مشاهده پروفایل", "https://pro.kadro.co/#{project.photographer.uid}", class: 'portfolio-example btn btn-xs btn-blue', target: '_blank' %>
                  <% end %>
                </div>
              </div>

            </div>
          </div>
        </div>

      </div>
      <div class="col-xs-12 col-md-6">
        <div class="row" style="margin-top: 5%">
          <p class="text-center" style="color: grey">
            عکاسان پیشنهاد شده به کارفرما
          </p>
        </div>
        <div class="row">
          <div class="shoot-slider owl-carousel">
            <% photographer_rivals.each do |photographer| %>
              <div class="owl-item" style="width: 100%">
                <div class="item" style="text-align: center">
                  <header style="margin-top: 0px!important;
                      margin-bottom: 0px!important;">
                    <div style="color: gray;
                        margin-bottom: 22px;">
                      <h4>
                        <%= photographer.abbrv_name %>
                      </h4>
                    </div>
                  </header>
                  <div class="photographer-avatar-container">
                    <div class="img" style="background-image: url('<%= photographer.avatar.medium.url %>'); cursor: pointer;-webkit-border-radius: 50%;
                        -moz-border-radius: 50%;
                        border-radius: 50%;
                        -webkit-background-size: cover;
                        background-size: cover;
                        background-position: center;
                        height: 90px;
                        width: 90px;
                        margin: 0 auto;cursor: unset">
                      <svg class="photographer-change-circle" viewBox="0 0 100 100" id="0">
                        <defs>
                          <linearGradient id="gradient" x1="0%" y1="0%" x2="100%" y2="0%">
                            <stop offset="0%" style="stop-color: rgb(137, 33, 107); stop-opacity: 1;"></stop>
                            <stop offset="100%" style="stop-color: rgb(218, 68, 83); stop-opacity: 1;"></stop>
                          </linearGradient>
                        </defs>
                        <circle cx="50" cy="50" r="46" style="stroke: url('#gradient');"></circle>
                      </svg>
                    </div>
                  </div>
                  <div class="stars rating">
                    <% rate = (photographer.arate + photographer.qrate) / 4 %>
                    <% if rate.to_i == rate %>
                      <% (5 - rate).to_i.times do %>
                        <span class="none-star"></span>
                      <% end %>
                    <% else %>
                      <% (5 - rate.to_i - 1).times do %>
                        <span class="none-star"></span>
                      <% end %>
                      <span class="half-star"></span>
                    <% end %>
                    <% rate.to_i.times do %>
                      <span class="star"></span>
                    <% end %>
                  </div>

                  <%= link_to "مشاهده پروفایل", "https://pro.kadro.co/#{photographer.uid}", class: 'portfolio-example btn btn-xs btn-primary', target: '_blank' %>

                  <p class="price-box-mobile" style="font-size: small; margin-top: 10px"><i class="fa fa-taxi"></i>
                    هزینه رفت و آمد:
                    <%= number_with_delimiter(photographer.price.to_i, :delimiter => ',') %>
                    تومان
                  </p>
                </div>
              </div>
            <% end %>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>



<!--    <div class="row">-->
<!--      <div class="col-xs-12">آدرس:</div>-->
<!--      <div class="col-xs-12" style="font-size: small">-->
<!--        <p>-->
<%#= project.address.detail %>
<!--        </p>-->
<!--      </div>-->
<!--    </div>-->
<!--    <div class="row text-center" style="font-size: small; color: black">-->
<!--      <div class="col-xs-12">-->
<!--          هزینه ایاب و ذهاب:-->
<%#= project.receipt.transportion_cost.to_i %>
<!--          تومان-->
<!--      </div>-->
<!--    </div>-->



<script type="text/javascript" charset="utf-8">
    $(document).ready(function () {
        persian_number();


        $('.shoot-slider').owlCarousel({
            navText: [],
            nav: true,
            rtl: true,
            responsiveClass: true,
            responsive: {
                0: {
                    items: 1
                },
                600: {
                    items: 2
                },
                1000: {
                    items: 2
                }
            }
        });





    });

    function persian_number() {
        persian = {0: '۰', 1: '۱', 2: '۲', 3: '۳', 4: '۴', 5: '۵', 6: '۶', 7: '۷', 8: '۸', 9: '۹'};

        function traverse(el) {
            if (el.nodeType == 3) {
                var list = el.data.match(/[0-9]/g);
                if (list != null && list.length != 0) {
                    for (var i = 0; i < list.length; i++)
                        el.data = el.data.replace(list[i], persian[list[i]]);
                }
            }
            for (var i = 0; i < el.childNodes.length; i++) {
                traverse(el.childNodes[i]);
            }
        }

        traverse(document.body);
    }
</script>
