<head>
  <% if Rails.env.production? %>
    <%= render 'shared/externals/gtag_header' %>
    <%= render 'shared/externals/ganalytics' %>
<% end %>
  <title>
    Apply for ShootEmpire 
  </title>
  <meta charset="UTF-8">
  <meta name="description" content="<%= t(:'general.home.seo.meta_description') %>">
  <meta name="keywords" content="<%= t(:'general.home.seo.meta_keywords') %>">
  <meta name="author" content="<%= t(:'general.home.seo.meta_author') %>">
  <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no">
  <META NAME="ROBOTS" CONTENT="INDEX, FOLLOW">


  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">

  
  <link rel="icon" type="image/png" href="/img/shootempire.png">
  <meta name="theme-color" content="RGB(41, 135, 249)" />

  <script type="application/ld+json">
    {
      "@context": "https://schema.org",
      "@type": "Organization",
      "url": "https://shootempire.com",
      "logo": "https://shootempire.com/img/shootempire.png",
    }
  </script>

  <%= csrf_meta_tags %>
 
  <%= csrf_meta_tags %>
  <%= stylesheet_link_tag 'wordpress', media: 'all', 'data-turbolinks-track': 'reload' %>
  <%= javascript_include_tag 'wordpress', 'data-turbolinks-track': 'reload' %>


</head> 
<%= render "public/shared/wordpress_header" %>

<body>
  <section class="container">
    <div class="row">
        <div class="col-12 col-sm-10 mx-auto">
          <h3>
            shoot types
          </h3>
        </div>
    </div>
  </section>  

  <section class="container">
    <div class="row" style="margin-bottom: 30px;">
      <div class="col-12 col-sm-8 mx-auto">
        <% ShootType.all.active.each do |st| %>
        <div class="card" style="width: 18rem;">
            <img class="card-img-top" src="<%=st.avatar_url%>" alt="<%=st.w_subtitle%>">
            <div class="card-body">
              <h5 class="card-title">
                <%= st.title %>
              </h5>
              <p class="card-text">
                <%= st.w_title %>
              </p>
              <a href="<%=new_expertise_url(photographer_id: current_photographer.id , shoot_type_id: st.id)%>" class="btn btn-primary"> Add </a>
            </div>
        </div>
        <% end %>
      </div>
    </div>
  </section>
  <%= render "types/sections/mobile_footer"%>
</body>

