<head>
  <% if Rails.env.production? %>
    <%= render 'shared/externals/gtag_header' %>
    <%= render 'shared/externals/ganalytics' %>
<% end %>
  <title>
    my Dashboard
  </title>
  <meta charset="UTF-8">
  <meta name="description" content="<%= t(:'general.home.seo.meta_description') %>">
  <meta name="keywords" content="<%= t(:'general.home.seo.meta_keywords') %>">
  <meta name="author" content="<%= t(:'general.home.seo.meta_author') %>">
  <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no">
  <META NAME="ROBOTS" CONTENT="INDEX, FOLLOW">

  <link rel="icon" type="image/png" href="/img/shootempire.png">
  <meta name="theme-color" content="RGB(41, 135, 249)" />


  <%= csrf_meta_tags %>
  <% if Rails.env.production? %>
    <%= stylesheet_link_tag 'wordpress', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'wordpress', 'data-turbolinks-track': 'reload' %>
  <% else %>
    <%= stylesheet_link_tag 'wordpress', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'wordpress', 'data-turbolinks-track': 'reload' %>
  <% end %>
</head>
  <%= render "public/shared/wordpress_header" %>
<body>
  <div class="container">
    <div class="row">
      <div class="col-12">
        <h1 class="h3">
          Thanks for joining ShootEmpire
          <%= current_photographer.email %>
        </h1>
        <p class="text-center">
          complete your profile here:
        </p>
      </div>
    </div>
  </div>
</section>
<%= render "types/sections/mobile_footer"%>

</body>

<%#= render 'shared/studio_header', title: @top_title %>
<!-- 
<section id="main">
  <div class="container">
    <div class="main">
      <div class="wrapper">
        <div class="row">
          <%#= render 'shared/studio_top_navigation' %>
          <% if @photographer.join_step.name == 'تایید نهایی' and @photographer.approved_at > (Time.now-30.days)%>
            <div class="row">
              <%#= render 'photographers/messages/contract' %>
            </div>
          <% end %>
          <%#= render partial: 'photographers/analyze/statistics', locals: {projects_number: projects_number, total_income: total_income, customers_number: customers_number, duration_total: duration_total, frames_number: frames_number, download_number: download_number, suggestion_times: suggestion_times, arate: arate, qrate: qrate, bought_frames: bought_frames} %>
        </div>
        <div class="row">
          <%#= render partial: 'photographers/updates/last_updates' %>
        </div>
      </div>
    </div>
  </div>
</section> -->
