<section class="fdb-block features"  style="background-image: url(/types/imgs/shapes/6.svg)">
  <div class="container">
    <div class="row text-left">
      <div class="col-12">
        <h2>
          <%= t(:'general.home.section5.title') %>
        </h2>
      </div>
    </div>
    <div class="row text-left mt-5">
      <div class="col-12 col-sm-6 col-lg-3">
        <div class="row">
          <div class="col-3">
            <img alt="image" class="img-fluid" src="/img/home/guarantee.svg">
          </div>
          <div class="col-9">
            <h3><strong>
              <%= t(:'general.home.section5.subtitle1') %>
              </strong></h3>
            <p>
              <%= t(:'general.home.section5.explain1') %>
            </p>
          </div>
        </div>
      </div>
      <div class="col-12 col-sm-6 col-lg-3 pt-3 pt-sm-0">
        <div class="row">
          <div class="col-3">
            <img alt="image" class="img-fluid" src="/img/home/map-pin.svg">
          </div>
          <div class="col-9">
            <h3><strong> <%= t(:'general.home.section5.subtitle2') %> </strong></h3>
            <p>
              <%= t(:'general.home.section5.explain2') %>
            </p>
          </div>
        </div>
      </div>
      <div class="col-12 col-sm-6 col-lg-3 pt-3 pt-lg-0">
        <div class="row">
          <div class="col-3">
            <img alt="image" class="img-fluid" src="/img/home/image.svg">
          </div>
          <div class="col-9">
            <h3>
              <strong class="text-dark">
               <%= t(:'general.home.section5.subtitle3') %>
              </strong>
            </h3>
            <p>
             <%= t(:'general.home.section5.explain3') %>
            </p>
          </div>
        </div>
      </div>
      <div class="col-12 col-sm-6 col-lg-3 pt-3 pt-lg-0">
        <div class="row">
          <div class="col-3">
            <img alt="image" class="img-fluid" src="/img/home/users.svg">
          </div>
          <div class="col-9">
            <h3><strong> <%= t(:'general.home.section5.subtitle4') %> </strong></h3>
            <p>
              <%= t(:'general.home.section5.explain4') %>
            </p>
          </div>
        </div>
      </div>
    </div>

    <div class="row text-left pt-3 pt-lg-5">
      <div class="col-12 col-sm-6 col-lg-3">
        <div class="row">
          <div class="col-3">
            <img alt="image" class="img-fluid" src="/img/home/printer.svg">
          </div>
          <div class="col-9">
            <h3><strong>  <%= t(:'general.home.section5.subtitle5') %> </strong></h3>
            <p>
              <%= t(:'general.home.section5.explain5') %>
            </p>
          </div>
        </div>
      </div>
      <div class="col-12 col-sm-6 col-lg-3 pt-3 pt-sm-0">
        <div class="row">
          <div class="col-3">
            <img alt="image" class="img-fluid" src="/img/home/crop.svg">
          </div>
          <div class="col-9">
            <h3><strong>  <%= t(:'general.home.section5.subtitle6') %> </strong></h3>
            <p>
               <%= t(:'general.home.section5.explain6') %>
             <!-- <strong class="text-dark">
                همه پکیج ها و همه رشته ها
              </strong> -->
            </p>
          </div>
        </div>
      </div>
      <div class="col-12 col-sm-6 col-lg-3 pt-3 pt-lg-0">
        <div class="row">
          <div class="col-3">
            <img alt="image" class="img-fluid" src="/img/home/eye-off.svg">
          </div>
          <div class="col-9">
            <h3><strong>
             <%= t(:'general.home.section5.subtitle7') %>
            </strong></h3>
            <p>
             <%= t(:'general.home.section5.explain7') %>
              <!-- <strong class="text-dark"> خانم کادرو</strong>   عکسها را برای کنترل کیفیت چک میکند. -->
            </p>
          </div>
        </div>
      </div>
      <div class="col-12 col-sm-6 col-lg-3 pt-3 pt-lg-0">
        <div class="row">
          <div class="col-3">
            <img alt="image" class="img-fluid" src="/img/home/shield.svg">
          </div>
          <div class="col-9">
            <h3><strong>
              <%= t(:'general.home.section5.subtitle8') %>
            </strong></h3>
            <p>
              <%= t(:'general.home.section5.explain8') %>
            </p>

          </div>
        </div>
      </div>
    </div>
  </div>
</section>
