<section class="fdb-block px-sm-3 px-md-5 bg-dark" id="how_works" style="background-image: url(/types/imgs/shapes/10.svg)">
  <div class="container-fluid" id="home-how">
    <div class="row justify-content-center ">
      <div class="col-12 text-left">
        <h2>
          <%= t(:'general.home.section4.title') %>
        </h2>
      </div>
    </div>

    <div class="row text-left align-items-center ">
      <div class="col-6">
        <img alt="image" class="img-fluid" alt="قیمت های عکاسی" src=<%=assets_url("/img/home/prices.svg")%> >
      </div>

      <div class="col-12 col-md-5 m-md-auto">
        <h3 class="header-lead text-center text-dark">
          <strong>
            <%= t(:'general.home.section4.subtitle1') %>
          </strong>
        </h3>
        <p class="lead">
          <%= t(:'general.home.section4.explain') %> 
        </p>  
         <!-- <strong>
            Kadro
          </strong>-->
      </div>
    </div>

    <div class="row text-left align-items-center pt-5 pb-md-5">
      <div class="col-12 col-md-5 m-md-auto order-md-5">
        <img alt="image" class="img-fluid" alt="انتخاب عکاس حرفه ای" src=<%=assets_url("/img/home/selection.svg")%> >
      </div>

      <div class="col-12 col-md-5">
        <h3 class="header-lead text-left text-dark"><strong> <%= t(:'general.home.section4.subtitle2') %> </strong></h3>
        <p class="lead text-left">
          <strong>
            <%= t(:'general.home.section4.explain1') %> 
          </strong> <%= t(:'general.home.section4.explain2') %> 
          <strong>
           <%= t(:'general.home.section4.explain3') %> 
          </strong>
          <%= t(:'general.home.section4.explain4') %> 
          <!--<strong class=""> نظرات قبلی </strong>-->
        </p>
      </div>
    </div>

    <div class="row text-left align-items-center  pt-5 pb-md-5">
      <div class="col-12 col-md-5">
        <img alt="image" class="img-fluid" alt="پرداخت قیمت عکاسی با ضمانت ۷ روزه" src=<%=assets_url("/img/home/safe.svg")%> >
      </div>
      <div class="col-12 col-md-5 m-md-auto">
        <h3 class="header-lead text-left text-dark"><strong> <%= t(:'general.home.section4.subtitle3') %> </strong></h3>
        <p class="lead text-left">
          <%= t(:'general.home.section4.explain5') %>
          <strong> <%= t(:'general.home.section4.explain6') %> </strong>
          <br>
         <%= t(:'general.home.section4.explain7') %>
          <!--<strong> آزاد  </strong> -->
        </p>
      </div>
    </div>
    <div class="row text-left align-items-center pb-md-5 pt-5 ">
      <div class="col-12 col-md-5 m-md-auto order-md-5">
        <img alt="image" class="img-fluid" alt="انجام عکاسی در محل" src=<%=assets_url("/img/home/photography.svg")%> >
      </div>

      <div class="col-12 col-md-5">
        <h3 class="header-lead text-left text-dark"><strong> <%= t(:'general.home.section4.subtitle4') %> </strong></h3>
        <p class="lead text-left" >
          <%= t(:'general.home.section4.explain8') %>
          <br>
          <%= t(:'general.home.section4.explain9') %>
         <!-- <strong class="text-dark"> تمدید </strong>-->
        </p>
      </div>
    </div>
    <div class="row text-left align-items-center  pt-5 pb-md-5">
      <div class="col-12 col-md-5">
        <img alt="image" class="img-fluid" alt="تحویل عکسها در آلبوم شخصی" src=<%=assets_url("/img/home/album_download.svg")%> >
      </div>
      <div class="col-12 col-md-5 m-md-auto">
        <h3 class="header-lead text-left text-dark"><strong> <%= t(:'general.home.section4.explain10') %> </strong></h3>
        <p class="lead text-left">
          <%= t(:'general.home.section4.explain11') %>
          <!--<strong class="text-gray"> ادیت نور و رنگ همه عکسهاتون </strong>-->
        </p>
      </div>
    </div>
    <div class="row text-left align-items-center pt-5 pb-md-5">
      <div class="col-12 col-md-5 m-md-auto order-md-5">
        <img alt="image" class="img-fluid" alt="نظر دهی به عکاس" src=<%=assets_url("/img/home/submit_comment.svg")%> >
      </div>

      <div class="col-12 col-md-5">
        <h3 class="header-lead text-left text-dark"><strong> <%= t(:'general.home.section4.subtitle5') %> </strong></h3>
        <p class="lead text-left">
         <%= t(:'general.home.section4.explain12') %>
          <br>
          <%= t(:'general.home.section4.explain13') %>
        </p>
      </div>
    </div>
    <div class="row  pt-5 pb-md-5">
      <div class="col text-center">
        <h2 class="text-center">
          <%= t(:'general.home.section4.subtitle6') %>
        </h2>
        <p class="text-center text-white">
           <%= t(:'general.home.section4.explain14') %>
        </p>
      </div>
    </div>
    <div class="row justify-content-center">
      <div class="col-10 col-sm-8 my-5">
        <%= video_tag "/img/home/main.mp4", title: "ویدیو توضیحی کادرو" , width:"100%", :controls => true ,class:"img-fluid rounded shadow-lg"%>
      </div>
    </div>
  </div>
</section>
