<section class="fdb-block team-7">
  <div class="container">
    <div class="row text-center justify-content-center">
      <div class="col-12">
        <h2> <%= t(:'general.types.sections.section5.title1-2') %> <%=@shoot_type.title %> <%= t(:'general.types.sections.section5.title1-1') %> </h2>
        <p class="lead text-center">
          <%= t(:'general.types.sections.section5.subtitle1-1') %>
        </p>
      </div>
    </div>

    <div class="row-50"></div>

    <div class="row justify-content-center">
      <% @photographers.first(8).each do |ph| %>
      <div class="col-6 col-sm-3 m-sm-auto">
        <%= link_to "#from_here" do %>
        <div class="row align-items-center">
          <div class="col-5">
            <img alt="image" alt="<%=ph.abbrv_name%> - عکاس حرفه ای در کادرو" class="img-fluid rounded-circle" src="<%=assets_url(ph.avatar_url(:mini))%>">
          </div>
          <div class="col-7 text-right">
            <h5 class="text-right">  <%=ph.abbrv_name%>  </h5>
            <h6 class="text-right text-muted"> <%= ph.location.city.name if ph.location.city.present? %> </h6>
          </div>
        </div>
        <% end %>
      </div>
      <% end %>
    </div>
  </div>
  <div class="row text-center" id="from_here" style="padding: 3em 0em 0 0;">
    <div class="col-12 m-sm-auto">
      <p class="text-center">
       <%= t(:'general.types.sections.section5.subtitle1-2') %>
        <%=@shoot_type.title %>
       <%= t(:'general.types.sections.section5.subtitle1-3') %>
      </p>
      <p class="mt-3 text-center">
        <a class="btn btn-primary btn-lg sl-1" href="<%=book_url%>">
          <i class="fa fa-angle-right"></i>
        <%= t(:'general.types.sections.section5.button2') %>
        <%=@shoot_type.title %>
         <%= t(:'general.types.sections.section5.button1') %>

        </a>
      </p>
    </div>
  </div>
  <div class="row-100"></div>
  <div class="container">
    <div class="row align-items-center justify-content-center">
      <div class="col-12 col-md-8 col-lg-5 m-md-auto">
        <img class="img-fluid" alt=" بهترین عکاسان <%=@shoot_type.title%> در ایران" src="<%=assets_url("/img/irmap.png")%>">
      </div>
      <div class="col-12 col-lg-7 col-xl-7 ml-sm-auto pt-5 pt-lg-0">
        <h2 class=""> <%= t(:'general.types.sections.section5.title2-1') %>
          <small><%=@shoot_type.title%></small>
          <%= t(:'general.types.sections.section5.title2-2') %>
          </h2>
          <div class="row pt-4 pt-xl-5">
            <% @cities.first(2).each do |city|%>
            <div class="col-12 col-sm-6 col-xl-6">
              <%= link_to "https://pro.#{environment_url}/city/#{city.name}/expertise/#{@shoot_type.title}" ,class: "" do %>
              <h4 class="text-right"><strong> <%=city.name%> </strong></h4>
              <p class="text-right">   <%= t(:'general.types.sections.section5.subtitle2') %>
                <strong><%=@shoot_type.title%></strong> در
                <%=city.name%>
              </p>
              <% end %>
            </div>
            <% end %>
          </div>

          <div class="row pt-3">
            <% @cities.last(2).each do |city|%>
            <div class="col-12 col-sm-6 col-xl-6">
              <%= link_to "https://pro.#{environment_url}/city/#{city.name}/expertise/#{@shoot_type.title}" ,class: "" do %>
              <h4 class="text-right"><strong> <%=city.name%> </strong></h4>
              <p class="text-right">  <%= t(:'general.types.sections.section5.subtitle2') %>
                <strong><%=@shoot_type.title%></strong> در
                <%=city.name%>
              </p>
              <% end %>
            </div>
            <% end %>
          </div>
        </div>
      </div>
    </div>
  </section>
