<section class="fdb-block"  style="background-image: url(/types/imgs/shapes/8.svg)">
  <div class="container">
    <div class="row text-center">
      <div class="col-12">
        <h2>
          <%=t(:'general.types.sections.section7.title') %><%=@shoot_type.title%>
        </h2>
      </div>
    </div>
    <div class="row text-left mt-5">
      <div class="col-12 col-sm-6 col-lg-3">
        <div class="row">
          <div class="col-3">
            <img class="img-fluid" alt="هفت روز ضمانت بازگشت مبلغ عکاسی" src="/img/home/guarantee.svg">
          </div>
          <div class="col-9">
            <h3><strong>
              <%=t(:'general.types.sections.section7.subtitle1') %></strong></h3>
            <p>
              <%=t(:'general.types.sections.section7.explain1') %>
            </p>
          </div>
        </div>
      </div>
      <div class="col-12 col-sm-6 col-lg-3 pt-3 pt-sm-0">
        <div class="row">
          <div class="col-3">
            <img class="img-fluid" alt="تحویل فایل اصلی عکسها در محل" src="/img/home/map-pin.svg">
          </div>
          <div class="col-9">
            <h3><strong> <%=t(:'general.types.sections.section7.subtitle2') %> </strong></h3>
            <p>
              <%=t(:'general.types.sections.section7.explain2') %>
            </p>
          </div>
        </div>
      </div>
      <div class="col-12 col-sm-6 col-lg-3 pt-3 pt-lg-0">
        <div class="row">
          <div class="col-3">
            <img class="img-fluid" alt="تعرفه قیمت عکاسی" src="/img/home/trending-down.svg">
          </div>
          <div class="col-9">
            <h3><strong> <%=t(:'general.types.sections.section7.subtitle3') %> </strong></h3>
            <p>
               <%=t(:'general.types.sections.section7.explain3') %>
            </p>
          </div>
        </div>
      </div>
      <div class="col-12 col-sm-6 col-lg-3 pt-3 pt-lg-0">
        <div class="row">
          <div class="col-3">
            <img class="img-fluid" src="/img/home/users.svg">
          </div>
          <div class="col-9">
            <h3><strong> <%=t(:'general.types.sections.section7.subtitle4') %> </strong></h3>
            <p>
              <%=t(:'general.types.sections.section7.explain4') %>
            </p>
          </div>
        </div>
      </div>
    </div>

    <div class="row text-left pt-3 pt-lg-5">
      <div class="col-12 col-sm-6 col-lg-3">
        <div class="row">
          <div class="col-3">
            <img class="img-fluid" src="/img/home/image.svg">
          </div>
          <div class="col-9">
            <h3><strong> <%=t(:'general.types.sections.section7.subtitle5') %></strong></h3>
            <p>
             <%=t(:'general.types.sections.section7.explain5') %>
            </p>
          </div>
        </div>
      </div>
      <div class="col-12 col-sm-6 col-lg-3 pt-3 pt-sm-0">
        <div class="row">
          <div class="col-3">
            <img class="img-fluid" src="/img/home/crop.svg">
          </div>
          <div class="col-9">
            <h3><strong> <%=t(:'general.types.sections.section7.subtitle6') %> </strong></h3>
            <p>
               <%=t(:'general.types.sections.section7.explain6') %>.
            </p>
          </div>
        </div>
      </div>
      <div class="col-12 col-sm-6 col-lg-3 pt-3 pt-lg-0">
        <div class="row">
          <div class="col-3">
            <img class="img-fluid" src="/img/home/eye-off.svg">
          </div>
          <div class="col-9">
            <h3><strong>
              <%=t(:'general.types.sections.section7.subtitle7') %>
            </strong></h3>
            <p>
               <%=t(:'general.types.sections.section7.explain7-1') %>
             <!-- <strong class="text-dark"> خانم کادرو</strong>-->
               <%=t(:'general.types.sections.section7.explain7-2') %>
            </p>
          </div>
        </div>
      </div>
      <div class="col-12 col-sm-6 col-lg-3 pt-3 pt-lg-0">
        <div class="row">
          <div class="col-3">
            <img class="img-fluid" src="/img/home/shield.svg">
          </div>
          <div class="col-9">
            <h3><strong>
              <%=t(:'general.types.sections.section7.subtitle8') %>
            </strong></h3>
            <p>
             <%=t(:'general.types.sections.section7.explain8') %>
            </p>

          </div>
        </div>
      </div>
    </div>
  </div>
  <%= render "types/sections/relevants", :@shoot_type=>@shoot_type%>
</section>