<section class="fdb-block bg-gray">
  <div class="container">
    <div class="row">
      <div class="col-12 col-md-6 m-md-auto ml-lg-0 col-lg-5">
        <img alt="image" class="img-fluid" src="<%=assets_url("/img/newsletterphotographers.png")%>">
      </div>
      <div id="subscribers_section" class="col-12 col-md-10 col-lg-6 mt-4 mt-lg-0 ml-auto mr-auto ml-lg-auto text-left" >
        <div class="row">
          <div class="col">
            <h2> <%= t(:'general.home.footer.titles.title1') %> </h2>
            <p class="lead text-left">
              <%= t(:'general.home.footer.titles.explain1') %>
            </p>
          </div>
        </div>
        <div class="row mt-4">
          <div class="col">
            <div class="input-group">
              <div class="input-group-append">
                <button class="btn btn-primary" type="button" onclick="submit_subscribers()"> <%= t(:'general.home.footer.titles.button') %> </button>
              </div>
              <input id="email_input" type="text" class="form-control" placeholder=" <%= t(:'general.home.footer.titles.explain2') %> ">
            </div>
          </div>
        </div>
        <div class="row">
          <div class="col">
            <p class="h4 text-left"> <%= t(:'general.home.footer.titles.explain3') %></p>
          </div>
        </div>
      </div>
      <div class="col-12 col-md-10 col-lg-6 mt-4 mt-lg-0 ml-auto mr-auto ml-lg-auto text-center" id="tanks_submit_subscribers" style="display: none;">
        <img src="<%= root_url %>/img/checked-icon.png" alt="" style="height: 150px;">
        <div class="text-center" style="margin-top: 40px;">
          <h2>ایمیل شما ثبت شد</h2>
          <p>به زودی اولین کادرونامه را دریافت خواهید کرد</p>
        </div>
      </div>
    </div>
  </div>
</section>
<footer class="fdb-block footer-small bg-dark">
 <!-- <div class="container">
    <div class="row text-center align-items-center">
      <div class="col">
        <ul class="nav justify-content-center">
          <li class="nav-item">
            <a class="nav-link active" href="<%=kadro_url %>"> <%= t(:'general.home.footer.titles.title2') %> </a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="<%=all_pros_url %>"> <%= t(:'general.home.footer.titles.title3') %> </a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="<%=galleries_url%>"> <%= t(:'general.home.footer.titles.title4') %> </a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="<%=join_us_url %>"> <%= t(:'general.home.footer.titles.title5') %> </a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="<%=about_us_url %>"><%= t(:'general.home.footer.titles.title6') %> </a>
          </li>
        </ul>
      </div>
    </div>
  </div> -->
  <div class="container py-5">
    <div class="row align-items-top text-center">
      <div class="col-6 col-sm-6 col-md-4 col-lg-3 text-sm-right text-right">
        <h2 class="text-right"><strong> <%= t(:'general.home.footer.subtitles.subtitle1') %> </strong></h2>
        <nav class="nav flex-column">
          <a class="nav-link active" href="<%=contact_us_url %>"> <%= t(:'general.home.footer.subtitles.subtitle2') %></a>
  <!--     <a class="nav-link active" href="<%=terms_url %>"> <%= t(:'general.home.footer.subtitles.subtitle3') %> </a> -->    
  <!--         <a class="nav-link" href="<%=privacy_url%>"><%= t(:'general.home.footer.subtitles.subtitle4') %> </a> -->    
          <a class="nav-link" href="<%=faq_url %>"> <%= t(:'general.home.footer.subtitles.subtitle5') %></a>
          <a class="nav-link" href="https://forms.gle/ozCdsYxiREnWC3V86" target="_blank"> <%= t(:'general.home.footer.subtitles.subtitle6') %></a>
          <a class="nav-link" href="https://www.kadro.me/news"><%= t(:'general.home.footer.subtitles.subtitle7') %></a>
        </nav>
      </div>
   <!-- <div class="col-6 col-sm-6 col-md-4 col-lg-3  text-sm-right text-right">
        <h2 class="text-right"><strong> <%= t(:'general.home.footer.subtitles.subtitle8') %></strong></h2>
        <nav class="nav flex-column">
          <a class="nav-link active" href="<%= videography_url %>"> <%= t(:'general.home.footer.subtitles.subtitle8') %></a>
<!--          <a class="nav-link" href="<%#= enterprises_url %>"> پکیج های تجاری </a>-->
          <a class="nav-link" href="<%=shoot_location_root_url %>"> <%= t(:'general.home.footer.subtitles.subtitle9') %> </a>
          <a class="nav-link" href="https://www.kadro.me/affiliate"> <%= t(:'general.home.footer.subtitles.subtitle10') %></a>
          <a class="nav-link" href="<%=users_refer_url %>"> <%= t(:'general.home.footer.subtitles.subtitle11') %></a>
        </nav>
      </div>-->
      <div class="col-12 col-md-4 col-lg-3 text-right">
        <h2 class="text-right"><strong> <%= t(:'general.home.footer.subtitles.subtitle12') %> </strong></h2>
        <nav class="nav flex-column">
          <a class="nav-link" href="https://www.kadro.me/blog/"> <%= t(:'general.home.footer.subtitles.subtitle13') %></a>
          <a class="nav-link" href="<%=standard_edit_url %>"> <%= t(:'general.home.footer.subtitles.subtitle14') %> </a>
          <a class="nav-link" href="<%=retouch_edit_url %>"> <%= t(:'general.home.footer.subtitles.subtitle15') %> </a>
          <a class="nav-link" href="<%=pricing_url %>"> <%= t(:'general.home.footer.subtitles.subtitle16') %>  </a>
         <!--  <a class="nav-link" href="<%=print_prices_url %>"> <%= t(:'general.home.footer.subtitles.subtitle17') %> </a> -->
        </nav>
      </div>

      <div class="col-12 col-lg-2 ml-auto text-lg-left mt-4 mt-lg-0  border-top border-primary">
        <h3><strong> <%= t(:'general.home.footer.subtitles.subtitle18') %>  </strong></h3>
        <p class="lead text-center">
           <a href="https://www.instagram.com/kadro.official/" class="mx-2 "><i class="fa fa-instagram" aria-hidden="true"></i></a>
         <!--  
          <a href="https://twitter.com/kadro_co" class="mx-2 "><i class="fa fa-twitter" aria-hidden="true"></i></a>
          <a href="https://www.facebook.com/kadro.me" class="mx-2 "><i class="fa fa-facebook" aria-hidden="true"></i></a>
          <a href="https://www.instagram.com/kadro.official/" class="mx-2 "><i class="fa fa-instagram" aria-hidden="true"></i></a>
          <a href="https://www.pinterest.ch/kadro_co/" class="mx-2 "><i class="fa fa-pinterest" aria-hidden="true"></i></a>
          <a href="https://www.linkedin.com/company/kadro-photography" class="mx-2 "><i class="fa fa-linkedin" aria-hidden="true"></i></a>
          <a href="https://api.whatsapp.com/send?phone=09035974218" class="mx-2 "><i class="fa fa-whatsapp" aria-hidden="true"></i></a> -->
        </p>
      </div>
    </div>
    <div class="row mt-3">
      <div class="col text-center" style="direction: ltr;">
        © 2017-2020 <%=link_to "Kadro", "https://www.kadro.me" %> All Rights Reserved.
      </div>
    </div>
    <div class="row">
      <div class="col-12 text-center">
        <a rel="origin" target="_blank" href="https://trustseal.enamad.ir/?id=65186&amp;Code=FTOZGg7W3q8okoTv2JAY"><img src="https://Trustseal.eNamad.ir/logo.aspx?id=65186&amp;Code=FTOZGg7W3q8okoTv2JAY" alt="" style="cursor:pointer" id="FTOZGg7W3q8okoTv2JAY"></a>
      </div>
    </div>
  </div>
</footer>

<script type="text/javascript">
  function submit_subscribers() {
    $.ajax({
      type: "POST",
      url: "/subscribers",
      async: false,
      data: {
        email: $('#email_input').val()
      },
      success: function(data) {
        $("#subscribers_section").css('display','none');
        $("#tanks_submit_subscribers").css('display','block')
    }
    });
  }
</script>
