<footer class="fdb-block footer-small bg-dark">
  <div class="container py-5">
    <div class="row align-items-top justify-content-center">




      <div class="col text-left">
        <nav class="nav flex-column">
          <!-- <a class="nav-link" href="<%=about_us_url %>">
            <%= t(:'general.home.footer.titles.title6') %>
          </a> -->
          <!-- <a class="nav-link" href="<%=contact_us_url %>">
            <%= t(:'general.home.footer.subtitles.subtitle2') %>
          </a> -->
        </nav>
      </div>

      <div class="col text-left">
        <nav class="nav flex-column">
          <a class="nav-link" href="<%=call_request_url %>">
            <%= t(:'general.home.footer.titles.title3') %> 
           </a>
            <a class="nav-link" href="<%=join_us_url %>">
              <%= t(:'general.home.footer.titles.title5') %>
            </a>
        </nav>
      </div>

      <div class="col text-left">
        <h3 class="text-left">
          <strong> <%= t(:'general.home.footer.subtitles.subtitle18') %>  </strong>
        </h3>
        <p class="lead text-left">
          <a href="https://twitter.com/kadro_me" class="mx-2 "><i class="fa fa-twitter" aria-hidden="true"></i></a>
        </p>
      </div>
    </div>
    <div class="row mt-3">
      <div class="col text-center" style="direction: ltr;">
        © 2022-2023 <%=link_to "ShootEmpire.com", "https://www.shootempire.com" %> All Rights Reserved.
      </div>
    </div>
  </div>
</footer>

<script type="text/javascript">
  function submit_subscribers() {
    $.ajax({
  type: "POST",
      url: "/subscribers",
      async: false,
      data: {
        email: $('#email_input').val()
      },
      success: function(data) {
        $("#subscribers_section").css('display','none');
        $("#tanks_submit_subscribers").css('display','block')
      }
    });
  }
</script>
