<section class="fdb-block px-sm-3 px-md-5 bg-dark" id="how_works" style="background-image: url(/types/imgs/shapes/10.svg)">
  <div class="container-fluid" id="home-how">
    <div class="row justify-content-center ">
      <div class="col-12 text-center">
        <h2> <%= t(:'general.types.sections.section6.title1') %> <%=@shoot_type.title %> </h2>
      </div>
    </div>

    <div class="row text-left align-items-center ">
      <div class="col-6">
        <img alt="image" class="img-fluid" alt=<%= t(:'general.types.sections.section6.alt1') %> src=<%=assets_url("/img/home/prices.svg")%> >
      </div>

      <div class="col-12 col-md-5 m-md-auto">
        <h3 class="header-lead text-right text-dark">
          <strong>
          
          </strong>
        </h3>
        <p class="lead">
          <%= t(:'general.types.sections.section6.title2') %>

          <strong>
            <%=@shoot_type.title %>
          </strong>
          <%= t(:'general.types.sections.section6.explain1-1') %>
          <%=@shoot_type.packages.active.order('packages.order ASC').limit(1).last.duration%>
          
          <%=@shoot_type.packages.active.order('packages.order DESC').limit(1).first.duration%>
          <%= t(:'general.types.sections.section6.explain1-2') %>
        </p>
      </div>
    </div>

    <div class="row text-left align-items-center pt-5 pb-md-5">
      <div class="col-12 col-md-5 m-md-auto order-md-5">
        <img alt="image" class="img-fluid" alt=<%= t(:'general.types.sections.section6.alt2') %> src=<%=assets_url("/img/home/selection.svg")%> >
      </div>

      <div class="col-12 col-md-5">
        <h3 class="header-lead text-right text-dark"><strong> <%= t(:'general.types.sections.section6.title3') %> </strong></h3>
        <p class="lead">
         <%= t(:'general.types.sections.section6.explain2-1') %>
          <strong>
            <%=@shoot_type.title %>
          </strong>
          <%= t(:'general.types.sections.section6.explain2-2') %>
         <!--  <strong class=""> نظرات قبلی </strong>
          انتخاب و رزرو کنید.-->
        </p>
      </div>
    </div>

    <div class="row text-left align-items-center  pt-5 pb-md-5">
      <div class="col-12 col-md-5">
        <img alt="image" class="img-fluid" alt=<%= t(:'general.types.sections.section6.alt3') %> src=<%=assets_url("/img/home/safe.svg")%> >
      </div>
      <div class="col-12 col-md-5 m-md-auto">
        <h3 class="header-lead text-right text-dark"><strong> <%= t(:'general.types.sections.section6.title4') %> </strong></h3>
        <p class="lead">
         <%= t(:'general.types.sections.section6.explain3-1') %>
          <strong> <%= t(:'general.types.sections.section6.explain3-2') %> </strong>
          <%= t(:'general.types.sections.section6.explain3-3') %>
         <!--  <strong> آزاد  </strong>
          کنید یا کل مبلغ را باز پس بگیرید.-->
        </p>
      </div>
    </div>
    <div class="row text-left align-items-center pb-md-5 pt-5 ">
      <div class="col-12 col-md-5 m-md-auto order-md-5">
        <img alt="image" class="img-fluid" alt=<%= t(:'general.types.sections.section6.alt4') %> src=<%=assets_url("/img/home/photography.svg")%> >
      </div>

      <div class="col-12 col-md-5">
        <h3 class="header-lead text-right text-dark"><strong> <%= t(:'general.types.sections.section6.title5') %>  </strong></h3>
        <p class="lead">
          <%= t(:'general.types.sections.section6.explain4-1') %> 
          <br>
          <%= t(:'general.types.sections.section6.explain4-2') %> 
          <!-- <strong class="text-dark"> تمدید </strong>
          هم بکنید.-->
        </p>
      </div>
    </div>
    <div class="row text-left align-items-center  pt-5 pb-md-5">
      <div class="col-12 col-md-5">
        <img alt="image" class="img-fluid" alt=<%=t(:'general.types.sections.section6.alt5')%> src=<%=assets_url("/img/home/album_download.svg")%> >
      </div>
      <div class="col-12 col-md-5 m-md-auto">
        <h3 class="header-lead text-right text-dark"><strong><%= t(:'general.types.sections.section6.title6')%></strong></h3>
        <p class="lead">
          <%= t(:'general.types.sections.section6.explain5-1') %> 
          <strong class="text-gray"> <%= t(:'general.types.sections.section6.explain5-2')%></strong>
          <%= t(:'general.types.sections.section6.explain5-3') %> 
        </p>
      </div>
    </div>
    <div class="row text-left align-items-center pt-5 pb-md-5">
      <div class="col-12 col-md-5 m-md-auto order-md-5">
        <img alt="image" class="img-fluid" alt=<%= t(:'general.types.sections.section6.alt6') %> src=<%=assets_url("/img/home/submit_comment.svg")%> >
      </div>

      <div class="col-12 col-md-5">
        <h3 class="header-lead text-right text-white"><strong> <%= t(:'general.types.sections.section6.title7') %>  </strong></h3>
        <p class="lead">
          <%= t(:'general.types.sections.section6.explain6') %> 
        </p>
      </div>
    </div>
  </div>
</section>
