<section class="fdb-block px-sm-3 px-md-5 bg-dark" id="how_works" style="background-image: url(/types/imgs/shapes/10.svg)">
  <div class="container-fluid" id="home-how">
    <div class="row justify-content-center ">
      <div class="col-12 text-center">
        <h2> نحوه رزرو عکاسی <%=@shoot_type.title %> </h2>
      </div>
    </div>

    <div class="row text-left align-items-center ">
      <div class="col-6">
        <img alt="image" class="img-fluid" alt="قیمت های عکاسی" src=<%=assets_url("/img/home/prices.svg")%> >
      </div>

      <div class="col-12 col-md-5 m-md-auto">
        <h3 class="header-lead text-right text-dark">
          <strong>
            انتخاب پکیج
          </strong>
        </h3>
        <p class="lead">
          قیمت های عکاسی

          <strong>
            <%=@shoot_type.title %>
          </strong> به صورت ساعتی است.
          شما می توانید از
          <%=@shoot_type.packages.active.order('packages.order ASC').limit(1).last.duration%>
          تا
          <%=@shoot_type.packages.active.order('packages.order DESC').limit(1).first.duration%>
          عکاس بگیرید و برای هر جا که می خواهید عکاسی کنید.
        </p>
      </div>
    </div>

    <div class="row text-left align-items-center pt-5 pb-md-5">
      <div class="col-12 col-md-5 m-md-auto order-md-5">
        <img alt="image" class="img-fluid" alt="انتخاب عکاس حرفه ای" src=<%=assets_url("/img/home/selection.svg")%> >
      </div>

      <div class="col-12 col-md-5">
        <h3 class="header-lead text-right text-dark"><strong> انتخاب عکاس </strong></h3>
        <p class="lead">
          الگوریتم جستجوی کادرو بهترین عکاسان
          <strong>
            <%=@shoot_type.title %>
          </strong>
          را بر اساس
            زمان و مکان شما
          پیشنهاد می دهد که می توانید با دیدن نمونه کارها و
          <strong class=""> نظرات قبلی </strong>
          انتخاب و رزرو کنید.
        </p>
      </div>
    </div>

    <div class="row text-left align-items-center  pt-5 pb-md-5">
      <div class="col-12 col-md-5">
        <img alt="image" class="img-fluid" alt="پرداخت قیمت عکاسی با ضمانت ۷ روزه" src=<%=assets_url("/img/home/safe.svg")%> >
      </div>
      <div class="col-12 col-md-5 m-md-auto">
        <h3 class="header-lead text-right text-dark"><strong> پرداخت امن </strong></h3>
        <p class="lead">
          مبلغی که شما می پردازید به عکاس
          پرداخت نمی شود تا
          <strong> ۷ روز بعد از عکاسی </strong>
          که شما می توانید در صورت رضایت از عکاس
          مبلغ را برای او
          <strong> آزاد  </strong>
          کنید یا
          کل مبلغ را باز پس بگیرید.
        </p>
      </div>
    </div>
    <div class="row text-left align-items-center pb-md-5 pt-5 ">
      <div class="col-12 col-md-5 m-md-auto order-md-5">
        <img alt="image" class="img-fluid" alt="انجام عکاسی در محل" src=<%=assets_url("/img/home/photography.svg")%> >
      </div>

      <div class="col-12 col-md-5">
        <h3 class="header-lead text-right text-dark"><strong> انجام عکاسی </strong></h3>
        <p class="lead">
          عکاس با تجهیزات عکاسی مناسب کار شما میاد در محل شما، همه کارها رو به او بسپرید و با خیال راحت عکاسی تون رو انجام دهید.
          <br>
          در صورت نیاز میتونید زمان تون رو
          <strong class="text-dark"> تمدید </strong>
          هم بکنید.
        </p>
      </div>
    </div>
    <div class="row text-left align-items-center  pt-5 pb-md-5">
      <div class="col-12 col-md-5">
        <img alt="image" class="img-fluid" alt="تحویل عکسها در آلبوم شخصی" src=<%=assets_url("/img/home/album_download.svg")%> >
      </div>
      <div class="col-12 col-md-5 m-md-auto">
        <h3 class="header-lead text-right text-dark"><strong> دریافت در آلبوم شخصی </strong></h3>
        <p class="lead">
          عکاس بعد از
          <strong class="text-gray"> ادیت نور و رنگ همه عکسهاتون </strong>
          اونها در آلبوم شخصی تون قرار میده و شما می تونید اونا رو ببینید، دانلود کنید، به اشتراک بگذارید یا سفارش چاپ عکس و شاسی بدهید.
        </p>
      </div>
    </div>
    <div class="row text-left align-items-center pt-5 pb-md-5">
      <div class="col-12 col-md-5 m-md-auto order-md-5">
        <img alt="image" class="img-fluid" alt="نظر دهی به عکاس" src=<%=assets_url("/img/home/submit_comment.svg")%> >
      </div>

      <div class="col-12 col-md-5">
        <h3 class="header-lead text-right text-white"><strong> نمره و نظر دهی </strong></h3>
        <p class="lead">
          بعد از دریافت عکس ها، به عکاس تون نظر می دهید و در صورت رضایت مبلغ رو برای عکاس آزاد می کنید.
          در غیر اینصورت میتونید با عکاس دیگری عکاسی کنید یا کل مبلغ تون رو در ۷ روز ضمانت بازگشت مبلغ پس بگیرید.
        </p>
      </div>
    </div>
  </div>
</section>
