<% if @partners.any? %>
<div class="row text-center">
  <div class="col-12">
    <h2>
      خدمات بیشتر <%=@shoot_type.title%>
    </h2>
    <p class="text-center">
      قدرت گرفته از همکاران تجاری کادرو
      </p>
  </div>
</div>
<section class="fdb-block">
  <div class="container">
    <% @partners.each do |partner| %>
    <div class="row align-items-center">
      <div class="col-10 text-center col-sm-6 col-md-4 col-lg-3 m-auto m-md-0">
        <img alt="image" class="img-fluid" src="<%=assets_url(partner.avatar_url(:mini))%>"
        style="-webkit-box-shadow: 2px 3px 20px 5px rgb(145, 153, 235);
box-shadow: 2px 3px 20px 5px rgb(145, 153, 235);">
      </div>
      <div class="col-12 col-md-8 ml-auto pt-5 pt-md-0">
        <h2 class="text-right"><%=partner.title%></h2>
        <p class="lead">
          <%=partner.service%>
        </p>
        <p class="mt-4">
          <a class="btn btn-outline-secondary" target="_blank" rel="noreferrer noopener" href="<%=partner_show_url(id: partner.website)%>"> برو به <%=partner.title%> </a>
        </p>
      </div>
    </div>
    <% end %>
  </div>
</section>
<% end %>
