<script>
  var recommendedHour = <%=@shoot_type.recommended_hours.to_i%>;
  var hourSelected = <%=@shoot_type.recommended_hours.to_i%>;
  var allPackages,allHours;
  document.addEventListener('DOMContentLoaded', function() {
  	allPackages = document.getElementsByClassName("package-card");
  	allHours = document.getElementsByClassName("item-select");
  	updateClasses();
  })

  function updateClasses(){
  	for (var i = 0; i < allPackages.length; i++) {
  	    if(allPackages[i].getAttribute("hour")==hourSelected)
  	    {
  	        allPackages[i].classList.remove('hidden');
  	    }
  	    else{
  	        allPackages[i].classList.add('hidden');
  	    }
  	}

  	for (var i = 0; i < allHours.length; i++) {
  	    if(allHours[i].getAttribute("hour")==hourSelected)
  	    {
  	        allHours[i].classList.add('active');
  	        allHours[i].firstElementChild.classList.add('active');
  	    }
  	    else{
  	        allHours[i].classList.remove('active');
  	        allHours[i].firstElementChild.classList.remove('active');
  	    }

  	    if(allHours[i].getAttribute("hour")==recommendedHour)
  	    {
  	        allHours[i].children[2].style.display="block"
  	    }
  	    else{
  	        allHours[i].children[2].style.display="none"
  	    }
  	}
  }
  function hourSelect(i)
  {
  	hourSelected = i;
  	updateClasses();
  }
  function show_modal(package_id) {
  	document.getElementsByClassName("package-"+package_id)[0].classList.add("active");
  	document.getElementsByClassName("package-modal-"+package_id)[0].classList.add("active");
  }
  function close_modal(package_id){
  	document.getElementsByClassName("package-"+package_id)[0].classList.remove("active");
  	document.getElementsByClassName("package-modal-"+package_id)[0].classList.remove("active");
  }

</script>


<style>
  .pricing_exp{
    font-size: 11px;
    color: #375bff;
    font-family: iransans !important;
  }
</style>


<section class="fdb-block mt-1 pt-1 mb-0 pb-0" id="prices">
  <div class="container">
    <div class="row">
      <div class="col text-center">
        <h2>
          <small> <%=t(:'general.types.sections.section1.title') %></small> <%= @shoot_type.title %>
        </h2>
        <p class=" text-center text-muted mb-0">
         <%=t(:'general.types.sections.section1.subtitle1') %>
          <%= number_with_delimiter(@cheapest_package.price, :delimiter => ',').to_s.tr!('0123456789','۰۱۲۳۴۵۶۷۸۹') %>
          <%=t(:'general.types.sections.section1.subtitle2') %>
          <strong><%= @cheapest_package.duration %></strong>
          <%=t(:'general.types.sections.section1.subtitle3') %>
        </p>
      </div>
    </div>
  </div>

  <div class="packages">
      <h4><%=t(:'general.types.sections.section1.subtitle4')%>
           <!--پروژه&zwnj;--><b><%=t(:'general.types.sections.section1.subtitle5') %></b>
      </h4>
      <div class="selection-bar">
          <%
          @shoot_type.packages.active.group("packages.duration").count.sort_by{|hour,count| convert_package_duration_number(hour) }.each_with_index do |hours,index|%>
          <% order = convert_package_duration_number(hours.first) %>
          <div class="item-select <%if index==1%> active <%end%>" hour='<%=order%>' onclick="hourSelect(<%=order%>)">
              <div class="circle <%if index==1%> active <%end%>">
              </div>
              <p style="font-size: 100%;">
                <%=order.to_s.tr!('0123456789','۰۱۲۳۴۵۶۷۸۹')%>
                <%=t(:'general.types.sections.section1.time') %>
              </p>
              <img src="/img/Verify.svg" alt="" class="popular-icon" style="display: none;">
          </div>
          <% end %>
      </div>
      <div class="packages-cards">
        <% @shoot_type.packages.active.order("packages.order , packages.price::integer ").each do |p| %>
        <div class="package-card <%if p.vip?%>gold<%end%> hidden" hour='<%=p.order.to_i%>'>
            <h3>
              <img src="/img/Verify.svg" alt="" class="popular-icon" style="display: none;">
              <%= p.package_title %>
              </h3>
            <div class="items">
                <div class="item">
                    <p><%=t(:'general.types.sections.section1.item1') %> <b><%=number_with_delimiter(p.feature_1.to_i, :delimiter => ',').to_s.tr!('0123456789','۰۱۲۳۴۵۶۷۸۹')%> عکس </b></p>
                </div>
                <div class="item" onclick="show_modal(<%=p.id%>)"><img src="/img/question.svg" alt="" class="icon">
                    <p style="cursor: pointer;"> <%=t(:'general.types.sections.section1.item3') %> </p>
                </div>
                <div class="item">
                  <p> <%=t(:'general.types.sections.section1.item2') %>
                    <b>
                      <%= p.is_full ? "همه عکسها" : "#{p.digitals.to_s.tr!('0123456789','۰۱۲۳۴۵۶۷۸۹')} عکس"%>
                    </b>
                </div>
            </div>
            <div class="price">
                <p><%= number_with_delimiter(p.price, :delimiter => ',').to_s.tr!('0123456789','۰۱۲۳۴۵۶۷۸۹') %> <!--تومان--></p>
                  <a href="https://app.kadro.co/book" class="button">
                    <%=t(:'general.types.sections.section1.button') %>
                  </a>
            </div>
        </div>
        <div class="mymodal-container package-<%=p.id%>">
            <div class="mymodal package-modal-<%=p.id%>">
                <div class="header">
                    <p>
                      <%= p.package_title %>
                    </p><span class="close-mymodal" onclick="close_modal(<%=p.id%>)">✖</span>
                </div>
                <div class="text">
                    <ul>
                        <li><img src="" alt="" class="icon">
                            <p>
                              همه عکسها ادیت استاندارد نور و رنگ می شود.
                             </p>
                        </li>
                        <li><img src="" alt="" class="icon">
                            <p>
                              شما همه عکسها رو می تونید مشاهده کنید.
                            </p>
                        </li>
                        <li><img src="" alt="" class="icon">
                            <p>
                              بین
                              <%=number_with_delimiter(p.feature_1.to_i - 10, :delimiter => ',').to_s.tr!('0123456789','۰۱۲۳۴۵۶۷۸۹')%>
                              تا
                              <%=number_with_delimiter(p.feature_1.to_i + 10 , :delimiter => ',').to_s.tr!('0123456789','۰۱۲۳۴۵۶۷۸۹')%>
                              عکس برای شما گرفته میشود، شاید هم بیشتر...
                            </p>
                        </li>
                        <% if p.feature_2.present? %>
                        <h3 class="text-right">
                          موارد افزوده این پکیج:
                        </h3>
                        <li><img src="" alt="" class="gold-icon">
                            <p>
                              <%= p.feature_2%>
                            </p>
                        </li>
                        <% end %>
                        <% if p.feature_3.present? %>
                        <li><img src="" alt="" class="gold-icon">
                            <p>
                              <%= p.feature_3%>
                            </p>
                        </li>
                        <% end %>
                        <% if p.feature_4.present? %>
                        <li><img src="" alt="" class="gold-icon">
                            <p>
                              <%= p.feature_4%>
                            </p>
                        </li>
                        <% end %>
                        <% if p.feature_5.present? %>
                        <li><img src="" alt="" class="gold-icon">
                            <p>
                              <%= p.feature_5%>
                            </p>
                        </li>
                        <% end %>
                        <% if p.feature_6.present? %>
                        <li><img src="" alt="" class="gold-icon">
                            <p>
                              <%= p.feature_6%>
                            </p>
                        </li>
                        <% end %>
                        <% if p.feature_7.present? %>
                        <li><img src="" alt="" class="gold-icon">
                            <p>
                              <%= p.feature_7%>
                            </p>
                        </li>
                        <% end %>
                    </ul>
                </div>
            </div>
        </div>
        <% end %>
      </div>
      <div class="options bg-blue">
          <div class="item"><img src="" alt="" class="icon">
              <p> <%=t(:'general.types.sections.section1.item5') %> <b> <%=t(:'general.types.sections.section1.item4') %><!--&zwnj;--></b></p>
          </div>
          <div class="item"><img src="" alt="" class="icon">
              <p> <%=t(:'general.types.sections.section1.item6') %><b>
                <%= number_with_delimiter(@shoot_type.half_hour_extend_cost.to_i, :delimiter => ',').to_s.tr!('0123456789','۰۱۲۳۴۵۶۷۸۹') %>
                <!-- تومان</b> است. -->
              </p> 
          </div>
          <div class="item"><img src="" alt="" class="icon">
              <p> <%=t(:'general.types.sections.section1.item7') %><b></p>
          </div>
      </div>

  </div>
</section>

<section class="fdb-block py-0 my-0">
  <div class="container py-5 my-5 bg-r" style="background-image: url(/types/imgs/shapes/9.svg);">
    <div class="row text-center py-5">
      <div class="col-12 col-md-8 col-lg-6 mx-auto">
        <div class="fdb-box fdb-touch">
          <div class="row justify-content-center">
            <div class="col-12 col-xl-8 text-center">
              <h2>
               <%=t(:'general.types.sections.section2.title') %>
              </h2>
              <p class="lead">
                <%=t(:'general.types.sections.section2.subtitle') %>
              </p>
              <p class="h3 mt-4">
                <%= link_to t(:'general.types.sections.section2.link')  , print_prices_path , class:"btn btn-dark"%>
              </p>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
