 <section class="fdb-block bg-dark" style="background-image: url(<%=assets_url("/types/imgs/hero/blue.svg")%>);">
    <div class="container">
      <div class="row">
        <div class="col text-center">
          <h2> <%= t(:'general.public.sections_contact.section6.title') %> </h2>
        </div>
      </div>
      <div class="row-70"></div>
      <div class="row text-center justify-content-sm-center no-gutters">
        <div class="col-12 col-sm-10 col-md-8 col-lg-7 col-xl-3 m-auto">
          <div class="fdb-box fdb-touch">
            <h2> <%= t(:'general.public.sections_contact.section6.reasons.reason1') %> </h2>
            <p style="text-align:justify">
              <%= t(:'general.public.sections_contact.section6.reasons.subtitle1') %>
             <!-- <span >
                قسمت "آلبوم من"
              </span>
              آپلود می شود. شما می توانید سفارش چاپ عکس نیز بدهید.-->
            </p>
          </div>
        </div>
        <div class="col-12 col-sm-10 col-md-8 col-lg-7 col-xl-3 m-auto pt-5 pt-xl-0">
          <div class="fdb-box fdb-touch">
            <h2> <%= t(:'general.public.sections_contact.section6.reasons.reason2') %> </h2>
            <p style="text-align:justify">
              <%= t(:'general.public.sections_contact.section6.reasons.subtitle2') %>
             <!-- <strong>کارشناس خانم </strong> به درخواست شما عکسهای تان را بررسی می کند.-->
            </p>

          </div>
        </div>
        <div class="col-12 col-sm-10 col-md-8 col-lg-7 col-xl-3 m-auto pt-5 pt-xl-0">
          <div class="fdb-box fdb-touch">
            <h2> <%= t(:'general.public.sections_contact.section6.reasons.reason3') %> </h2>
            <p style="text-align:justify">
               <%= t(:'general.public.sections_contact.section6.reasons.subtitle3-1') %>
              <strong class="text-bold">
                 <%= t(:'general.public.sections_contact.section6.reasons.subtitle3-2') %>
              </strong>
               <%= t(:'general.public.sections_contact.section6.reasons.subtitle3-3') %>
              <!--<strong>و اعلام رضایت </strong>
              کنید تا مبلغ برای عکاس آزاد شود.-->
            </p>

          </div>
        </div>
      </div>
    </div>
  </section>
