<footer id="colophon" class="site-footer" role="contentinfo" style="padding-bottom: 110px; background-color: #343b3f;">
  <div class="container-fluid">
    <div class="row">
      <div class="col-sm-12">
        <div class="footer-menu ">
          <ul id="footer-menu" class="menu col-12" style="padding-right:40px;">
            <li id="menu-item-301" style="" class="menu-item menu-item-type-post_type menu-item-object-page current_page_parent menu-item-301">
              <a href="https://kadro.co/" <%= t(:'general.home.footer.titles.title0') %> >
              
              </a>
            </li>
            <li id="menu-item-302" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-home menu-item-302">
              <a href="https://pro.kadro.co/">
              <%= t(:'general.home.footer.titles.title1') %>
              </a>
            </li>
            <li id="menu-item-303" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-303">
              <a href="https://app.kadro.co/galleries">
              <%= t(:'general.home.footer.titles.title2') %>
              </a>
            </li>
            <li id="menu-item-1018" class="menu-item menu-item-type-custom menu-item-object-custom menu-item-1018">
              <a href="https://kadro.co/join_us">
              <%= t(:'general.home.footer.titles.title3') %>
              </a>
            </li>

            <li id="menu-item-1018" class="menu-item menu-item-type-custom menu-item-object-custom menu-item-1018">
              <a href="https://kadro.co/about_us">
              <%= t(:'general.home.footer.titles.title4') %>
              </a>
            </li>
          </ul>
          <br/>
          <!-- #Start -->

          <!-- #first column -->

          <div class="container-fluid custom-padding">

            <div class="row align-items-top text-center ">

              <div class="col-xs-6 col-sm-6 col-md-4 col-lg-3 text-right " style="color:#f2f2f2 ">
                <h2 class="text-right h2-fontsize-bt3">

                 <%= t(:'general.home.footer.subtitles.subtitle1') %>

                </h2>
                <nav class="nav flex-column ">
                  <a class="nav-link active custom-padding-lines" href="https://kadro.co/contact_us ">
                    تماس با ما
                  </a>
                  <br/>
                  <a class="nav-link active custom-padding-lines" href="https://kadro.co/terms ">
                    شرایط و قوانین
                  </a>
                  <br/>
                  <a class="nav-link custom-padding-lines" href="https://kadro.co/privacy ">
                    حریم خصوصی
                  </a>
                  <br/>
                  <a class="nav-link custom-padding-lines" href="https://kadro.co/faq ">
                    سوالات متداول
                  </a>
                  <br/>
                  <a class="nav-link custom-padding-lines" href="https://forms.gle/ozCdsYxiREnWC3V86" target="_blank ">
                    ثبت شکایات
                  </a>
                  <br/>
                  <a class="nav-link custom-padding-lines" href="https://www.kadro.co/news">
                    کادرو در خبرها
                  </a>
                  <br/>
                </nav>

                <!-- #second column -->

              </div>
              <div class="col-xs-6 col-sm-6 col-md-4 col-lg-3 text-right footer-padding">
                <h2 class="text-right h2-fontsize-bt3" style="color:#f2f2f2">

                  خدمات تجاری

                </h2>
                <nav class="nav flex-column ">
                  <a class="nav-link active custom-padding-lines" href="https://kadro.co/videography ">
                    فیلمبرداری و ساخت تیزر
                  </a>
                  <br/>
                  <!--  <a class="nav-link " href=" "> پکیج های تجاری </a>-->
                  <a class="nav-link custom-padding-lines" href="https://locations.kadro.co/ ">
                    مکان های عکاسی
                  </a>
                  <br/>
                  <a class="nav-link custom-padding-lines" href="https://www.kadro.co/affiliate ">
                    همکاری در فروش
                  </a>
                  <br/>
                  <a class="nav-link custom-padding-lines" href="https://app.kadro.co/users/refer ">
                    عکاسی رایگان
                  </a>
                  <br/>
                </nav>
              </div>

              <!-- #third colmun -->

              <div class="col-xs-12 col-md-4 col-lg-3 text-right footer-padding ">
                <h2 class="text-right h2-fontsize-bt3" style="color:#f2f2f2 ">

                  خدمات افزوده

                </h2>
                <nav class="nav flex-column ">
                  <a class="nav-link custom-padding-lines" href="https://www.kadro.co/blog/ ">
                    وبلاگ
                  </a> <br/>
                  <a class="nav-link custom-padding-lines" href="https://kadro.co/standard_edit ">
                    ادیت نور و رنگ
                  </a> <br/>
                  <a class="nav-link custom-padding-lines" href="https://kadro.co/retouch_edit ">
                    روتوش حرفه ای عکس
                  </a> <br/>
                  <a class="nav-link custom-padding-lines" href="https://kadro.co/pricing ">
                    قیمت عکاسی
                  </a> <br/>
                  <a class="nav-link custom-padding-lines" href="https://kadro.co/print_prices ">
                    قیمت چاپ عکس
                  </a> <br/>
                </nav>
              </div>

              <!-- #social netrorks -->

              <div class="col-xs-12 col-lg-2 ml-auto text-lg-left mt-4 mt-lg-0 border-top border-primary footer-padding">
                <h4 style="border-top:1px solid #007bff; color:#f2f2f2; font-size: 18px;">

                  دنبال کنید

                </h4>
                <p class="lead text-center ">
                  <a href="https://twitter.com/kadro_co " style="padding:5px; margin-left:2px; margin-right:2px; ">
                    <i class="fa fa-twitter " aria-hidden="true ">
                    </i>
                  </a>
                  <a href="https://www.facebook.com/kadro.co " style="padding:5px; margin-left:2px; margin-right:2px;">
                    <i class="fa fa-facebook " aria-hidden="true ">

                    </i>
                  </a>
                  <a href="https://www.instagram.com/kadro.official/ " style="padding:5px; margin-left:2px; margin-right:2px;">
                    <i class="fa fa-instagram " aria-hidden="true ">

                    </i>
                  </a>
                  <a href="https://www.pinterest.ch/kadro_co/ " style="padding:5px; margin-left:2px; margin-right:2px;">
                    <i class="fa fa-pinterest " aria-hidden="true ">

                    </i>
                  </a>

                  <a href="https://api.whatsapp.com/send?phone=0989027048963 " style="padding:5px; margin-left:2px; margin-right:2px;">
                    <i class="fa fa-whatsapp " aria-hidden="true ">

                    </i>
                  </a>
                </p>
              </div>
            </div>
          </div>
          <!-- #copyright -->
          <div style="text-align: center; " class="row mt-3 ">
            <div class="col text-center " style="direction: ltr; ">
              © 2017-2020
              <%=link_to "Kadro", "https://www.kadro.co" %> All Rights Reserved.
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</footer>
<!-- #colophon -->
