<section class="fdb-block" style="background-image: url(/types/imgs/shapes/9.svg);" >
  <div class="container">
    <div class="row justify-content-center">
      <div class="col col-md-8 text-center"><h1> <%= t(:'general.pricing.section6.title') %></h1></div>
      <div class="col-12 col-sm-6 mx-auto justify-content-right my-5">
        <div class="faqs">

          <div class="faq">
            <div class="question">
              <i class="fa fa-angle-left" aria-hidden="true"></i>
              <h5>
                <%= t(:'general.pricing.section6.q1') %>
              </h5>
            </div>
            <div class="answer">
              <p>
               <%= t(:'general.pricing.section6.ans1') %>
              </p>
            </div>
          </div>

          <div class="faq">
            <div class="question">
              <i class="fa fa-angle-left" aria-hidden="true"></i>
              <h5>
                <%= t(:'general.pricing.section6.q2') %>
              </h5>
            </div>
            <div class="answer">
              <p>
                 <%= t(:'general.pricing.section6.ans2') %>
                <!--<strong>
                  میانگین
                </strong>
                چند عکس نهایی تحویل مشتری داده اند.
                <br>-->
              </p>
            </div>
          </div>
          <div class="faq">
            <div class="question">
              <i class="fa fa-angle-left" aria-hidden="true"></i>
              <h5>
               <%= t(:'general.pricing.section6.q3') %>
              </h5>
            </div>
            <div class="answer">
              <p>
                 <%= t(:'general.pricing.section6.ans3') %>
              </p>
            </div>
          </div>

          <div class="faq">
            <div class="question">
              <i class="fa fa-angle-left" aria-hidden="true"></i>
              <h5>
                 <%= t(:'general.pricing.section6.q4') %>
              </h5>
            </div>
            <div class="answer">
              <p>
                <%= t(:'general.pricing.section6.ans4') %>
               <!-- <strong>
                  هر چند نفری
                </strong>-->
              </p>
            </div>
          </div>

          <div class="faq">
            <div class="question">
              <i class="fa fa-angle-left" aria-hidden="true"></i>
              <h5>
                <%= t(:'general.pricing.section6.q12') %>
              </h5>
            </div>
            <div class="answer">
              <p>
              <%= t(:'general.pricing.section6.ans12') %>
              </p>
            </div>
          </div>

          <div class="faq">
            <div class="question">
              <i class="fa fa-angle-left" aria-hidden="true"></i>
              <h5>
                 <%= t(:'general.pricing.section6.q5') %>
              </h5>
            </div>
            <div class="answer">
              <p>
               <%= t(:'general.pricing.section6.ans5') %>
              </p>
            </div>
          </div>


          <div class="faq">
            <div class="question">
              <i class="fa fa-angle-left" aria-hidden="true"></i>
              <h5>
                <%= t(:'general.pricing.section6.q6') %>
              </h5>
            </div>
            <div class="answer">
              <p>
               <%= t(:'general.pricing.section6.ans6') %>
              </p>
            </div>
          </div>

          <div class="faq">
            <div class="question">
              <i class="fa fa-angle-left" aria-hidden="true"></i>
              <h5>
                <%= t(:'general.pricing.section6.q7') %>
              </h5>
            </div>
            <div class="answer">
              <p>
               <%= t(:'general.pricing.section6.ans7') %>
                <%= link_to t(:'general.pricing.section6.ans7-2'), print_prices_url%>
                <%= t(:'general.pricing.section6.ans7-3') %>
              </p>
            </div>
          </div>


          <div class="faq">
            <div class="question">
              <i class="fa fa-angle-left" aria-hidden="true"></i>
              <h5>
                <%= t(:'general.pricing.section6.q8') %>
              </h5>
            </div>
            <div class="answer">
              <p>
              <%= t(:'general.pricing.section6.ans8') %>
              </p>
            </div>
          </div>

          <div class="faq">
            <div class="question">
              <i class="fa fa-angle-left" aria-hidden="true"></i>
              <h5>
                <%= t(:'general.pricing.section6.q9') %>
              </h5>
            </div>
            <div class="answer">
              <p>
               <%= t(:'general.pricing.section6.ans9') %>
              </p>
            </div>
          </div>

          <div class="faq">
            <div class="question">
              <i class="fa fa-angle-left" aria-hidden="true"></i>
              <h5>
                <%= t(:'general.pricing.section6.q10') %>
              </h5>
            </div>
            <div class="answer">
              <p>
                 <%= t(:'general.pricing.section6.ans10') %>
              </p>
            </div>
          </div>

          <div class="faq">
            <div class="question">
              <i class="fa fa-angle-left" aria-hidden="true"></i>
              <h5>
                <%= t(:'general.pricing.section6.q11') %>
              </h5>
            </div>
            <div class="answer">
              <p>
                 <%= t(:'general.pricing.section6.ans11') %>
              </p>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>

