<section class="fdb-block my-0 py-0" style="background-image: url(/types/imgs/shapes/8.svg);">
  <div class="container">
    <div class="row text-right align-items-center">
      <div class="col-12 col-lg-6 col-xl-5 m-lg-auto text-left">
        <h2 class="text-right">
         <%= t(:'general.pricing.section2.title1') %>
        </h2>
        <p class="h3 pb-xl-4 text-right">
          <%= t(:'general.pricing.section2.subtitle') %>
          <span class="fa fa-angle-double-left" style="color: dodgerblue"></span>
        </p>
        <div class="row pt-5">
          <div class="col-3">
            <h3>
              <%= t(:'general.pricing.section2.title2') %>
            </h3>
          </div>
          <div class="col-9">
            <h4 class="text-primary">
              <%= t(:'general.pricing.section2.explain2-1') %>
            </h4>
            <p>
              <%= t(:'general.pricing.section2.explain2-2') %>
            </p>
          </div>
        </div>
        <div class="row pt-5">
          <div class="col-3">
            <h3>
              <%= t(:'general.pricing.section2.title3') %>
            </h3>
          </div>
          <div class="col-9">
            <h4 class="text-primary">
             <%= t(:'general.pricing.section2.explain3-1') %>
            </h4>
            <p>
             <%= t(:'general.pricing.section2.explain3-2') %>
            </p>
          </div>
        </div>
      </div>
      <div class="col-12 col-sm-4 m-auto pt-5 pt-md-0">
        <video src="pricing.mp4" width="100%" controls style="    border-radius: 50px;">
        </video>
      </div>
    </div>
  </div>
</section>

<section class="fdb-block my-0 py-5">
  <div class="container">
    <div class="row ">
      <div class="col-12">
        <h2>
          <%= t(:'general.pricing.section3.title') %>
        </h2>
        <p class="lead text-center">
          <%= t(:'general.pricing.section3.subtitle') %>
        </p>
      </div>
    </div>
    <div class="row px-sm-5">
      <div class="col-8 px-0">
        <ul class="price">
          <li class="header text-primary text-right" style="background-color: #f4f7fe;">  <%= t(:'general.pricing.section3.lable') %></li>
          <li style="font-weight: 800;">  <%= t(:'general.pricing.section3.feature1') %>
          </li>
          <li style="font-weight: 800;"> <%= t(:'general.pricing.section3.feature2') %>
          </li>
          <li style="font-weight: 800;">
            <%= t(:'general.pricing.section3.feature3') %>
          </li>
          <li> <%= t(:'general.pricing.section3.feature4') %> </li>
          <li><%= t(:'general.pricing.section3.feature5') %></li>
          <li> <%= t(:'general.pricing.section3.feature6') %></li>
          <li><%= t(:'general.pricing.section3.feature7') %> </li>
          <li> <%= t(:'general.pricing.section3.feature8') %></li>
          <li> <%= t(:'general.pricing.section3.feature9') %> </li>
          <li> <%= t(:'general.pricing.section3.feature10') %> </li>
          <li style="    height: 5em;"> <%= t(:'general.pricing.section3.feature11') %></li>
        </ul>
      </div>
      <div class="col-2 px-0">
        <ul class="price" style="box-shadow: 0 8px 12px 0 rgba(0,0,0,0.2);
            border-radius: 10px;">
          <li class="header"><%= t(:'general.pricing.section3.lable2') %></li>
          <li><span class="fa fa-check text-primary"></span></li>
          <li><span class="fa fa-check text-primary"></span></li>
          <li><span class="fa fa-check text-primary"></span></li>
          <li><span class="fa fa-check text-primary"></span></li>
          <li><span class="fa fa-check text-primary"></span></li>
          <li><span class="fa fa-check text-primary"></span></li>
          <li><span class="fa fa-check text-primary"></span></li>
          <li><span class="fa fa-check text-primary"></span></li>
          <li><span class="fa fa-check text-primary"></span></li>
          <li style=""><span class="fa fa-check text-primary"></span></li>
          <li style="    height: 5em;"><span class="fa fa-check text-primary"></span></li>

        </ul>
      </div>
      <div class="col-2 px-0">
        <ul class="price">
          <li class="header"> <%= t(:'general.pricing.section3.lable1') %></li>
          <li><span class="fa fa-check text-primary"></span></li>
          <li><span class="fa fa-check text-primary"></span></li>
          <li><span class="fa fa-check text-primary"></span></li>
          <li><span class="fa fa-check text-primary"></span></li>
          <li><span class="fa fa-check text-primary"></span></li>

          <li><span class="fa fa-check text-primary"></span></li>
          <li><span class="fa fa-check text-primary"></span></li>
          <li style="text-decoration: line-through;"><span class="fa fa-uncheck text-warning"></span></li>
          <li><span class="fa fa-check text-primary"></span></li>
          <li style=""><span class="fa fa-uncheck text-warning"></span></li>
          <li style="    height: 5em;">
            <small style="">
             <%= t(:'general.pricing.section3.lable3') %>
            </small></li>
        </ul>
      </div>
    </div>
  </div>
</section>