
<section class="fdb-block " data-block-type="contents" data-id="2" draggable="true">
  <div class="container">
    <div class="row text-left align-items-center justify-content-center">

      <div class="col-12 col-lg-8 pt-4 pt-lg-0">
        <h1 class="text-center">
         <%= t(:'general.pricing.section1.title') %>
        </h1>
        <p class="" style="text-align: left">
          <%= t(:'general.pricing.section1.subtitle1') %>
        <!--<strong>واقعا مقرون به صرفه</strong> باشد.-->
        </p>
        <p class="" style="text-align: left"><%= t(:'general.pricing.section1.subtitle2') %></p>
        <div class="row mt-5">
          <div class="col-12 col-sm-6 fr-box" role="application">
            <div class="fr-wrapper" dir="auto">
              <div aria-disabled="false" class="fr-element fr-view" contenteditable="true" dir="auto" spellcheck="true">
                <h3 style="text-align: left"><strong>
                  <span class="fa fa-check text-blue" style="color: dodgerblue"></span>
                <%= t(:'general.pricing.section1.reason1-1') %></strong>
                </h3>
                <p class="lead" style="text-align: left"><%= t(:'general.pricing.section1.reason1-2') %></p></div>
            </div>
          </div>
          <div class="col-12 col-sm-6 pt-3 pt-sm-0 fr-box" role="application">
            <div class="fr-wrapper" dir="auto">
              <div aria-disabled="false" class="fr-element fr-view" contenteditable="true" dir="auto" spellcheck="true">
                <h3 style="text-align: left">
                  <strong>
                    <span class="fa fa-check text-blue" style="color: dodgerblue"></span>
                    <%= t(:'general.pricing.section1.reason2-1') %>
                  </strong>
                </h3>
                <p class="lead" style="text-align: right;"><%= t(:'general.pricing.section1.reason2-2') %></p></div>
            </div>
          </div>
          <div class="col-12 col-sm-6 pt-3 pt-sm-0 fr-box" role="application">
            <div class="fr-wrapper" dir="auto">
              <div aria-disabled="false" class="fr-element fr-view" contenteditable="true" dir="auto" spellcheck="true">
                <h3 style="text-align: left">
                  <strong>
                    <span class="fa fa-check text-blue" style="color: dodgerblue"></span>
                    <%= t(:'general.pricing.section1.reason3-1') %>
                  </strong>
                </h3>
                <p class="lead" style="text-align: right;">
                 <%= t(:'general.pricing.section1.reason3-2') %>
                </p>
              </div>
            </div>
          </div>
          <div class="col-12 col-sm-6 pt-3 pt-sm-0 fr-box" role="application">
            <div class="fr-wrapper" dir="auto">
              <div aria-disabled="false" class="fr-element fr-view" contenteditable="true" dir="auto" spellcheck="true">
                <h3 style="text-align: left">
                  <strong>
                    <span class="fa fa-check text-blue" style="color: dodgerblue"></span>

                   <%= t(:'general.pricing.section1.reason4-1') %>
                  </strong>
                </h3>
                <p class="lead" style="text-align: right;">
                  <em>
                   <%= t(:'general.pricing.section1.reason4-2') %>
                  </em>
                   <%= t(:'general.pricing.section1.reason4-3') %>
                  <em>
                   <%= t(:'general.pricing.section1.reason4-4') %>
                  </em>
                   <%= t(:'general.pricing.section1.reason4-5') %>
              </div>
            </div>
          </div>

        </div>
      </div>
    </div>
  </div>
</section>
