<div class="row">
  <div class="col-md-12">
    <h5 class="text-info">
      <i class="fa fa-info-circle fa-lg"></i>
      <% if @gallery.hashed_password.nil? %>
        <%= t(:'galleries.password_message_1') %>
      <% else %>
        <%= t(:'galleries.password_message_3') %>
      <% end %>
    </h5>
    <%= form_for(:gallery_password, url: gallery_password_create_path, remote: true) do |f| %>
      <%= f.hidden_field(:id, value: gallery_id) %>
      <div class="form-group">
        <%= f.password_field(:password, value: '', autocomplete: 'off', placeholder: @gallery.hashed_password.nil? ? t(:'galleries.password') : t(:'galleries.password_new'),
                             class: 'form-control', style: 'height: 55px') %>
      </div>
      <div class="form-group">
        <%= f.password_field(:password_confirmation, value: '', autocomplete: 'off', placeholder: @gallery.hashed_password.nil? ? t(:'galleries.password_confirmation') : t(:'galleries.password_confirmation_new'),
                             class: 'form-control', style: 'height: 55px') %>
      </div>
      <br/>

      <h5 class="text-warning">
        <i class="fa fa-exclamation-circle fa-lg"></i>
        <%= t(:'galleries.password_message_2') %>
      </h5>

      <br/>
      <div class="row">
      <% if @gallery.hashed_password.nil? %>
          <% if @gallery.project.user == current_user %>
        <%= f.submit('ذخیره', class: 'btn btn-blue btn-block') %>
            <% else %>
            <%= f.submit('این گالری نمونه است و قابلیت رمز گذاری ندارد', class: 'btn btn-blue btn-block') %>
            <% end %>
      <% else %>
        <div class="col-md-6">
          <%= f.submit('ذخیره', class: 'btn btn-blue btn-block') %>
        </div>
        <div class="col-md-6">
          <%= link_to "حذف رمز عبور", gallery_clear_password_path(id: @gallery.slug), class: 'btn btn-danger btn-block', remote: true %>
        </div>
      <% end %>
      </div>
    <% end %>
  </div>
</div>
<br/>
