<p id="notice"><%= notice %></p>

<p>
  <strong>Afterwards url:</strong>
  <%= @transaction.afterwards_url %>
</p>

<p>
  <strong>Email:</strong>
  <%= @transaction.email %>
</p>

<p>
  <strong>Mobile number:</strong>
  <%= @transaction.mobile_number %>
</p>

<p>
  <strong>Amount:</strong>
  <%= @transaction.amount %>
</p>

<p>
  <strong>Slug:</strong>
  <%= @transaction.slug %>
</p>

<p>
  <strong>Message:</strong>
  <%= @transaction.message %>
</p>

<p>
  <strong>Description:</strong>
  <%= @transaction.description %>
</p>

<p>
  <strong>Status:</strong>
  <%= @transaction.status %>
</p>

<p>
  <strong>Track number:</strong>
  <%= @transaction.track_number %>
</p>

<%= link_to 'Edit', edit_transaction_path(@transaction) %> |
<%= link_to 'Back', transactions_path %>
