<head>
  <% if Rails.env.production? %>
    <%= render 'shared/externals/gtag_header' %>
    <%= render 'shared/externals/ganalytics' %>
    <%= render 'shared/externals/addthis' %>
    <%= render 'shared/externals/raychat' %>
    <%= render 'shared/yektanet_header' %>
    <%= render 'shared/externals/yandex' %>
  <% end %>
  <title>
    Page Not Found
    | Kadro
  </title>
  <meta charset="UTF-8">
  <meta name="description" content="Page Not Found">
  <meta name="keywords" content="">
  <meta name="author" content="Kadro">
  <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no">
  <META NAME="ROBOTS" CONTENT="INDEX, FOLLOW">
    <%= csrf_meta_tags %>

    <% if Rails.env.production? %>
    <%= stylesheet_link_tag   'wordpress', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'wordpress', 'data-turbolinks-track': 'reload'  %>
    <% else %>
    <%= stylesheet_link_tag   'wordpress', media: 'all', 'data-turbolinks-track': 'reload'%>
    <%= javascript_include_tag 'wordpress', 'data-turbolinks-track': 'reload'  %>
    <% end %>
    <link rel="icon" type="image/png" href="">
  </head>

<%= render "public/shared/wordpress_header" %>


  <section class="fdb-block" style="padding: 0">
    <div class="container">
      <div class="row justify-content-center pb-xl-5">
        <div class="col-8 col-sm-8 text-center">
          <img alt="image" class="img-fluid" src=<%=assets_url("/img/404.jpg")%> >
          <h1>
            <%= t(:'general.not_found.sections.h1') %> 
          </h1>
        </div>
      </div>

      <div class="row text-left justify-content-center py-5">
        <div class="col-12 ">
          <div class="row">
            <div class="col-12">
              <h3>
                <strong>
                  <%= t(:'general.not_found.sections.subtitle') %>
                 </strong>
                </h3>
              <p class="text-center">
                <%= t(:'general.not_found.sections.cta') %>
                <br><%= link_to t(:'general.not_found.sections.cta_button') , "https://www.kadro.me",class:"btn btn-primary" %>
              </p>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>
