<head>
  <% if Rails.env.production? %>
    <%= render 'shared/externals/gtag_header' %>
    <%= render 'shared/externals/ganalytics' %>
    <%= render 'shared/yektanet_header' %>
    <%= render 'shared/externals/yandex' %>
    <%= render 'shared/externals/raychat' %>

<% end %>
  <title>
    <%= t(:'general.public.seo.title') %>
 </title>
  <meta charset="UTF-8">
  <meta name="description" content="<%= t(:'general.public.seo.meta_description') %>">
  <meta name="keywords" content="<%= t(:'general.public.seo.meta_keywords') %>">
  <meta name="author" content="<%= t(:'general.public.seo.meta_author') %>">
  <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no">
  <META NAME="ROBOTS" CONTENT="INDEX, FOLLOW">
  <%= csrf_meta_tags %>
  <% if Rails.env.production? %>
    <%= stylesheet_link_tag   'wordpress', media: 'all', 'data-turbolinks-track': 'reload'%>
    <%= javascript_include_tag 'wordpress', 'data-turbolinks-track': 'reload' %>
  <% else %>
    <%= stylesheet_link_tag   'wordpress', media: 'all', 'data-turbolinks-track': 'reload'%>
    <%= javascript_include_tag 'wordpress', 'data-turbolinks-track': 'reload'  %>
  <% end %>
  <link rel="icon" type="image/png" href="">
</head>
<%= render "public/shared/wordpress_header" %>
<section class="fdb-block mt-0 mb-0 py-5 py-sm-0">
  <div class="container">
    <div class="row align-items-center">
      <div class="col-12 col-md-6 col-lg-5">
        <h1> <%= t(:'general.public.sections.section1.title') %></h1>
        <p class="text-center"> <%= t(:'general.public.sections.section1.subtitle') %> </p>
        <p class="text-center">
          <a href="https://twitter.com/Kadro_me" class="mx-2 text-primary"><i class="fa fa-twitter" aria-hidden="true"></i></a>
        </p>
      </div>
      <div class="col-12 col-md-6 ml-md-auto mt-4 mt-md-0">
        <img alt="image" class="img-fluid" src="<%=assets_url("/img/aboutus.jpg")%>">
      </div>
    </div>
  </div>
</section>
<section class="fdb-block">
  <div class="container">
    <div class="row justify-content-center">
    <div class="col col-md-8 text-left">
      <h2 class="text-left"> <%= t(:'general.public.sections.section2.title') %> </h2>
      <p class="lead text-left">
       <%= t(:'general.public.sections.section2.subtitle1') %>
      </p>
      <p class="lead text-left">
      <%= t(:'general.public.sections.section2.subtitle2') %>
        <span style="color: rgb(61, 142, 185);"> <%= t(:'general.public.sections.section2.subtitle3') %></span>
      </p>
    </div>
  </div>
  </div>
</section>
