<head>
  <% if Rails.env.production? %>
    <%= render 'shared/externals/gtag_header' %>
    <%= render 'shared/externals/ganalytics' %>
    <%= render 'shared/yektanet_header' %>
    <%= render 'shared/externals/yandex' %>
    <%= render 'shared/externals/raychat' %>
<% end %>
  <title>
    <%=t(:'general.public.seo_faq.title') %>
  </title>
  <meta charset="UTF-8">
  <meta name="description" content="<%=t(:'general.public.seo_faq.title')%>">
  <meta name="keywords" content="سوالات متداول, faq">
  <meta name="author" content="تیم کادرو">
  <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no">
  <META NAME="ROBOTS" CONTENT="INDEX, FOLLOW">
  <%= csrf_meta_tags %>
  <% if Rails.env.production? %>
    <%= stylesheet_link_tag 'wordpress', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'wordpress', 'data-turbolinks-track': 'reload' %>
  <% else %>
    <%= stylesheet_link_tag 'wordpress', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'wordpress', 'data-turbolinks-track': 'reload' %>
  <% end %>
  <link rel="icon" type="image/png" href="">
</head>
<%= render "public/shared/wordpress_header" %>
<section class="fdb-block" style="background-image: url(<%= assets_url("/types/imgs/shapes/8.svg") %>)">
  <div class="container">
    <div class="row justify-content-center">
      <div class="col col-md-8 text-center">
        <h1>
         <%=t(:'general.public.section_faq.title') %>
        </h1>
        <h5 class="text-center">
           <%=t(:'general.public.section_faq.subtitle') %>
        </h5>
      </div>
    </div>
  </div>
</section>

<section class="fdb-block mx-sm-5 my-0 py-0">
  <div class="container">
    <div class="row faq-page">
      <div class="col-12 col-sm-6 mx-auto justify-content-right my-5">
        <h2>
          <%=t(:'general.public.section_faq.column1.title') %>
        </h2>
        <div class="faqs">
          <div class="faq">
            <div class="question"><i class="fa fa-angle-left" aria-hidden="true"></i>
              <h5> <%=t(:'general.public.section_faq.column1.question1') %></h5></div>
            <div class="answer">
              <p>
                <%=t(:'general.public.section_faq.column1.answer1-1') %>
                <br>
               <%=t(:'general.public.section_faq.column1.answer1-2') %>
                <br>
                <%=t(:'general.public.section_faq.column1.answer1-3') %>
                <br>
                <%=t(:'general.public.section_faq.column1.answer1-4') %>
              </p>
              <div class="row">
                <div class="btn-group" role="group" aria-label="لینک های کمکی">
                  <a class="btn btn-outline-primary btn-sm" href="https://pro.kadro.me"> رزرو آتلیه </a>
                  <a class="btn btn-primary btn-sm" href="http://app.kadro.me/book"> رزرو عکاس </a>
                </div>
              </div>
            </div>
          </div>
          <div class="faq">
            <div class="question"><i class="fa fa-angle-left" aria-hidden="true"></i>
              <h5><%=t(:'general.public.section_faq.column1.question2') %> </h5></div>
            <div class="answer">
              <p>
                <%=t(:'general.public.section_faq.column1.answer2-1') %>
                <% ActiveCity.all.each do |ac| %>
                  <span style="font-style: italic"> <%= ac.name %> - </span>
                <% end %>
               <%=t(:'general.public.section_faq.column1.answer2-2') %>
              </p>
              <div class="row">
                <a class="btn btn-outline-primary btn-sm" href="https://pro.kadro.me"> مشاهده لیست شهرها </a>
              </div>
            </div>
          </div>
          <div class="faq">
            <div class="question"><i class="fa fa-angle-left" aria-hidden="true"></i>
              <h5> <%=t(:'general.public.section_faq.column1.question3') %></h5></div>
            <div class="answer">
              <p>
               <%=t(:'general.public.section_faq.column1.answer3-1') %>
                <% ShootType.all.active.each do |st| %>
                  <span style="font-style: italic;color:dodgerblue"> <%= st.title %> - </span>
                <% end %>
                 <%=t(:'general.public.section_faq.column1.answer3-2') %>
                </p>
              <div class="row">
                <a class="btn btn-success btn-sm" href="<%= contact_us_path %>"><%=t(:'general.public.section_faq.column1.lable2') %> </a>
              </div>
            </div>
          </div>
          <div class="faq">
            <div class="question"><i class="fa fa-angle-left" aria-hidden="true"></i>
              <h5> <%=t(:'general.public.section_faq.column1.question4') %></h5></div>
            <div class="answer">
              <p>
                <%=t(:'general.public.section_faq.column1.answer4-1') %>
                <br>
                 <%=t(:'general.public.section_faq.column1.answer4-2') %>
                </p>
              <div class="row">
                <a class="btn btn-success btn-sm" href="https://locations.kadro.me"> مکانهای مناسب عکاسی </a>
              </div>
            </div>
          </div>
          <div class="faq">
            <div class="question"><i class="fa fa-angle-left" aria-hidden="true"></i>
              <h5><%=t(:'general.public.section_faq.column1.question5') %></h5></div>
            <div class="answer">
              <p><%=t(:'general.public.section_faq.column1.answer5') %></p></div>
          </div>
        </div>
      </div>

      <div class="col-12 col-sm-6 mx-auto justify-content-right my-5">
        <h2><%=t(:'general.public.section_faq.column2.title') %></h2>
        <div class="faqs">
          <div class="faq">
            <div class="question"><i class="fa fa-angle-left" aria-hidden="true"></i>
              <h5><%=t(:'general.public.section_faq.column2.question1') %></h5></div>
            <div class="answer">
              <p><%=t(:'general.public.section_faq.column2.answer1-1') %>

                <br><a href="https://www.kadro.me/pricing"> <%=t(:'general.public.section_faq.column2.lable1') %> </a>
                <br>
                <%=t(:'general.public.section_faq.column2.answer1-2') %><br>
              </p>
              <div class="row">
                <div class="btn-group" role="group" aria-label="<%=t(:'general.public.section_faq.column2.lable1') %>">
                  <a class="btn btn-success btn-sm" href="<%= contact_us_path %>"><%=t(:'general.public.section_faq.column2.lable2') %></a>
                  <a class="btn btn-dark btn-sm" href="<%= call_request_path %>"><%=t(:'general.public.section_faq.column2.lable3') %> </a>
                </div>
              </div>
            </div>
          </div>
          <div class="faq">
            <div class="question"><i class="fa fa-angle-left" aria-hidden="true"></i>
              <h5><%=t(:'general.public.section_faq.column2.question2') %></h5></div>
            <div class="answer">
              <p>
                <strong class="text-success"> <%=t(:'general.public.section_faq.column2.answer2-1') %></strong>
                <%=t(:'general.public.section_faq.column2.answer2-2') %>
                <br>
               <%=t(:'general.public.section_faq.column2.answer2-3') %>
                <%= image_tag assets_url("/img/faq/average_shots.jpg"), class: "img-fluid" %>
              </p>
            </div>
          </div>
          <div class="faq">
            <div class="question"><i class="fa fa-angle-left" aria-hidden="true"></i>
              <h5><%=t(:'general.public.section_faq.column2.question3') %></h5></div>
            <div class="answer">
              <p>
                <%=t(:'general.public.section_faq.column2.answer3-1') %>
                <strong class="text-success"><%=t(:'general.public.section_faq.column2.answer3-2') %> </strong> 
                <br>
                <%=t(:'general.public.section_faq.column2.answer3-3') %>
                <br>
                <%=t(:'general.public.section_faq.column2.answer3-4') %>
                <strong class="text-success"> <%=t(:'general.public.section_faq.column2.answer3-5') %> </strong>
                <%=t(:'general.public.section_faq.column2.answer3-6') %><br>
              </p>
              <div class="row">
                <div class="btn-group" role="group" aria-label="<%=t(:'general.public.section_faq.column2.lable6') %>">
                  <a class="btn btn-outline-primary " href="<%= standard_edit_path %>"> <%=t(:'general.public.section_faq.column2.lable5') %> </a>
                  <a class="btn btn-outline-info " href="<%= retouch_edit_path %>"><%=t(:'general.public.section_faq.column2.lable4') %> </a>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>

      <div class="col-12 col-sm-6 mx-auto justify-content-right my-5">
        <h2><%=t(:'general.public.section_faq.column2.title4') %> </h2>
        <div class="faqs">
          <div class="faq">
            <div class="question"><i class="fa fa-angle-left" aria-hidden="true"></i>
              <h5><%=t(:'general.public.section_faq.column2.question4') %></h5></div>
            <div class="answer">
              <p>
              <%=t(:'general.public.section_faq.column2.answer4') %>
              </p>
              <div class="row">
                <div class="btn-group" role="group" aria-label="<%=t(:'general.public.section_faq.column2.lable1') %>">
                  <a class="btn btn-success btn-sm" href="<%= contact_us_path %>"><%=t(:'general.public.section_faq.column2.lable2') %> </a>
                  <a class="btn btn-dark btn-sm" href="<%= call_request_path %>"> <%=t(:'general.public.section_faq.column2.lable3') %></a>
                </div>
              </div>
            </div>
          </div>
          <div class="faq">
            <div class="question"><i class="fa fa-angle-left" aria-hidden="true"></i>
              <h5><%=t(:'general.public.section_faq.column2.question5') %></h5></div>
            <div class="answer">
              <p>
                <%=t(:'general.public.section_faq.column2.answer5-1') %>
                <br>
                <%=t(:'general.public.section_faq.column2.answer5-2') %>
              </p>
            </div>
          </div>
          <div class="faq">
            <div class="question"><i class="fa fa-angle-left" aria-hidden="true"></i>
              <h5> <%=t(:'general.public.section_faq.column2.question6') %></h5></div>
            <div class="answer">
              <p>
                <strong class="text-success" style="text-decoration: underline">  <%=t(:'general.public.section_faq.column2.answer6-1') %></strong>
                 <%=t(:'general.public.section_faq.column2.answer6-2') %>
                <!--<strong class="text-success">  <%=t(:'general.public.section_faq.column2.answer6-3') %> </strong>-->
                <%=t(:'general.public.section_faq.column2.answer6-4') %>
                <br>
                <%=t(:'general.public.section_faq.column2.answer6-5') %>
                <br>
                <%=t(:'general.public.section_faq.column2.answer6-6') %>
              </p></div>
          </div>
          <div class="faq">
            <div class="question"><i class="fa fa-angle-left" aria-hidden="true"></i>
              <h5>  <%=t(:'general.public.section_faq.column2.question7')%> </h5></div>
            <div class="answer">
              <p>
                <%=t(:'general.public.section_faq.column2.answer7') %>
            </div>
          </div>
          <div class="faq">
            <div class="question"><i class="fa fa-angle-left" aria-hidden="true"></i>
              <h5> <%=t(:'general.public.section_faq.column2.question8') %></h5></div>
            <div class="answer">
              <p>
               <%=t(:'general.public.section_faq.column2.answer8') %>
                <br>
              </p>
              <div class="row">
                <div class="btn-group" role="group" aria-label=" <%=t(:'general.public.section_faq.column2.lable1') %>">
                  <a class="btn btn-success btn-sm" href="<%= contact_us_path %>"> <%=t(:'general.public.section_faq.column2.lable2') %> </a>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>

      <div class="col-12 col-sm-6 mx-auto justify-content-right my-5">
        <h2> <%=t(:'general.public.section_faq.column2.title5') %></h2>
        <div class="faqs">
          <div class="faq">
            <div class="question"><i class="fa fa-angle-left" aria-hidden="true"></i>
              <h5> <%=t(:'general.public.section_faq.column2.question9') %>
              </h5>
            </div>
            <div class="answer">
              <p><em style="font-size: 2em"> <%=t(:'general.public.section_faq.column2.answer9-1') %> </em>
               <%=t(:'general.public.section_faq.column2.answer9-2') %>
                <strong class="text-success"> <%=t(:'general.public.section_faq.column2.answer9-3') %> </strong>
               <%=t(:'general.public.section_faq.column2.answer9-4') %> 
              </p>
              <div class="row">
                <a class="btn btn-primary btn-sm" href="https://app.kadro.me/book"> <%=t(:'general.public.section_faq.column2.lable7') %>  </a>
              </div>
            </div>
          </div>
          <div class="faq">
            <div class="question"><i class="fa fa-angle-left" aria-hidden="true"></i>
              <h5> <%=t(:'general.public.section_faq.column2.question10') %></h5></div>
            <div class="answer">
              <p>
                 <%=t(:'general.public.section_faq.column2.answer10-1') %>
                <em>
                <%=t(:'general.public.section_faq.column2.answer10-2') %> </em>
              </p>
              <div class="row">
                <div class="btn-group" role="group" aria-label=" <%=t(:'general.public.section_faq.column2.lable1') %>">
                  <a class="btn btn-success btn-sm" href="<%= contact_us_path %>"> <%=t(:'general.public.section_faq.column2.lable2') %> </a>
                  <a class="btn btn-dark btn-sm" href="<%= call_request_path %>">  <%=t(:'general.public.section_faq.column2.lable3') %> </a>
                </div>
              </div>
            </div>
          </div>
          <div class="faq">
            <div class="question"><i class="fa fa-angle-left" aria-hidden="true"></i>
              <h5> <%=t(:'general.public.section_faq.column2.question11') %></h5></div>
            <div class="answer">
              <p>
                 <%=t(:'general.public.section_faq.column2.answer11-1') %>
                <strong class="text-success">  <%=t(:'general.public.section_faq.column2.answer11-2') %> </strong>
                 <%=t(:'general.public.section_faq.column2.answer11-3') %>
                <br>
                 <%=t(:'general.public.section_faq.column2.answer11-4') %>
              </p>
              <p>
              </p>
              <div class="row">
                <div class="btn-group" role="group" aria-label=" <%=t(:'general.public.section_faq.column2.lable1') %>">
                  <a class="btn btn-success btn-sm" href="<%= contact_us_path %>"> <%=t(:'general.public.section_faq.column2.lable2') %> </a>
                  <a class="btn btn-dark btn-sm" href="<%= call_request_path %>">  <%=t(:'general.public.section_faq.column2.lable3') %> </a>
                </div>
              </div>
            </div>
          </div>
          <div class="faq">
            <div class="question"><i class="fa fa-angle-left" aria-hidden="true"></i>
              <h5><%=t(:'general.public.section_faq.column2.question12') %></h5></div>
            <div class="answer">
              <p><%=t(:'general.public.section_faq.column2.answer12-1') %>
              <a href="<%=enterprises_path %>"><%=t(:'general.public.section_faq.column2.answer12-2') %> </a> 
              <%=t(:'general.public.section_faq.column2.answer12-3') %>
              <br> <%=t(:'general.public.section_faq.column2.answer12-4') %><br>
              </p>
              <div class="row">
                <div class="btn-group" role="group" aria-label="<%=t(:'general.public.section_faq.column2.lable1') %>">
                  <a class="btn btn-success btn-sm" href="<%= contact_us_path %>"><%=t(:'general.public.section_faq.column2.lable2') %> </a>
                  <a class="btn btn-dark btn-sm" href="<%= call_request_path %>"> <%=t(:'general.public.section_faq.column2.lable3') %> </a>
                </div>
              </div>
            </div>
          </div>
          <div class="faq">
            <div class="question"><i class="fa fa-angle-left" aria-hidden="true"></i>
              <h5><%=t(:'general.public.section_faq.column2.question13') %></h5></div>
            <div class="answer">
              <p>
                <%=t(:'general.public.section_faq.column2.answer13') %>
            </p>
              <div class="row">
                <div class="btn-group" role="group" aria-label="<%=t(:'general.public.section_faq.column2.lable1') %>">
                  <a class="btn btn-outline-secondary btn-sm" href="<%= videography_path %>"> <%=t(:'general.public.section_faq.column2.lable8') %> </a>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>

      <div class="col-12 col-sm-6 mx-auto justify-content-right my-5">
        <h2><%=t(:'general.public.section_faq.column2.title6') %></h2>
        <div class="faqs">
          <div class="faq">
            <div class="question"><i class="fa fa-angle-left" aria-hidden="true"></i>
              <h5><%=t(:'general.public.section_faq.column2.question14') %></h5></div>
            <div class="answer">
              <p>
              <%=t(:'general.public.section_faq.column2.answer14') %>
              </p></div>
          </div>
          <div class="faq">
            <div class="question"><i class="fa fa-angle-left" aria-hidden="true"></i>
              <h5><%=t(:'general.public.section_faq.column2.question15') %></h5></div>
            <div class="answer">
              <p><%=t(:'general.public.section_faq.column2.answer15') %>
                <br> 
                <%=t(:'general.public.section_faq.column2.answer15-2') %>
                </p>
              <div class="row">
                <div class="btn-group" role="group" aria-label="<%=t(:'general.public.section_faq.column2.lable1') %>">
                  <a class="btn btn-success btn-sm" href="<%= contact_us_path %>"><%=t(:'general.public.section_faq.column2.lable2') %> </a>
                </div>
              </div>
            </div>
          </div>
          <div class="faq">
            <div class="question"><i class="fa fa-angle-left" aria-hidden="true"></i>
              <h5> <%=t(:'general.public.section_faq.column2.question16') %></h5></div>
            <div class="answer">
              <p>
                <em class="text-success"> <%=t(:'general.public.section_faq.column2.answer16-1') %> </em>
                 <%=t(:'general.public.section_faq.column2.answer16-2') %></p>
              <div class="row">
                <div class="btn-group" role="group" aria-label=" <%=t(:'general.public.section_faq.column2.lable1') %>">
                  <a class="btn btn-success btn-sm" href="<%= contact_us_path %>"> <%=t(:'general.public.section_faq.column2.lable2') %> </a>
                </div>
              </div>
            </div>
          </div>
          <div class="faq">
            <div class="question"><i class="fa fa-angle-left" aria-hidden="true"></i>
              <h5><%=t(:'general.public.section_faq.column2.question17') %></h5></div>
            <div class="answer">
              <p><%=t(:'general.public.section_faq.column2.answer17-1') %>
              <br> 
              <%=t(:'general.public.section_faq.column2.answer17-2') %>
              </p>
              </div>
          </div>
        </div>
      </div>
      <div class="col-12 col-sm-6 mx-auto justify-content-right my-5">
        <h2><%=t(:'general.public.section_faq.column2.title7') %> </h2>
        <div class="faqs">
          <div class="faq">
            <div class="question"><i class="fa fa-angle-left" aria-hidden="true"></i>
              <h5><%=t(:'general.public.section_faq.column2.question18') %></h5></div>
            <div class="answer">
              <p> <%=t(:'general.public.section_faq.column2.answer18-1') %>              <br>
                <%=t(:'general.public.section_faq.column2.answer18-2') %>
                <br>
                <strong class="text-warning"> <%=t(:'general.public.section_faq.column2.answer18-3') %> </strong>
                <%=t(:'general.public.section_faq.column2.answer18-4') %>
              </p>
            </div>
          </div>
          <div class="faq">
            <div class="question"><i class="fa fa-angle-left" aria-hidden="true"></i>
              <h5><%=t(:'general.public.section_faq.column2.question19') %></h5></div>
            <div class="answer">
              <p>
              <%=t(:'general.public.section_faq.column2.answer19') %>
              </p>
            </div>
          </div>
          <div class="faq">
            <div class="question"><i class="fa fa-angle-left" aria-hidden="true"></i>
              <h5> <%=t(:'general.public.section_faq.column2.question20') %> </h5>
            </div>
            <div class="answer">
              <p>
                <%=t(:'general.public.section_faq.column2.answer20-1') %> <%=Photographer.all.active.count %>
              
                <br>
                <%=t(:'general.public.section_faq.column2.answer20-2') %>
                <br>
               <%=t(:'general.public.section_faq.column2.answer20-3') %>
                <!--<strong class="text-warning"> هماهنگی شما </strong>
                عکاس دیگری جایگزین میکند. -->
              </p>
            </div>
          </div>
          <div class="faq">
            <div class="question"><i class="fa fa-angle-left" aria-hidden="true"></i>
              <h5><%=t(:'general.public.section_faq.column2.question21') %></h5></div>
            <div class="answer">
              <p>
                 <%=t(:'general.public.section_faq.column2.answer21-1') %>
                <br>
                <%=t(:'general.public.section_faq.column2.answer21-2') %>
                <%= link_to t(:'general.public.section_faq.column2.answer21-3'), galleries_url %>
                <%=t(:'general.public.section_faq.column2.answer21-4') %>
              </p>
            </div>
          </div>
        </div>
      </div>

      <div class="col-12 col-sm-6 mx-auto justify-content-right my-5">
        <h2><%=t(:'general.public.section_faq.lastpart.title') %></h2>
        <div class="faqs">
          <div class="faq">
            <div class="question"><i class="fa fa-angle-left" aria-hidden="true"></i>
              <h5>
                <%=t(:'general.public.section_faq.lastpart.q1') %>
              </h5>
            </div>
            <div class="answer">
              <h6>
                <span class="fa fa-check"></span>
               <%=t(:'general.public.section_faq.lastpart.reason1') %>
              </h6>
              <p>
                <%=t(:'general.public.section_faq.lastpart.explain1-1') %>
                <strong class=""><%=t(:'general.public.section_faq.lastpart.explain1-2') %></strong>
                <%=t(:'general.public.section_faq.lastpart.explain1-3') %>
              </p>
              <h6>
                <span class="fa fa-check"></span>
                <%=t(:'general.public.section_faq.lastpart.reason2') %>
              </h6>
              <p>
                <%=t(:'general.public.section_faq.lastpart.explain2-1') %>
                <!--<strong>
                  در زمان های خالی خود،
                </strong> -->
                <%=t(:'general.public.section_faq.lastpart.explain2-2') %>
              </p>
              <h6>
                <span class="fa fa-check"></span>
                <%=t(:'general.public.section_faq.lastpart.reason3') %>
              </h6>
              <p>
                <%=t(:'general.public.section_faq.lastpart.explain3') %></p>
              <h6>
                <span class="fa fa-check"></span>
                <%=t(:'general.public.section_faq.lastpart.reason4') %>
              </h6>
              <p>
               <%=t(:'general.public.section_faq.lastpart.explain4-1') %>
               <!-- <strong class=""> بسازید و مشتری های دائمی خود را </strong> -->
               <%=t(:'general.public.section_faq.lastpart.explain4-2') %>
              </p>
            </div>
          </div>
          <div class="faq">
            <div class="question"><i class="fa fa-angle-left" aria-hidden="true"></i>
              <h5><%=t(:'general.public.section_faq.lastpart.q2') %></h5>
            </div>
            <div class="answer">
              <p style="text-align: right;">
              <%=t(:'general.public.section_faq.lastpart.explain5') %></p>
              <p style="text-align: center;">
                <a href="<%=join_us_url %>" class="btn btn-outline-dark"><%=t(:'general.public.section_faq.lastpart.lable1') %></a></p>
              <p style="text-align: center;"></p></div>
          </div>
          <div class="faq">
            <div class="question"><i class="fa fa-angle-left" aria-hidden="true"></i>
              <h5><%=t(:'general.public.section_faq.lastpart.q3') %></h5></div>
            <div class="answer">
              <p><%=t(:'general.public.section_faq.lastpart.explain6') %></p>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>

