<head>
  <% if Rails.env.production? %>
    <%= render 'shared/externals/gtag_header' %>
    <%= render 'shared/externals/ganalytics' %>
    <%= render 'shared/yektanet_header' %>
    <%= render 'shared/externals/yandex' %>
    <%= render 'shared/externals/raychat' %>

<% end %>
  <title>
  <%= t(:'general.home.seo.title') %>
  </title>
  <meta charset="UTF-8">
  <meta name="description" content="<%= t(:'general.home.seo.meta_description') %>">
  <meta name="keywords" content="<%= t(:'general.home.seo.meta_keywords') %>">
  <meta name="author" content="<%= t(:'general.home.seo.meta_author') %>">
  <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no">
  <META NAME="ROBOTS" CONTENT="INDEX, FOLLOW">
  <%= csrf_meta_tags %>
  <% if Rails.env.production? %>
    <%= stylesheet_link_tag 'wordpress', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'wordpress', 'data-turbolinks-track': 'reload' %>
  <% else %>
    <%= stylesheet_link_tag 'wordpress', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'wordpress', 'data-turbolinks-track': 'reload' %>
  <% end %>
  <link rel="icon" type="image/png" href="">
</head>
<%= render "public/shared/wordpress_header" %>
<body>
<%= render "public/home/intro" %>
<%#= render :partial => 'user_comments' %>
<% if Rails.env.production? %>
  <%= render 'shared/externals/gtag_body' %>
<% end %>
<section class="fdb-block py-3 pt-5 bg-dark" id="home-expertise">
  <div class="container">
    <div class="row justify-content-center">
      <div class="col col-md-8 text-center">
        <h2>
          <%= t(:'general.home.section3.title') %>
        </h2>
        <p class="text-center lead">
          <%= t(:'general.home.section3.subtitle') %>
        </p>
      </div>
    </div>
    <div class="row text-left mt-4 py-0 justify-content-center">
      <div class="col-12 col-sm-10 col-md-10 col-lg-12 mx-2">
        <div class="row">
           <div class="col-6">
            <button id="personal" class="btn btn-primary btn-block" style="height: 50px">
              <%= t(:'general.home.section3.buttons.button1') %>
            </button>
          </div>
          <div class="col-6">
            <button id="business" class="btn btn-outline-primary btn-block" style="height: 50px">
              <%= t(:'general.home.section3.buttons.button2') %>
            </button>
          </div>
        </div>
        <div class="container-fluid">
          <div class="row text-left mt-0 py-3 justify-content-center" id="personal_types">
            <% ShootType.all.is_personal.active.order("shoot_types.order").each do |sh| %>
              <%= render :partial => 'shoot_type_each' , locals:{sh:sh}%>
            <% end %>
          </div>
          <div class="row text-left mt-0 py-3 justify-content-center d-none" id="business_types">
            <% ShootType.all.is_business.active.order("shoot_types.order").each do |sh| %>
              <%= render :partial => 'shoot_type_each' , locals:{sh:sh} %>
            <% end %>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
<%= render :partial => 'public/home/how_works' %>

<%= render :partial => 'public/home/features' %>


<section class="fdb-block py-0">
  <div class="container py-5 my-5" style="background-image: url(/types/imgs/shapes/1.svg);">
    <div class="row justify-content-center py-5">
      <div class="col-12 col-md-10 col-lg-8 text-center">
        <div class="fdb-box bg-primary">
          <h2 class="text-light">
            <%= t(:'general.home.section9.title') %>
          </h2>
          <p class="lead text-left text-light">
          <%= t(:'general.home.section9.subtitle') %>
          </p>
          <p class="mt-4 text-center text-light">
            <a class="text-light btn btn-outline-light" href="<%=join_url %>">
             <%= t(:'general.home.section9.button') %>
              <i class="fa fa-angle-right"></i>
            </a>
          </p>
        </div>
      </div>
    </div>
  </div>
</section>

<script>
    $(document).ready(function () {
        //DOM manipulation code
        console.log("inside");
        $('#personal').click(function () {
                console.log("personal clicked.");
                $(this).removeClass("btn-outline-primary");
                $(this).addClass("btn-primary");
                $('#business').removeClass("btn-primary").addClass("btn-outline-primary");
                $("#personal_types").removeClass("d-none");
                $("#business_types").addClass("d-none");
            }
        );
        $('#business').click(function () {
                console.log("business clicked.");
                $(this).removeClass("btn-outline-primary");
                $(this).addClass("btn-primary");
                $('#personal').removeClass("btn-primary").addClass("btn-outline-primary");
                $("#business_types").removeClass("d-none");
                $("#personal_types").addClass("d-none");
            }
        )
    });
</script>
</body>
