<head>

  <% if Rails.env.production? %>
    <%= render 'shared/externals/gtag_header' %>
    <%= render 'shared/externals/ganalytics' %>
  <% end %>

  <title>
  <%= t(:'general.home.seo.title') %>
  </title>

  <meta charset="UTF-8">
  <meta name="description" content="<%= t(:'general.home.seo.meta_description') %>">
  <meta name="keywords" content="<%= t(:'general.home.seo.meta_keywords') %>">
  <meta name="author" content="<%= t(:'general.home.seo.meta_author') %>">
  <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no">
  <META NAME="ROBOTS" CONTENT="INDEX, FOLLOW">

  <link rel="icon" type="image/png" href="/img/shootempire.png">
  <meta name="theme-color" content="RGB(41, 135, 249)" />

  <script type="application/ld+json">
    {
      "@context": "https://schema.org",
      "@type": "Organization",
      "url": "https://shootempire.com",
      "logo": "https://shootempire.com/img/shootempire.png",
    }
  </script>

  <%= csrf_meta_tags %>

  <% if Rails.env.production? %>
    <%= stylesheet_link_tag 'wordpress', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'wordpress', 'data-turbolinks-track': 'reload' %>
  <% else %>
    <%= stylesheet_link_tag 'wordpress', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'wordpress', 'data-turbolinks-track': 'reload' %>
  <% end %>
  
</head>

<%= render "public/shared/wordpress_header" %>

<body>
<%#= render "public/home/intro" %>
<%#= render :partial => 'user_comments' %>
<% if Rails.env.production? %>
  <%= render 'shared/externals/gtag_body' %>
<% end %>

<%= render "public/shared/pros" %>


<section class="fdb-block py-3 pt-5 bg-light" id="home-expertise">
  <div class="container">
    <div class="row justify-content-center">
      <div class="col col-md-8 text-center">
        <h2>
          Available Destinations
        </h2>
        <p class="text-center lead">
          Best photoraphy destinations
        </p>
      </div>
    </div>
    <div class="row text-left mt-4 py-0 justify-content-center">
      <div class="col-12 col-sm-10 col-md-10 col-lg-12 mx-2">
        <div class="container-fluid">
          <div class="row text-left mt-0 py-3 justify-content-center" id="personal_types">
            <% ShootLocation.active.each do |sl| %>
            <div class="col-6 col-sm-3">
              <a href="<%=shoot_location_show_path(sl)%>">
              <%= image_tag sl.shoot_location_attachments.first.photo.url(:medium) , class: "img-fluid" , height: "10rem", style: "height: 10em;object-fit: cover;width: 100%;"%>
              <h3 class="my-0 py-0 text-left">
                <%= sl.title %>
              </h3>
              <p class="text-left mt-0 pt-0">
                <small>
                  <%= truncate(sl.description,length: 100) %>
                </small>
              </p>            
              </a>
            </div>
            <% end %>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>


<%= render :partial => 'public/home/features' %>



<section class="fdb-block bg-light py-5">
  <div class="container">
    <div class="row text-center">
      <div class="col">
        <h2 class="mb-4 font-weight-bold">Our Photography Services in Dubai</h2>
        <p class="text-muted text-center">Find the perfect photography service for your needs.</p>
      </div>
    </div>

    <div class="row">
      <% ShootType.active.each_with_index do |sh, index| %>
        <div class="col-md-4 col-sm-6 mb-4 col-6 <%= 'd-none d-sm-block' if index >= 4 %>">
          <div class="card border-0 shadow-sm p-3 d-flex align-items-center text-center">
            <img src="<%= sh.avatar %>" alt="<%= sh.title %>" class="service-img mb-3">
            <h4 class="font-weight-bold">
              <%= sh.title %>
            </h4>
          </div>
        </div>
        <% end %>
    </div>


    <% if ShootType.active.count> 4 %>
    <div class="row d-sm-none">
      <%# This ensures the button is only visible on mobile and only when there are more than 4 shoot types %>
        <div class="col text-center">
          <button id="showMoreBtn" class="btn btn-dark mt-3">Show More</button>
        </div>
    </div>
    <% end %>

  </div>
</section>



<section class="fdb-block bg-light">
  <div class="container">
    <div class="row text-center">
      <div class="col">
        <h2 class="mb-5">How It Works</h2>
      </div>
    </div>

    <div class="row text-center">
      <div class="col-md-4">
        <div class="card p-4 border-0 shadow">
          <div class="icon mb-3">
            <img src="https://cdn-icons-png.flaticon.com/512/2965/2965879.png" width="60" alt="Browse">
          </div>
          <h4>1) Browse Photographers</h4>
          <p>View portfolios and select a photographer.</p>
        </div>
      </div>

      <div class="col-md-4">
        <div class="card p-4 border-0 shadow">
          <div class="icon mb-3">
            <img src="https://cdn-icons-png.flaticon.com/512/2620/2620855.png" width="60" alt="Choose Package">
          </div>
          <h4>2) Choose Your Package</h4>
          <p>Select a service that fits your needs.</p>
        </div>
      </div>

      <div class="col-md-4">
        <div class="card p-4 border-0 shadow">
          <div class="icon mb-3">
            <img src="https://cdn-icons-png.flaticon.com/512/609/609803.png" width="60" alt="Book & Confirm">
          </div>
          <h4>3) Book & Confirm</h4>
          <p>Schedule easily & receive confirmation.</p>
        </div>
      </div>
    </div>

    <div class="row text-center mt-md-4">
      <div class="col-md-6">
        <div class="card p-4 border-0 shadow">
          <div class="icon mb-3">
            <img src="https://cdn-icons-png.flaticon.com/512/2820/2820728.png" width="60" alt="Photoshoot">
          </div>
          <h4>4) Enjoy Your Photoshoot</h4>
          <p>Relax while our professionals handle the magic.</p>
        </div>
      </div>

      <div class="col-md-6">
        <div class="card p-4 border-0 shadow">
          <div class="icon mb-3">
            <img src="https://cdn-icons-png.flaticon.com/512/1828/1828817.png" width="60" alt="Receive Photos">
          </div>
          <h4>5) Receive Edited Photos</h4>
          <p>Get high-quality edited images delivered online.</p>
        </div>
      </div>
    </div>
  </div>
</section>


<section class="fdb-block text-center">
  <div class="container">
    <h2  >Book Your Photographer Today</h2>
    <p class="text-center" > Don't miss capturing your special moments with the best photographers in Dubai.</p>
    <a id="booking" href="#" class="btn btn-primary">Get Started</a>
  </div>
</section>



</body>

<%#= render "types/sections/footer" %>