<head>

  <% if Rails.env.production? %>
    <%= render 'shared/externals/gtag_header' %>
    <%= render 'shared/externals/ganalytics' %>
  <% end %>

  <title>
  <%= t(:'general.home.seo.title') %>
  </title>

  <meta charset="UTF-8">
  <meta name="description" content="<%= t(:'general.home.seo.meta_description') %>">
  <meta name="keywords" content="<%= t(:'general.home.seo.meta_keywords') %>">
  <meta name="author" content="<%= t(:'general.home.seo.meta_author') %>">
  <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no">
  <META NAME="ROBOTS" CONTENT="INDEX, FOLLOW">

  <link rel="icon" type="image/png" href="/img/shootempire.png">
  <meta name="theme-color" content="RGB(41, 135, 249)" />

  <script type="application/ld+json">
    {
      "@context": "https://schema.org",
      "@type": "Organization",
      "url": "https://shootempire.com",
      "logo": "https://shootempire.com/img/shootempire.png",
    }
  </script>

  <%= csrf_meta_tags %>

  <% if Rails.env.production? %>
    <%= stylesheet_link_tag 'wordpress', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'wordpress', 'data-turbolinks-track': 'reload' %>
  <% else %>
    <%= stylesheet_link_tag 'wordpress', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'wordpress', 'data-turbolinks-track': 'reload' %>
  <% end %>
  
</head>

<%= render "public/shared/wordpress_header" %>

<body>
<%= render "public/home/intro" %>
<%#= render :partial => 'user_comments' %>
<% if Rails.env.production? %>
  <%= render 'shared/externals/gtag_body' %>
<% end %>


<section class="fdb-block py-3 pt-5 bg-light" id="home-expertise">
  <div class="container">
    <div class="row justify-content-center">
      <div class="col col-md-8 text-center">
        <h2>
          Available Shoot Locations
        </h2>
        <p class="text-center lead">
          best photography locations in Dubai
        </p>
      </div>
    </div>
    <div class="row text-left mt-4 py-0 justify-content-center">
      <div class="col-12 col-sm-10 col-md-10 col-lg-12 mx-2">
        <div class="container-fluid">
          <div class="row text-left mt-0 py-3 justify-content-center" id="personal_types">
            <% ShootLocation.active.each do |sl| %>
            <div class="col-6 col-sm-3">
              <a href="<%=shoot_location_show_url(sl)%>">
              <%= image_tag sl.shoot_location_attachments.first.photo.url(:medium) , class: "img-fluid" , height: "10rem", style: "height: 10em;object-fit: cover;width: 100%;"%>
              <h3 class="my-0 py-0 text-left">
                <%= sl.title %>
              </h3>
              <p class="text-left mt-0 pt-0">
                <small>
                  <%= sl.description %>
                </small>
              </p>            
              </a>
            </div>
            <% end %>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>


<section class="fdb-block py-3 pt-5 " id="home-expertise">
  <div class="container">
    <div class="row justify-content-center">
      <div class="col col-md-8 text-center">
        <h2>
          Our best dubai photographers
        </h2>
        <p class="text-center lead">
          book less than 30 seconds
        </p>
      </div>
    </div>
    <div class="row text-left mt-4 py-0 justify-content-center">
      <div class="col-12 col-sm-10 col-md-10 col-lg-12 mx-2">
        <div class="container-fluid">
          <div class="row text-left mt-0 py-3 justify-content-center" id="personal_types">
            <% Photographer.all.approved.each do |ph| %>
            <div class="col-6 col-sm-3">
              <%= image_tag ph.avatar_url(:mini) , class: "img-fluid" , height: "10rem", style: "height: 10em;object-fit: cover;width: 100%;"%>
              <h3 class="my-0 py-0 text-left">
                <%= ph.abbrv_name %>
              </h3>
              <p class="text-left mt-0 pt-0">
                <small>
                  <%#= ph.experience.bio %>
                </small>
              </p>            
            </div>
            <% end %>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>

<%= render :partial => 'public/home/features' %>


<section class="fdb-block py-0">
  <div class="container py-5 my-5">
    <div class="row justify-content-center py-5">
      <div class="col-12 col-md-10 col-lg-8 text-center">
        <div class="fdb-box bg-primary">
          <h2 class="text-light"> 
            <%= t(:'general.home.section9.title') %>
          </h2>
          <p class="lead text-left text-light">
          <%= t(:'general.home.section9.subtitle') %>
          </p>
          <p class="mt-4 text-center text-light">
            <a class="text-light btn btn-outline-light" href="<%=join_url %>">
             <%= t(:'general.home.section9.button') %>
              <i class="fa fa-angle-right"></i>
            </a>
          </p>
        </div>
      </div>
    </div>
  </div>
</section>
</body>
