<head>
  <% if Rails.env.production? %>
    <%= render 'shared/externals/gtag_header' %>
    <%= render 'shared/externals/ganalytics' %>
    <%= render 'shared/yektanet_header' %>
    <%= render 'shared/externals/yandex' %>
    <%= render 'shared/externals/raychat' %>
<% end %>
  <title>
    <%= t(:'head.meta_title') %>
  </title>
  <meta charset="UTF-8">
  <meta name="description" content="<%=t(:'head.meta_description')%>">
  <meta name="keywords" content="<%=t(:'head.meta_keywords')%>">
  <meta name="author" content="kadro">
  <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no">
  <META NAME="ROBOTS" CONTENT="INDEX, FOLLOW">
  <%= csrf_meta_tags %>
  <% if Rails.env.production? %>
    <%= stylesheet_link_tag 'wordpress', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'wordpress', 'data-turbolinks-track': 'reload' %>
  <% else %>
    <%= stylesheet_link_tag 'wordpress', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'wordpress', 'data-turbolinks-track': 'reload' %>
  <% end %>
  <link rel="icon" type="image/png" href="">
</head>
<%= render "public/shared/wordpress_header" %>

<%= render "public/join/join_intro" %>

<section class="fdb-block" data-block-type="features" data-id="2" draggable="true">
  <div class="container">
    <div class="row align-items-center pb-xl-5">
      <div class="col-12 col-md-7 col-xl-5">
        <h2 class="text-left">
          <%=t(:'section1.title')  %>
        </h2>
        <p class="">
          <%=t(:'section1.description')  %>
        </p>
      </div>
      <div class="col-12 col-sm-6 col-md-4 pt-4 mx-auto">
          <img alt="<%=t(:'section1.title')%>" class="img-fluid" src="/img/contact_us_man.png">
      </div>
    </div>

    <div class="row pt-5">
      <div class="col-12 col-sm-6 col-md-2 mx-auto">
        <div class="row justify-content-center">
          <div class="col-6 text-center">
            <%=image_tag "/img/join/calendar.png",width:"75%" %>
          </div>
          <div class="col-12">
            <h3>
              <strong>
                <%=t(:'section1.benefits.feature_5.title')  %>
              </strong>
            </h3>
            <p>
              <%=t(:'section1.benefits.feature_5.desc')  %>
            </p>
          </div>
        </div>
      </div>
      <div class="col-12 col-sm-6 col-md-2 mx-auto">
        <div class="row justify-content-center">
          <div class="col-6 text-center">
            <%=image_tag "/img/join/half_time.png",width:"50%" %>
          </div>
          <div class="col-12">
            <h3>
              <strong>
                <%=t(:'section1.benefits.feature_4.title')  %>
              </strong>
            </h3>
            <p>
              <%=t(:'section1.benefits.feature_4.desc')  %>
            </p>
          </div>
        </div>
      </div>
      <div class="col-12 col-sm-6 col-md-2 mx-auto">
        <div class="row justify-content-center">
          <div class="col-6 text-center">
            <%=image_tag "/img/join/neayby.png",width:"75%" %>
          </div>
          <div class="col-12">
            <h3>
              <strong>
                <%=t(:'section1.benefits.feature_3.title')  %>
              </strong>
            </h3>
            <p>
              <%=t(:'section1.benefits.feature_3.desc')  %>
            </p>
          </div>
        </div>
      </div>
      <div class="col-12 col-sm-6 col-md-2 mx-auto">
        <div class="row justify-content-center">
          <div class="col-6 text-center">
            <%=image_tag "/img/join/payment.png",width:"75%" %>
          </div>
          <div class="col-12">
            <h3>
              <strong>
                <%=t(:'section1.benefits.feature_2.title')  %>
              </strong>
            </h3>
            <p>
              <%=t(:'section1.benefits.feature_2.desc')  %>
            </p>
          </div>
        </div>
      </div>
      <div class="col-12 col-sm-6 col-md-2 mx-auto">
        <div class="row justify-content-center">
          <div class="col-6 text-center">
            <%=image_tag "/img/join/profile.png",width:"75%" %>
          </div>
          <div class="col-12">
            <h3>
              <strong>
                <%=t(:'section1.benefits.feature_1.title')  %>
              </strong>
            </h3>
            <p>
              <%=t(:'section1.benefits.feature_1.desc')  %>
            </p>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
<section class="fdb-block" data-block-type="features" data-id="3" draggable="true">
  <div class="container">
    <div class="row justify-content-center pb-xl-5">
      <div class="col-12 col-md-8 text-center">
        <h2>
          <%=t(:'section2.title')  %>
        </h2>
        <p class="lead">
          <%=t(:'section2.description')  %>
        </p>
      </div>
    </div>

    <div class="row text-right align-items-center-lg align-items-end pt-5">
      <div class="col-12 col-md-7 col-lg-6 col-xl-5 m-auto text-left pt-5 pt-md-0 join_steps border-right border-light">
        <h3>
          <strong>
          <%=t(:'section2.steps.one.title')%>
          </strong>
        </h3>
        <p>
          <%=t(:'section2.steps.one.desc')%>
        </p>

        <h3>
          <strong>
          <%=t(:'section2.steps.two.title')%>
          </strong>
        </h3>
        <p>
          <%=t(:'section2.steps.two.desc')%>
        </p>
        <h3>
          <strong>
          <%=t(:'section2.steps.three.title')%>
          </strong>
        </h3>
        <p>
          <%=t(:'section2.steps.three.desc')%>
        </p>

        <h3>
          <strong>
          <%=t(:'section2.steps.four.title')%>
          </strong>
        </h3>
        <p>
          <%=t(:'section2.steps.four.desc')%>
        </p>
        <h3>
          <strong>
          <%=t(:'section2.steps.five.title')%>
          </strong>
        </h3>
        <p>
          <%=t(:'section2.steps.five.desc')%>
        </p>
        <h3>
          <strong>
            <%=t(:'section2.steps.six.title')%>
          </strong>
        </h3>
        <p>
          <%=t(:'section2.steps.six.desc')%>
        </p>
        <p class="text-center">
          <a href="https://forms.gle/hFH4L7YQL1BwYiqr7" class="btn btn-lg btn-outline-primary"> 
          <%=t(:'section2.steps.cta')%>
          </a>
        </p>
      </div>
      <div class="col-7 col-sm-4 m-auto mb-md-0 mt-md-0 m-lg-auto bg-white"><p>
        <img alt="image" class="img-fluid rounded shadow-lg bg-white" src="<%=assets_url("/img/join/join.jpg") %>">
      </p>
      </div>
    </div>
  </div>
</section>
<section class="fdb-block" data-block-type="features" data-id="4" draggable="true">
  <div class="container">
    <div class="row justify-content-center">
      <div class="col-12 text-left">
        <h2>
          <%=t(:'section3.title') %>
        </h2>
        <p class="lead">
          <%=t(:'section3.desc') %>
        </p>
      </div>
    </div>
    <div class="row text-left pt-2 photographer_income">
      <div class="row text-left my-2">
        <div class="col-12 mx-5">
          <h4 class="text-left text-primary">
           <%= t(:'section3.subtitle') %>
          </h4>
        </div>
      </div>
      <div class="row text-left justify-content-sm-center">
        <div class="col-12 col-sm-6 col-lg-3 col-xl-2 ml-xl-auto mr-xl-auto">
          <p class="text-dark">
            <span class="fa fa-check"> </span>
            <%= t(:'section3.conditions.full_part_time') %>
          </p>
        </div>
        <div class="col-12 col-sm-6 col-lg-3 col-xl-2 ml-xl-auto mr-xl-auto pt-3 pt-md-0 pt-lg-0">
          <p class="text-dark">
            <span class="fa fa-check"> </span>
            <%= t(:'section3.conditions.experience') %>
          </p>
        </div>
        <div class="col-12 col-sm-6 col-lg-3 col-xl-2 ml-xl-auto mr-xl-auto pt-3 pt-lg-0">
          <p class="text-dark">
            <span class="fa fa-check"> </span>
            <%= t(:'section3.conditions.equipments') %>
          </p>
        </div>

        <div class="col-12 col-sm-6 col-lg-3 col-xl-2 ml-xl-auto mr-xl-auto pt-3 pt-lg-0">
          <p class="text-dark">
            <span class="fa fa-check"> </span>
            <%= t(:'section3.conditions.googling') %>
          </p>
        </div>
      </div>

      <div class="row text-left justify-content-sm-center pt-3 pt-lg-5">
        <div class="col-12 col-sm-6 col-lg-3 col-xl-2 ml-xl-auto mr-xl-auto">
          <p class="text-dark">
            <span class="fa fa-check"> </span>
            <%= t(:'section3.conditions.poses') %>
          </p>
        </div>
        <div class="col-12 col-sm-6 col-lg-3 col-xl-2 ml-xl-auto mr-xl-auto pt-3 pt-md-0 pt-lg-0">
          <p class="text-dark">
            <span class="fa fa-check"> </span>
            <%= t(:'section3.conditions.post_processing') %>
          </p>
        </div>
        <div class="col-12 col-sm-6 col-lg-3 col-xl-2 ml-xl-auto mr-xl-auto pt-3 pt-lg-0">
          <p class="text-dark">
            <span class="fa fa-check"> </span>
            <%= t(:'section3.conditions.social_media') %>
          </p>
        </div>
        <div class="col-12 col-sm-6 col-lg-3 col-xl-2 ml-xl-auto mr-xl-auto pt-3 pt-lg-0">
          <p class="text-dark">
            <span class="fa fa-check"> </span>
            <%= t(:'section3.conditions.energetic') %>
          </p>
        </div>
      </div>
    </div>
  </div>
</section>

<section class="fdb-block">
  <div class="container photographer_income">
    <div class="row justify-content-center">
      <div class="col-12 text-center">
        <h2>
          <%=t(:'section4.title') %>
        </h2>
        <p class="text-center text-dark">
          <%=t(:'section4.desc') %>
        </p>
      </div>
    </div>

    <div class="row text-center mt-5">
      <div class="col">
        <span class="fa fa-money fa-2x"></span>
        <h3>
          <strong>
            <%= t(:'section4.bookings.title') =%>
          </strong>
        </h3>
        <p>
            <%= t(:'section4.bookings.desc') =%>
        </p>
      </div>

      <div class="col pt-4 pt-sm-0">
        <span class="fa fa-clock-o fa-2x"></span>
        <h3>
          <strong> 
            <%= t(:'section4.extension.title') =%>
          </strong>
        </h3>
        <p>
            <%= t(:'section4.extension.desc') =%>
        </p>
      </div>
    </div>
  </div>
</section>
<section class="fdb-block fp-active" data-block-type="contents" data-id="6" draggable="true">
  <div class="container">
    <div class="row">
      <div class="col col-md-8 text-center">
        <h2 class="text-center">
          <%= t(:'faq.title') %>          
        </h2>
      </div>
      <div class="col-12 col-sm-6 mx-auto justify-content-right my-5">
        <div class="faqs">
          <div class="faq">
            <div class="question">
              <i class="fa fa-angle-down" aria-hidden="true"></i>
              <h3>
                <%= t(:'faq.q1') %>
              </h3>
            </div>
            <div class="answer">
              <p>
                <%= t(:'faq.a1') %>
              </p>
            </div>
          </div>

          <div class="faq">
            <div class="question">
              <i class="fa fa-angle-down" aria-hidden="true"></i>
              <h3>
                <%= t(:'faq.q2') %>
                
              </h3>
            </div>
            <div class="answer">
              <p>
                <%= t(:'faq.a2') %>
                
              </p>
            </div>
          </div>

          <div class="faq">
            <div class="question">
              <i class="fa fa-angle-down" aria-hidden="true"></i>
              <h3>
                <%= t(:'faq.q3') %>
                
              </h3>
            </div>
            <div class="answer">
              <p>
                <%= t(:'faq.a3') %>
                
              </p>
            </div>
          </div>
           
          <div class="faq">
            <div class="question">
              <i class="fa fa-angle-down" aria-hidden="true"></i>
              <h3>
                <%= t(:'faq.q4') %>
                
              </h3>
            </div>
            <div class="answer">
              <p>
                <%= t(:'faq.a4') %>
                
              </p>
            </div>
          </div>

        </div>
      </div>
    </div>
  </div>
</section>
<%= render "public/join/join_intro.html.erb" %>
