<head>
  <% if Rails.env.production? %>
    <%= render 'shared/externals/gtag_header' %>
    <%= render 'shared/externals/ganalytics' %>
    <%= render 'shared/yektanet_header' %>
    <%= render 'shared/externals/yandex' %>
    <%= render 'shared/externals/raychat' %>
<% end %>
  <title>
    <%= t(:'general.pricing.seo.title') %>
  </title>
  <meta charset="UTF-8">
  <meta name="description" content="Affordable photography made accessible!">
  <meta name="keywords" content="Affordable photography made accessible!">
  <meta name="author" content="Kadro Team">
  <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no">
  <META NAME="ROBOTS" CONTENT="INDEX, FOLLOW">
  <%= csrf_meta_tags %>
  <% if Rails.env.production? %>
    <%= stylesheet_link_tag 'wordpress', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'wordpress', 'data-turbolinks-track': 'reload' %>
  <% else %>
    <%= stylesheet_link_tag 'wordpress', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'wordpress', 'data-turbolinks-track': 'reload' %>
  <% end %>
</head>
<%= render "public/shared/wordpress_header" %>

<%= render "public/pricing/intro" %>

<%= render "public/pricing/features" %>

<%= render "public/pricing/shoot_type_prices" %>

<%#= render "public/pricing/pricing_testimonial" %>

<%#= render "public/pricing/faq" %>

<%= render "public/shared/section_of_call_request" , dest_url: create_call_request_path %>

<!-- <section class="fdb-block py-0">
  <div class="container py-5 my-5 bg-r" style="background-image: url(/types/imgs/shapes/9.svg);">
    <div class="row text-left py-5">
      <div class="col-12 col-md-8 col-lg-6 ml-sm-auto">
        <div class="fdb-box fdb-touch">
          <div class="row justify-content-center">
            <div class="col-12 col-xl-8 text-center">
              <h2>
                قیمت چاپ عکس
              </h2>
              <p class="lead">
                قیمت های چاپ عکس کادرو در مقایسه با بازار بسیار رقابتی است و شما میتوانید بعد از عکاسی تان به تعداد دلخواه از عکس هایتان سفارش چاپ عکس و شاسی بدهید.
              </p>
              <p class="h3 mt-4">
                <%= link_to "قیمت چاپ عکس" , print_prices_path , class:"btn btn-dark"%>
              </p>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section> -->

<!-- <section class="fdb-block py-2">
  <div class="container " style="background-image: url(/types/imgs/shapes/9.svg);">
    <div class="row text-right pt-5 justify-content-end">
      <div class="col-12 col-md-8 col-lg-6 pull-left ml-0">
        <div class="fdb-box fdb-touch rounded-bottom-0">
          <h2>
            <strong>
            تعرفه قیمتی انجمن عکاسان
          </strong>
          </h2>
          <p class="lead">
            در مقایسه تعرفه قیمت عکاسی کادرو  با تعرفه قیمتی انجمن عکاسان‌، متوجه این امر خواهید شد که کادرو به دلیل طراحی سیستم عکاسی ساعتی و مبتنی بر زمان آزاد عکاس، توانسته است تعرفه قیمت مقرون به صرفه ای را برای داشتن یک عکاس حرفه ای و ارزان یا رزرو آتلیه عکاسی در نظر بگیرد.
          </p>
        </div>
      </div>
    </div>
  </div>
</section> -->

<!-- <section class="fdb-block mb-2">
  <div class="container">
    <div class="row">
      <div class="col text-center">
        <h3 class="text-right"> دسترسی سریع </h3>
      </div>
    </div>
    <div class="row-70"></div>
    <div class="row text-center justify-content-sm-center no-gutters">
      <% ShootType.all.active.order("shoot_types.order").each do |sh| %>
        <div class="col-3 my-3">
          <%= link_to  "قیمت عکاسی #{sh.title}" , types_show_path(title: sh.w_url) + '/#prices' %>
        </div>
      <%end %>
    </div>
  </div>
</section> -->


<script>
    $(document).ready(function () {
        //DOM manipulation code
        console.log("inside");
        $('#personal').click(function () {
                console.log("personal clicked.");
                $(this).removeClass("btn-outline-primary");
                $(this).addClass("btn-primary");
                $('#business').removeClass("btn-primary").addClass("btn-outline-primary");
                $("#personal_types").removeClass("d-none");
                $("#business_types").addClass("d-none");
            }
        );
        $('#business').click(function () {
                console.log("business clicked.");
                $(this).removeClass("btn-outline-primary");
                $(this).addClass("btn-primary");
                $('#personal').removeClass("btn-primary").addClass("btn-outline-primary");
                $("#business_types").removeClass("d-none");
                $("#personal_types").addClass("d-none");
            }
        )
    });
</script>
