<head>
  <% if Rails.env.production? %>
    <%= render 'shared/externals/gtag_header' %>
    <%= render 'shared/externals/ganalytics' %>
    <%= render 'shared/yektanet_header' %>
    <%= render 'shared/externals/yandex' %>
  <% end %>
  <title>
    حریم خصوصی کاربران در کادرو | کادرو
  </title>
  <meta charset="UTF-8">
  <meta name="description" content="حریم خصوصی کابران در کادرو مرتبط با قوانین و مقررات کادرو">
  <meta name="keywords" content="حریم خصوصی، امنیت">
  <meta name="author" content="تیم کادرو">
  <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no">
  <META NAME="ROBOTS" CONTENT="INDEX, FOLLOW">
  <%= csrf_meta_tags %>
  <% if Rails.env.production? %>
    <%= stylesheet_link_tag   'wordpress', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'wordpress', 'data-turbolinks-track': 'reload' %>
  <% else %>
    <%= stylesheet_link_tag   'wordpress', media: 'all', 'data-turbolinks-track': 'reload'%>
    <%= javascript_include_tag 'wordpress', 'data-turbolinks-track': 'reload'  %>
  <% end %>
  <link rel="icon" type="image/png" href="">
</head>
<%= render "public/shared/wordpress_header" %>
<section class="fdb-block" style="background-image: url(<%= assets_url("/types/imgs/shapes/8.svg") %>)">
  <div class="container">
    <div class="row justify-content-center">
      <div class="col col-md-8 text-center">
        <h1>
          حریم خصوصی کاربران در کادرو
        </h1>
        <h3>
          مهمترین
          <strong style="color:red"> خط قرمز کادرو </strong>
        </h3>
      </div>
    </div>
  </div>
</section>
<section class="fdb-block terms">
  <div class="container">
    <div class="row">
      <div class="col text-left">
        <h2> پیش از مطالعه این بخش... </h2>
        <p class="text-center">
          پیشنهاد می کنیم
          <%=link_to " قوانین و مقرارت کادرو" , terms_path , target:"_blank"%> را مطالعه فرمایید.
        </p>
      </div>
    </div>
    <div class="row justify-content-center">
      <div class="col col-md-8 text-center">
        <div class="container"><h3 ><em>حریم خصوصی</em></h3>
          <p>رعایت حریم شخصی کاربران برای کادرو بسیار حائز اهمیت است. در این متن نحوۀ ذخیره‌سازی و استفادۀ کادرو از
            اطلاعاتی که در نتیجه استفادۀ کاربران از خدمات کادرو در سامانۀ کادرو ثبت می‌شود شرح داده شده است.</p>
          <h3 ><em>جمع‌آوری اطلاعات</em></h3>
          <h4><strong>اطلاعاتی که شما مستقیما در کادرو ثبت می‌کنید:</strong></h4>
          <p>بخشی از اطلاعاتی که کادرو ذخیره می‌کند اطلاعاتی است که شما به صورت مستقیم در فرآیند ثبت نام، ارسال درخواست
            عکاسی، تماس با مرکز مشاوره و یا روش‌های مشابه در سامانه ثبت می‌کنید. این اطلاعات شامل نام، نام خانوادگی،
            شماره تلفن همراه، شماره تلفن ثابت، آدرس، آدرس پست الکترونیکی و اطلاعاتی از این دست می‌باشد.</p>
          <h4><strong>اطلاعاتی که در نتیجه استفاده شما از سرویس ذخیره می‌شود:</strong></h4>
          <p>علاوه بر اطلاعاتی که شما به صورت مستقیم در سامانه ثبت می‌کنید، برخی از اطلاعاتی که در نتیجۀ استفادۀ شما از
            سرویس تولید می‌شود نیز در کادرو ذخیره خواهد شد. این اطلاعات در زیر شرح داده شده‌اند:</p>
          <h5><strong> ۱ – اطلاعات مکانی</strong></h5>
          <p>هنگامی که شما از سرویس کادرو استفاده می‌کنید موقعیت مکانی پروژه مورد درخواست شما ذخیره می‌شود.</p>
          <h5><strong> ۲ – تراکنش‌های مالی</strong></h5>
          <p>هنگامی که شما اعتبار حساب کاربری خود در کادرو را از طریق کارت‌های بانکی افزایش می‌دهید، شمارۀ تراکنش و
            پیگیری بانکی در کادرو ثبت می‌شود. لازم به ذکر است، با توجه به اینکه تمامی تراکنش‌های مالی از طریق سامانه‌های
            بانکی صورت می‌گیرد، کادرو در فرآیند انتقال وجه و یا افزایش اعتبار از طریق کارت‌های بانکی هیچ‌گونه دسترسی به
            اطلاعات کارت بانکی شما ندارد.</p>
          <h5><strong> ۳- عکس های شما</strong></h5>
          <p>
            هنگامیکه شما درخواست عکاسی ثبت میکنید، در صورتیکه سفارش شما تحویل-در-محل نباشد، عکسهای شما توسط کاربر عکاس ویرایش شده و داخل آلبوم خصوصی آنلاین امن شما بارگذاری می شود. فایلهای عکسهای شما توسط
            الگوریتم های رمز نگاری ذخیره می شوند و فقط کاربری که سفارش را ثبت کرده است با شماره موبایل ثبت و احراز شده دسترسی نمایش و دانلود فایلها را دارد.
            <br>
            در صورتیکه کاربر مالک یک پروژه عکاسی بخواهد می تواند لینک آلبوم خصوصی امن خود را در اختیار دیگران قرار دهد، در اینصورت هر فرد دیگر می تواند پس از احراز شماره موبایل خود دسترسی نمایش و دانلود فایلها را داشته باشد.
            <br>
            بدیهی ست در این صورت، مسئولیت افشای عکس های آن آلبوم به عهده کاربر مالک پروژه عکاسی می باشد.
          </p>

          <h5><strong> ۳- استفاده به عنوان نمونه کار</strong></h5>
          <p>
            نه کادرو و نه هیچ کاربر عکاس اجازه استفاده از عکس های گرفته شده در پروژه های عکاسی را به هیچ وجه ندارد.
            بدلیل درخواست بالای کاربران عکاس برای استفاده از این عکسها، کادرو بستر آنلاین کسب اجازه از کاربر مالک پروژه را ایجاد کرده است که هر کاربر عکاس می تواند تا حداکثر
            <%=Setting.find_by(var:"max_share_request").value %>
            عدد عکس را درخواست اجازه دهد و کاربر مالک پروژه می تواند به صورت امضای دیجیتال اجازه دهد، در اینصورت کاربر عکاس می تواند
            <strong style="color:black">فقط از عکسهایی که اجازه انتشار گرفته است</strong>،
            به عنوان نمونه کار استفاده کند.
          </p>

          <h3><strong> نحوه استفاده از خدمات</strong></h3>
          <p>کادرو ممکن است اطلاعات مربوط به نحوه استفاده کاربران از نرم‌افزار موبایل و سایت کادرو را ثبت می‌کند. از این
            اطلاعات برای بهبود کیفیت خدمات استفاده می‌شود.</p>
          <h3><strong> اطلاعات مربوط به دستگاه مورد استفاده و شبکه اینترنت</strong></h3>
          <p>کادرو ممکن است اطلاعات مربوط دستگاهی که شما از طریق آن از سامانه استفاده می‌کنید (تلفن همراه، تبلت و غیره)
            از جمله نوع دستگاه، سیستم عامل، مشخصات سخت افزاری و همچنین اطلاعات مربوط به روش اتصال شما به اینترنت از جمله
            شبکه ۳G، وای‌فای (WiFi) و غیره را ذخیره کند.</p>
          <h3 ><em> استفاده از اطلاعات</em></h3>
          <p style="line-height: 2em" > اطلاعاتی که در کادرو ذخیره می‌شود در موارد زیر ممکن است مورد استفاده قرار بگیرد و استفادۀ کاربر عکاس یا
            کاربر مشتری از سرویس کادرو به منزلۀ قبول و اعطای اختیار به کادرو جهت استفاده و بهره‌برداری از اطلاعات فوق
            الاشعار به شرح زیر می‌باشد:<br> ارائه، نگهداری و بهبود کیفیت خدمات؛<br> برقراری ارتباط بین عکاس و مشتری جهت
            تسهیل فرآیند عکاسی؛ به طور مثال عکاس می‌تواند از شماره تلفن همراه مشتری برای پیدا کردن مکان دقیق پروژه و
            دریافت جزئیات نیاز مشتری از عکاسی استفاده کند؛<br> ارتباط کادرو با مشتری جهت اطلاع‌رسانی، کنترل کیفی، بررسی
            شکایات و غیره؛<br> شخصی‌سازی سرویس برای هر کاربر شامل ارائه پیشنهادهای ویژۀ هر کاربر؛<br> بدیهی است مسئولیت
            حفظ و نگهداری از تمامی اطلاعات فوق الاشعار برعهده کادرو می باشد؛ به نحوی که هیچ شخص اعم از حقیقی و یا حقوقی
            غیر ذیصلاح حق دسترسی به اطلاعات مذکور را نخواهد داشت. صرفاً در صورتی که طبق درخواست و یا صدور دستور مقتضی از
            سوی مراجع قضایی، اطلاعات کاربر مشتری و یا عکاس – اعم از اینکه به صورت مستقیم از سوی ایشان و یا به صورت
            خودکار جمع آوری و ضبط شده باشد – مطالبه شود، کادرو موظف به ارایۀ اطلاعات درخواستی به مراجع مذکور خواهد بود.
          </p></div>
      </div>
    </div>
  </div>
</section>