<head>
  <% if Rails.env.production? %>
    <%= render 'shared/externals/gtag_header' %>
    <%= render 'shared/externals/ganalytics' %>
    <%= render 'shared/yektanet_header' %>
    <%= render 'shared/externals/yandex' %>
  <% end %>
  <title>
    شرایط و قوانین | کادرو
  </title>
  <meta charset="UTF-8">
  <meta name="description" content="شرایط و قوانین جاری در کادرو">
  <meta name="keywords" content="قوانین، شرایط">
  <meta name="author" content="تیم کادرو">
  <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no">
  <META NAME="ROBOTS" CONTENT="INDEX, FOLLOW">
  <%= csrf_meta_tags %>
  <% if Rails.env.production? %>
    <%= stylesheet_link_tag 'wordpress', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'wordpress', 'data-turbolinks-track': 'reload' %>
  <% else %>
    <%= stylesheet_link_tag 'wordpress', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'wordpress', 'data-turbolinks-track': 'reload' %>
  <% end %>
  <link rel="icon" type="image/png" href="">
</head>
<%= render "public/shared/wordpress_header" %>
<style>
  p {
    color: black;
  }
</style>
<section class="fdb-block" style="background-image: url(<%= assets_url("/types/imgs/shapes/8.svg") %>)">
  <div class="container">
    <div class="row justify-content-center">
      <div class="col col-md-8 text-center">
        <h1>
          شرایط و قوانین کادرو
        </h1>
        <h3>
          باید ها و نباید ها در کادرو
        </h3>
      </div>
    </div>
  </div>
</section>
<section class="fdb-block terms">
  <div class="container">
    <div class="row justify-content-center">
      <div class="col col-md-8 text-center">
        <h4 class="p1" dir="rtl"><em><span class="s1">ماده ۱ – تعاریف و اصطلاحات</span></em></h4>
        <p class="p2" dir="rtl">
          <span class="s1">اصطلاحاتی که در این قوانین و مقررات به کار رفته است دارای معانی مشروح زیر است:</span></p>
        <p class="p2" dir="rtl">
          <span class="s1">۱-۱- مشتری: اشخاصی که در سایت کادرو به منظور ارسال درخواست عکاسی ثبت‌ نام کرده‌اند.</span>
        </p>
        <p class="p2" dir="rtl">
          <span class="s1">۲-۱- عکاس: اشخاصی که در سایت کادرو به منظور دریافت درخواست عکاسی و ارائه خدمات عکاسی ثبت ‌نام کرده‌اند.</span>
        </p>
        <p class="p2" dir="rtl">
          <span class="s1">۳-۱- کاربر: شخصی است اعم از مشتری و عکاس که از طریق اینترنت به سامانۀ کادرو متصل و از خدمات نرم افزاری کادرو بهرمند می‌شود. بدیهی است منظور از کاربر در این سند، بنا به مورد مشتری، عکاس و یا هر دو می‌باشد.</span>
        </p>
        <p class="p2" dir="rtl"><span class="s1">۴-۱- کاربران: اعم از مشتریان و عکاسان.</span></p>
        <p class="p2" dir="rtl">
          <span class="s1">۵-۱- شرکت: شرکت شبکه خدمات عکاسی کادرو که نسبت به ارائه خدمات عکاسی اقدام می‌کند.</span></p>
        <p class="p2" dir="rtl">
          <span class="s1">۶-۱- کادرو: خدماتی نرم‌ افزاری، عکاسی و چاپ که توسط شرکت کادرو ارائه می‌شود.</span></p>
        <p class="p2" dir="rtl">
          <span class="s1">۷-۱- حساب کاربری: حسابی است که اشخاص برای استفاده از خدمات کادرو در سامانۀ کادرو ایجاد کرده‌اند.</span>
        </p>
        <p class="p2" dir="rtl">
          <span class="s1">۸-۱- اعتبار: مبلغی است که کاربران مشتری در حساب کاربری خود به منظور استفاده از خدمات کادرو دارند. این مبلغ به صورت پرداخت از طریق سامانه بانکی و کارت‌های عضو شبکۀ شتاب طبق شرایط و مقررات حاضر منظور و محاسبه خواهد شد.</span>
        </p>
        <p class="p2" dir="rtl">
          <span class="s1">۹-۱- اطلاعات محرمانه: اطلاعاتی که توسط کاربران مشتری و عکاس در اختیار کادرو قرار داده می‌شود اعم از اطلاعاتی که به صورت مستقیم از سوی کاربر مشتری و یا کاربر عکاس وارد می‌شود و همچنین اطلاعاتی که به صورت خودکار و در نتیجۀ بهره برداری از خدمات کادرو در اختیار شرکت قرار داده می‌شود، مانند اطلاعات مربوط به عکاسی اعم از زمان عکاسی، موقعیت مکانی کاربر، عکس های گرفته شده، موقعیت مکانی کاربر عکاس و غیره؛</span>
        </p><h4 class="p1" dir="rtl"><em><span class="s1">ماده ۲ – حساب کاربری</span></em></h4>
        <p class="p2" dir="rtl">
          <span class="s1">۱-۲- کاربر مشتری و یا عکاس با ثبت نام در کادرو و همچنین با هر بار استفاده از خدمات کادرو می‌پذیرد که قوانین و مقررات جاری کادرو را به صورت کامل مطالعه کرده و با اطلاع کامل از شرایط و معانی آن پذیرفته است. این قوانین و مقررات ممکن است در طول زمان تغییرکند و بنابراین استفادۀ مستمر کاربران از کادرو به معنی پذیرش هرگونه تغییر در قوانین و مقررات آن است.</span>
        </p>
        <p class="p2" dir="rtl">
          <span class="s1">۲-۲- برای استفاده از کادرو لازم است که هر کاربر مشتری اعم از شخص حقیقی و یا حقوقی یک حساب کاربری در کادرو بسازد. تنها اشخاصی که بیش از ۱۸ سال سن و واجد اهلیت قانونی باشند می‌توانند اقدام به ساختن حساب کاربری در کادرو کنند. برای استفاده از کادرو کاربر مذکور باید نام، نام خانوادگی، آدرس پست الکترونیکی و شماره همراه خود را در سامانۀ کادرو ثبت کند.</span>
        </p>
        <p class="p2" dir="rtl">
          <span class="s1">۳-۲- کاربر می‌پذیرد اطلاعات خواسته شده را به صورت صحیح و به‌ روز در سامانه کادرو وارد کند و مسئول عدم صحت اطلاعات اعلام شده شخص کاربر می‌باشد. در صورت اثبات خلاف این موضوع، شرکت مجاز به پیگیری قضایی و قانونی نزد مراجع صالح می‌باشد.</span>
        </p>
        <p class="p2" dir="rtl">
          <span class="s1">۴-۲- هر فرد تنها می‌تواند یک حساب کاربری به عنوان مشتری در کادرو داشته باشد. در صورتی که شرکت اطلاع یابد که به نام یک شخص اعم از حقیقی و یا حقوقی حساب‌های کاربری متعدد وجود دارد، شرکت مجاز خواهد بود نسبت به قطع خدمات و غیرفعال نمودن حساب‌های کاربری مذکور اقدام نماید.</span>
        </p>
        <p class="p2" dir="rtl">
          <span class="s1">۵-۲- مسئولیت همۀ فعالیت‌هایی که از طریق حساب کاربری اشخاص حقیقی و یا حقوقی در کادرو یا سایر خدمات مربوط به کادرو انجام می‌شود به عهدۀ کاربر مشتری و یا کاربر عکاس، بنابه مورد، است. بنابراین مسئولیت مشتریان غیر از کاربر نیز، که با استفاده از حساب کاربری وی از خدمات کادرو استفاده می‌نمایند، کاملا متوجه خودکاربر مشتری می‌باشد.</span>
        </p>
        <p class="p2" dir="rtl">
          <span class="s1">۶-۲- مسئولیت حفظ امنیت اطلاعات حساب کاربری از جمله نام کاربری و رمز عبور به عهدۀ کاربر مشتری و یا عکاس است. در صورت مفقود شدن یا سرقت اطلاعات حساب کاربری، کاربر مذکور موظف است در اسرع وقت موضوع را به اطلاع شرکت برساند. بدیهی است تا زمانی که اطلاع‌رسانی به شرکت انجام نشده است، مسئولیت همۀ فعالیت‌هایی که از طریق حساب کاربری مذکور انجام شده و می‌شود به عهدۀ وی خواهد بود.</span>
        </p>
        <p class="p2" dir="rtl">
          <span class="s1">۷-۲- کاربر حق ندارد به اشخاص حقیقی و حقوقی دیگر اجازه استفاده از حساب کاربری خود را بدهد یا حساب خود را به فرد یا شرکت دیگری منتقل کند. در مورد کاربر شخص حقوقی نیز، مسئولیت‌های قانونی بهره برداری از خدمات کادرو متوجه مدیران مجموعه‌های مذکور خواهد بود.</span>
        </p>
        <p class="p2" dir="rtl">
          <span class="s1">۸-۲- در شرایط خاصی ممکن است از کاربر برای استفاده از خدمات، درخواست احراز هویت شود، در چنین شرایطی اگر کاربر اطلاعات کافی در اختیار شرکت قرار ندهد، شرکت می‌تواند حساب کاربری وی را مسدود کرده و از ارائۀ خدمات به کاربر خودداری کند.</span>
        </p>
        <p class="p2" dir="rtl">
          <span class="s1">۹-۲- ممکن است بنا به مورد و حسب صلاحدید و تشخیص شرکت، از کاربر مشتری و یا عکاس درخواست اطلاعات تکمیلی، ارائه مدارک و یا اصلاح اطلاعات موجود گردد. در این صورت کاربر مورد درخواست، متعهد به ارائه اطلاعات و یا اصلاح اطلاعات درخواستی در مدت اعلام و درخواست شده از سوی شرکت خواهد بود. در غیر این صورت شرکت می‌تواند حساب کاربری وی را مسدود کرده و از ارائۀ خدمات به کاربر اعم از مشتری و یا عکاس خودداری کند.</span>
        </p><h4 class="p1" dir="rtl"><em><span class="s1">ماده ۳ – استفاده از کادرو</span></em></h4>
        <p class="p2" dir="rtl">
          <span class="s1">۱-۳- کاربران اعم از مشتریان و عکاسان متعهد می‌شوند در حین استفاده از کادرو از استعمال دخانیات امتناع کنند.</span>
        </p>
        <p class="p2" dir="rtl">
          <span class="s1">۲-۳- با استفاده از خدمات کادرو کاربر اعم از مشتری و عکاس می‌پذیرد و موظف می‌باشدکه از کادرو برای انجام هیچ فعالیت غیر‌قانونی طبق قوانین جمهوری اسلامی ایران یا مخالف با عرف جامعه استفاده نکند. کاربر مشتری و یا عکاس حق ندارد اشیاء غیر مجاز از جمله مشروبات الکلی، مواد مخدر، سلاح یا سایر اشیاء یا حیواناتی که طبق قانون جمهوری اسلامی ایران مجاز نیست، هنگام ارائه یا دریافت خدمات کادرو همراه داشته باشد.</span>
        </p>
        <p class="p2" dir="rtl">
          <span class="s1">۳-۳- کاربر مشتری متعهد است در صورت داشتن موضوع و محصول نامتعارف و هر گونه شی دیگر، موضوع را قبل از تاریخ پروژه به کاربر عکاس یا شرکت کادرو اعلام کند. در غیر اینصورت چنانچه پس از پذیرش درخواست عکاسی و عزیمت کاربر عکاس به نقطه پروژه، عکاس مواجه با موارد فوق شود، مجاز به لغو (امتناع از انجام) عکاسی بوده و مسئولیت جبران خسارات وارده و هزینۀ عکاسی برعهدۀ کاربر مشتری است.</span>
        </p>
        <p class="p2" dir="rtl">
          <span class="s1">۴-۳- کاربر مشتری و یا عکاس متعهد می‌شود هیچ‌گاه از خدمات کادرو به صورتی که به کادرو یا شرکای آن صدمه‌ای وارد کند استفاده نکند. در صورتی که کاربر مشتری اعم از شخص حقیقی و یا حقوقی و یا کاربر عکاس نسبت به سوءاستفاده از امکانات فراهم شده در خدمات کادرو در جهت منافع شخصی و یا آسیب اعم از مادی و یا معنوی به منافع شرکت اقدام نماید، شرکت ضمن داشتن حق قطع خدمات و غیرفعال نمودن حساب کاربری، مجاز خواهد بود با مراجعه به مراجع قضایی و یا سایر مراجع ذیصلاح قانونی نسبت به مطالبه جبران خسارات وارده اقدام نماید.</span>
        </p>
        <p class="p2" dir="rtl">
          <span class="s1">۵-۳- کاربر مشتری و یا عکاس می‌پذیرد که شرکت ممکن است از ارسال پیامک، ایمیل و یا Push Notification به عنوان راه ارتباطی شرکت با وی استفاده کند. کاربر مذکور می‌تواند درخواست کند که ارسال این پیام‌ها قطع شود اما می‌پذیرد که با انصراف از دریافت این پیام‌ها، ممکن است در استفاده از خدمات با مشکل مواجه شود و یا اطلاعات مقتضی بموقع به ایشان نرسد.</span>
        </p>
        <p class="p2" dir="rtl">
          <span class="s1">۶-۳- کادرو ممکن است کدهایی به منظور هدیه به کاربر مشتری ارائه کند که با وارد کردن این کدها در نرم‌افزار، یا درصدی از هزینه عکاسی کاسته یا درصدی از هزینه عکاسی پس از آن به کاربر برگردانده ‌شود و یا مبلغ مشخصی به حساب کاربر در کادرو اضافه ‌شود. نحوۀ ارائه این خدمات و تعیین مهلت استفاده از آنها، منوط به تشخیص و صلاحدید شرکت بوده و در صورت عدم تعلق کدهای مذکور، کاربر مشتری حق طرح هیچگونه ادعا و اعتراضی را در این خصوص نخواهد داشت.</span>
        </p>
        <p class="p2" dir="rtl">
          <span class="s1">۷-۳- کاربر مشتری و یا عکاس می‌پذیرد که اجازۀ انتقال یا فروش کد ها را به اشخاص دیگر ندارد. همچنین کاربر مشتری و یا عکاس مجاز نیست این کدها را به صورت عمومی منتشر کند – حتی اگر کادرو در فضاهای عمومی به نحوی که در دسترس عموم است، این کد ها را منتشر کرده باشد – مگر اینکه کادرو رسماً این اجازه را به آنها داده باشد.</span>
        </p>
        <p class="p2" dir="rtl">
          <span class="s1">۸-۳- کاربر مشتری می‌پذیرد اعتباری که در حساب کاربری خود دارد مستقل از روش کسب آن (اگر در نتیجه افزایش اعتبار از طریق درگاه بانک باشد یا در نتیجه وارد کردن کدهای تخفیفی که کادرو در اختیار آنها قرار می‌دهد یا هر روش دیگری) فقط برای استفاده از خدمات کادرو قابل استفاده است و امکان دریافت این وجه را به صورت نقد ندارد.</span>
        </p>
        <p class="p2" dir="rtl">
          <span class="s1">۹-۳- کاربر مشتری می‌پذیرد کدهایی که جهت افزایش اعتبار یا کاهش هزینه عکاسی به آنها داده می‌شود، ممکن است منقضی شوند. از آنجایی که کادرو برای ارائه این کدها هزینه ای از کاربران دریافت نمی‌کند، این حق برای شرکت محفوظ است که مبلغ یا درصد تاثیر این کدها را حتی پس از انتشار آنها تغییر دهد یا در صورت لزوم آنها را باطل کند. همچنین درصورتی که شرکت تشخیص دهد که استفاده از این کد به دلیل خطای فنی یا تخلف صورت گرفته و یا غیر قانونی بوده است می‌تواند این کدها یا اعتباری که در نتیجۀ استفاده از آنها به حساب کاربر اضافه شده است را باطل یا حذف کند.</span>
        </p>
        <p class="p2" dir="rtl">
          <span class="s1">۱۰-۳ -مسئولیت تامین اینترنت و سخت‌افزار لازم و همچنین پرداخت هزینه‌های مربوط به آنها برای استفاده از خدمات کادرو به عهدۀ کاربر مشتری و یا عکاس است.</span>
        </p>
        <p class="p2" dir="rtl">
          <span class="s1">۱۱-۳- حداقل تعداد فریم عکسی که کاربر عکاس باید به مشتری تحویل دهد مطابق با تعرفه هزینه هایی است که کادرو روی سایت اعلام کرده است. کاربر مشتری می‌پذیرد که حداکثر تعداد فریم عکسی که کابر عکاس می تواند به مشتری تحویل دهد بستگی به موضوع عکاسی و شرایط مکان و زمان عکاسی دارد. کاربر عکاس تنها متعهد است حداقل تعداد فریم مطابق با سایت کادرو را به کاربر مشتری تحویل دهد.</span>
        </p>
        <p class="p2" dir="rtl">
          <span class="s1">۱۲-۳- کاربر اعم از مشتری و یا عکاس، متعهد می‌شود پس از اتمام عکاسی از هیچ بخش از اطلاعاتی که در نتیجۀ استفاده از خدمات کادرو، از مشتریان یا عکاسان کسب کرده است، هیچ‌گونه استفاده‌ای نکند. طبعاً ذخیره کردن اطلاعات مشتریان یا عکاسان در دستگاه تلفن همراه یا به هر شیوۀ دیگر نیز مغایر با قوانین کادرو خواهد بود. همچنین کاربر متعهد می‌شود در طول عکاسی، فقط در شرایط ضروری از اطلاعاتی که از مشتریان یا عکاسان در خدمات کادرو ارائه شده است استفاده کند. استفادۀ کاربر از این اطلاعات باید مطابق با عرف جامعه و قوانین جمهوری اسلامی ایران باشد. در هر صورت اطلاعات مذکور به صورت امانت در اختیار کاربر مشتری و عکاس قرار گرفته است و در صورت نقض تعهدات مذکور، شرکت مجاز به پیگیری حقوقی و کیفری موضوع خواهد بود.</span>
        </p>
        <p class="p2" dir="rtl">
          <span class="s1">۱۳-۳- با استفاده از خدمات کادرو کاربر مشتری و یا عکاس می‌پذیرد که در حین عکاسی، کادرو را وسیله‌ای برای تبلیغات و بازاریابی کالاهای شخصی خود قرار ندهد و از هرگونه معرفی و عرضۀ محصولات شخصی و یا محصولات متعلق به دیگران خودداری کند.</span>
        </p>
        <p class="p2" dir="rtl">
          <span class="s1">۱۴-۳- کاربر مشتری و یا عکاس متعهد به رعایت همۀ قوانین اسلامی، شرعی، اخلاقی و اجتماعی جمهوری اسلامی ایران از جمله رعایت حجاب مناسب در هنگام استفاده از کادرو است.</span>
        </p>
        <p class="p2" dir="rtl">
          <span class="s1">۱۵-۳- کاربر مشتری و یا عکاس می‌پذیرد و اعلام می‌دارد که متن حریم خصوصی کادرو را مطالعه کرده و مورد قبول وی است.</span>
        </p>
        <p class="p2" dir="rtl">
          <span class="s1">۱۶-۳- کاربران اعم از مشتریان و عکاسان می‌پذیرند که کادرو خدمات تخصصی عکاسی و تبلیغاتی نیست بلکه تنها یک خدمات نرم‌افزاری است که ارتباط بین مشتریان و عکاسان را جهت توافق بر انجام یک عکاسی فراهم می‌کند. در خدمات کادرو عکاس مختار است یک درخواست عکاسی را بپذیرد یا رد کند، همچنین مشتری مختار است پس از ارسال درخواست عکاسی، مشخص شدن عکاس و قبل از آغاز عزیمت عکاس به نقطه مبدا، عکاسی را انجام دهد یا خیر. لذا هر عکاسی ای که مشتری با عکاس انجام می‌دهد باید به عنوان یک قرارداد لازم مستقل و رابطۀ قراردادی بین عکاس و مشتری در نظر گرفته شود.</span>
        </p>
        <p class="p2" dir="rtl">
          <span class="s1">۱۷-۳- خدمات کادرو ممکن است با مشارکت خدمات شرکت‌های دیگری ارائه شود که شرکت کادرو کنترلی روی آنها ندارد. در چنین شرایطی کاربر می‌پذیرد که این خدمات، قوانین استفاده و مقررات مختص خود را دارند و کادرو مسئولیتی در خصوص قوانین و خدمات این شرکت‌ها ندارد.</span>
        </p>
        <p class="p2" dir="rtl">
          <span class="s1">۱۸-۳- از آنجایی که ممکن است از طریق حساب کاربری کاربر مشتری، مشتری و یا مشتریانی به غیر این کاربر مشتری از خدمات کادرو استفاده نمایند، مسئولیت پرداخت هزینه‌های مترتبه و همچنین هر گونه مسئولیت قانونی ایشان نسبت به عکاس و کادرو متوجه کاربر مشتری می‌باشد و بدین ترتیب کاربر مذکور و مشتریان مربوطه نسبت به کادرو دارای مسئولیت تضامنی می‌باشد.</span>
        </p>
        <h4 class="p1" dir="rtl"><em><span class="s1">ماده ۴ – هزینه ها و پرداخت ها</span></em></h4>
        <h5 style="margin-right: 2em;">
          ۴-۱- شرایط لغو پروژه
        </h5>
        <p class="p2" dir="rtl" style="margin-right: 3em;">
          <span class="s1">
             کاربر مشتری می پذیرد کادرو هیچگونه بازپرداخت مبلغ بدلیل لغو کردن سفارش از سمت کاربر مشتری انجام نمی دهد.
            در صورتیکه کاربر مشتری در روز جاری انجام پروژه نسبت به لغو پروژه اقدام کند، تمام مبلغ پرداختی به عنوان خسارت برای کادرو و کاربر عکاس در نظر گرفته خواهد شد.
            مگر در شرایط زیر.
          </span>
        </p>
        <p  class="p2" dir="rtl" style="margin-right: 3em;">
          در صورتیکه کاربر مشتری در ۲۴ ساعت مانده به زمان انجام عکاسی سفارش خود را لغو کند، فقط ۵۰٪ مبلغ کل سفارش به اعتبار او باز می گردد و ۵۰٪ باقی مانده به عنوان خسارت برای کادرو و کاربر عکاس در نظر گرفته میشود.
        </p>
        <p  class="p2" dir="rtl" style="margin-right: 3em;">
          کاربر مشتری فقط تا ۲۴ ساعت مانده به زمان انجام عکاسی می تواند پروژه سفارش ثبت شده را لغو کند، در این حالت کل مبلغ پرداختی وی به اعتبار او در سامانه کادرو
           منظور می گردد که می تواند در سفارش های آینده از آن استفاده کند.
        </p>
        <p  class="p2" dir="rtl" style="margin-right: 3em;">
          فقط در شرایط زیر کادرو کل مبلغ پروژه را بازپس می گرداند:
        </p>
        <p  class="p2" dir="rtl" style="margin-right: 4em;">
          - عدم امکان سرویس دهی توسط هیچکدام از کابران عکاس کادرو در شرایط انتخابی کاربر مشتری
          <br>
        </p>
        <p class="p2" dir="rtl">
          <span class="s1">۲-۴- کاربر مشتری می‌پذیرد هزینۀ خدمات از طرف کادرو مشخص شده است و پس از استفاده از آن اعتراضی نسبت به هزینۀ خدمات نمی‌تواند داشته باشد. بدیهی است از آنجایی که کاربر مشتری مختار به عدم انتخاب هزینه اعلام شده از سوی کادرو می‌باشد، در صورت قبول متعهد به پرداخت آن می‌باشد و به همین منظور کاربر مذکور با قبول این شرایط و مقررات به شرکت اختیار دریافت و وصول مبالغ مورد مطالبۀ شرکت را از محل اعتبار کاربری خود، اعطا می‌نماید.</span>
        </p>
        <p class="p2" dir="rtl">
          <span class="s1">۳-۴- پرداخت هزینۀ خدمات فقط از طریق روش‌هایی که توسط کادرو مشخص می‌شود، می تواند صورت گیرد. این روش‌ها عبارتند از پرداخت از طریق اعتبار موجود در حساب کاربری کادرو، پرداخت اینترنتی و یا از طریق USSD از طریق درگاه<span class="Apple-converted-space">&nbsp; </span>بانکی واسط زرین پال.</span>
        </p>
        <p class="p2" dir="rtl">
          <span class="s1">۴-۴- کاربر مشتری و یا عکاس می‌پذیرد هزینۀ خدمات ارائه و اعلام شده از سوی کادرو، ممکن است بسته به ویژگی‌های خدمات ارائه شده از جمله رشته و نوع خدمات، زمان خدمات، مدت زمان تخمینی جهت ارایه خدمات، مکان خدمات (محل پروژه) و یا عوامل دیگر متغیر باشد. در هر صورت رقم اعلام شده از سوی کادرو بر اساس استانداردهای موجود و صلاحدید شرکت تعیین گردیده است و در صورت پذیرش از سوی کاربر اعم از عکاس و یا مشتری، وی حق طرح هیچگونه ادعا و اعتراضی دراین خصوص نخواهد داشت.</span>
        </p>
        <p class="p2" dir="rtl">
          <span class="s1">۵-۴- کاربر می‌پذیرد که باید هزینۀ عکاسی را مستقل از هر گونه مشکلی که ممکن است در برنامۀ کادرو جهت پرداخت آنلاین به وجود بیاید به شرکت پرداخت کند. در صورتی که به دلیل مشکلی در برنامۀ کادرو یا مشکلات ارتباطی از جمله اینترنت و شبکۀ تلفن همراه امکان پرداخت از طریق نرم‌افزار فراهم نشود، مشتری همچنان موظف به پرداخت هزینه عکاسی خواهد بود. در این شرایط پرداخت هزینه ممکن است با هماهنگی مشتری با مرکز تماس شرکت کادرو با روش‌های دیگر صورت پذیرد. در صورتی که مشتری به هر دلیلی از جمله مشکلات نرم‌افزار پرداخت را انجام نداده باشد، شرکت حق دارد مبلغ عکاسی را از اعتبار کاربر مشتری در کادرو کسر کند و یا پروژه مذکور را لغو کند.</span>
        </p>
        <p class="p2" dir="rtl">
          <span class="s1">۶-۴- کاربر مشتری می‌پذیرد هیچوقت درخواست عکاس ایجاد نکند مگر اینکه قصد استفاده از خدمات کادرو را داشته باشد. کاربر مشتری اگر پس از ارسال درخواست عکاسی و پذیرش درخواست توسط یک عکاس، درخواست را لغو کند، یا در مکان مشخص شده به عنوان محل عکاسی در زمان مشخص حضور پیدا نکند، وی متعهد به پرداخت مبلغ مورد قبول مذکور می‌باشد و یا شرکت مجاز خواهد بود نسبت به کسر و برداشت مبلغ مذکور از محل اعتبار وی اقدام نماید.</span>
        </p>
        <p class="p2" dir="rtl">
          <span class="s1">۷-۴- کاربر مشتری می‌پذیرد هر گونه تخریبی که در تجهیزات عکاس در نتیجه استفاده از خدمات با حساب کاربری وی ایجاد شود، مسئولیت تامین هزینه‌های مربوط به تعمیر به عهده وی خواهد بود. در چنین مواردی کادرو حق دارد این هزینه‌ها را از اعتبار موجود در حساب کادرو کاربر مشتری کسر یا از وی وصول کند. در صورتی که اعتبار موجود نزد کادرو به میزان خسارات وارده و هزینه‌های مترتب بر آن نباشد، شرکت مجاز به پیگیری وصول مطالبات مذکور خواهد بود.</span>
        </p>
        <p dir="rtl">۴-۸- تسویه حساب پروژه های عکاسی با کاربر عکاس فقط در صورتی انجام می پذیرد که کاربر مشتری نسبت به
          خدمات عکاسی ارائه شده به مشتری اعلام رضایت کند. کادرو تا ۲ هفته بعد از زمان انجام عکاسی، پرداخت را انجام نمی
          دهد تا کاربر مشتری رضایت خود را اعلام کند. در صورتیکه بعد از ۲ هفته کاربر مشتری رضایت یا عدم رضایت خود را نسبت
          به خدمت عکاس اعلام نکند، به صورت خودکار تسویه حساب با کاربر عکاس انجام می شود و کاربر مشتری حق هر گونه اعتراضی
          در این خصوص را از خود صلب می نماید.</p>
        <h4 class="p1" dir="rtl"><em><span class="s1">ماده ۵ – مسئولیت کادرو</span></em></h4>
        <p class="p2" dir="rtl">
          <span class="s1">۱-۵- کادرو با تمام امکانات خود از جمله مرکز تماس ۲۴ ساعته، واحد رسیدگی به شکایات و فرآیند میانجیگری تمامی تلاش خود را جهت رضایت کاربران، رفع اختلافات ایجاد شده در زمان ارائه و استفاده از خدمات کادرو بین کاربران، و ایجاد صلح و سازش فی مابین آنها می‌کند.</span>
        </p>
        <p class="p2" dir="rtl">
          <span class="s1">۲-۵- کادرو با استفاده از نظارت‌های خود تلاش می‌کند خدمات با کیفیت مطلوب به کاربران ارائه دهد.</span>
        </p>
        <p class="p2" dir="rtl">
          <span class="s1">۳-۵- کادرو تلاش خود را جهت فراهم نمودن امکان استفاده از خدمات نرم‌افزاری خود توسط دستگاه‌های کاربران محترم می‌کند اما تضمینی نسبت به اجرا شدن آن روی همۀ دستگاه‌ها یا همۀ شبکه‌های ارتباطی (اینترنت، شبکه تلفن‌همراه و …) نخواهد داد.</span>
        </p>
        <p class="p2" dir="rtl">
          <span class="s1">۴-۵- تمامی اطلاعات کاربران اعم از عکاسان و مشتریان بعنوان اطلاعات محرمانه نزد کادرو محافظت شده و دسترسی به آن توسط اشخاص ثالث ممنوع بوده مگر برابر تصمیم مقام صالح. بنابراین در صورت درخواست و صدور دستور مقتضی از سوی مراجع قضایی، شرکت مکلف به ارایه اطلاعات کاربران اعم از مشتریان و یا عکاسان به مراجع مذکور می‌باشد.</span>
        </p>
        <p class="p2" dir="rtl">
          <span class="s1">۵-۵- چنانچه هر یک از کاربران کادرو در زمان استفاده از خدمات آن با مشکلی مواجه شوند برابر شرایط فوق می‌توانند شکایت خود را از طریق مرکز تماس ۲۴ ساعته و واحد رسیدگی به شکایات کادرو مطرح و شرکت پیگیری لازم و تلاش خود را جهت حل و فصل اختلافات بعمل خواهد آورد.</span>
        </p>
        <p class="p2" dir="rtl">
          <span class="s1">۶-۵- جهت اطلاع بیشتر کاربران با نحوه و شرایط ارائۀ خدمات کادرو و استفاده از نرم‌افزار‌های مشتری و عکاس، همۀ اطلاعات مورد نیاز کاربران توسط کادرو در سایت قرار داده شده است و اشخاص می‌توانند با مراجعه به قسمت مذکور و مطالعۀ آنها کاملا با شرایط ذکر شده و خدمات کادرو آشنا شوند. همچنین همکاران ما در مرکز تماس به صورت ۲۴ ساعته پاسخگوی هر گونه ابهام و سوال کاربران هستند.</span>
        </p><h4 class="p1" dir="rtl"><em><span class="s1">ماده ۶ – مسئولیت کاربران</span></em></h4>
        <p class="p2" dir="rtl">
          <span class="s1">۱-۶- مسئولیت همۀ اقدامات و افعال کاربران مشتری و عکاس که ناشی از عدم رعایت قوانین موضوعه جمهوری اسلامی ایران از جمله قانون مجازات اسلامی (ارتکاب جرم در هنگام عکاسی) و قوانین مدنی (ورود خسارت به اموال کاربر) باشد، برعهدۀ شخص متخلف بوده و کادرو هیچ گونه مسئولیتی در قبال اعمال و افعال فوق نداشته و نخواهد داشت و کادرو می‌تواند ضمن غیر فعال کردن حساب کاربری متخلف، از طریق مراجع صالح اقدامات قانونی را علیه نامبرده نسبت به احقاق حقوق قانونی کادرو بعمل آورد.</span>
        </p>
        <p class="p2" dir="rtl">
          <span class="s1">۲-۶- هر گونه اقدامی از سوی کاربران که منجر به ورود خسارت به شهرت تجاری، نام و اعتبار کادرو شود تخلف از شرایط قراردادی و قانونی تلقی و کادرو حق غیر فعال نمودن کاربر اعم از مشتری و یا عکاس و اقدام قانونی علیه وی را جهت مطالبه خسارت و احقاق حقوق قانونی خود خواهد داشت.</span>
        </p>
        <p class="p2" dir="rtl">
          <span class="s1">۳-۶- کاربر عکاس متعهد می‌شود تنها از علایم و اقلام سازمانی استفاده کند که توسط کادرو تهیه و در اختیار او گذاشته شده است (جلیقه، پیراهن، تی شرت، شال یا دستبند با برند کادرو) و مسئولیت استفاده از اقلام و علایمی که سبب ایجاد مشابهت و یا ایجاد اشتباه برای کاربران مشتری و یا سایر اشخاص اعم از حقیقی و یا حقوقی کند بر عهدۀ کاربر عکاس بوده و در صورت لزوم کادرو به قطع خدمات با نامبرده و پیگیری قانونی اقدام خواهد نمود و شخص متخلف مکلف به جبران خسارات وارده به کادرو خواهد بود.</span>
        </p>
        <p class="p2" dir="rtl">
          <span class="s1">۴-۶- در صورتی که در حین عکاسی عکاس نسبت به نقض تعهدات قانونی از سوی مشتری اطلاع پیدا کند، عکاس متعهد به اعلام گزارش به مرکز تماس شرکت و مراجع انتظامی خواهد بود.</span>
        </p>
        <h4 class="p1" dir="rtl"><em><span class="s1">ماده ۷ – شرایط موضوع و اشیائی که عکاسی می شوند</span></em></h4>
        <p class="p2" dir="rtl">
          <span class="s1">۱-۷- وسایلی که مشتری نمی تواند تقاضای دریافت خدمات کند عبارت است از مواد منفجره، محترقه، مواد سمی، اسیدی، بیماری زا و بد بو، مایعات و جامدات اتش زا و سوختی، مواد و وسایل رادیواکتیو و بارهای حجیم مانند بسته‌های بزرگ.</span>
        </p>
        <p class="p2" dir="rtl">
          <span class="s1">۲-۷-موضوع و اشیا عکاسی تجاری نباید مربوط به موضوعات خاص علمی که نیاز به مراقبت های ویژه دارند باشد(مثلا آزمایشگاهی، پالایشگاهی، بیمارستانی و غیره) و به نحوی که متعارف محسوب و وزن و نوع آن متناسب با وزن و شرایطی باشد که از طرف کارخانه سازنده تعیین شده باشد.</span>
        </p>
        <p class="p2" dir="rtl">
          <span class="s1">۳-۷- موضوع و شیئ غیر متعارف، چیزی است که یک فرد نمی تواند به تنهایی جابجا کند و نیاز است که بالابرهای مکانیکی کمک گرفته شود. کاربر عکاس تعهدی به جابجایی اینگونه وسایل ندارد و این مسئولیت با خود مشتریان است.</span>
        </p>
        <p class="p2" dir="rtl">
          <span class="s1">۴-۷- انتقال، امانت گیری و قرض بار و کالا، بدون حضور مشتری (مالک کالا) توسط کاربر کادرو ممنوع است و کاربر حق دریافت کالا را نخواهد داشت. در صورت عدم رعایت، همۀ مسئولیت‌های ناشی از این تخلف برعهدۀ اقدام کنندگان آن است و کادرو حق دارد نسبت به قطع دسترسی اقدام و مبادرت به پیگیری قانونی از جمله مطالبۀ خسارت از شخص متخلف کند.</span>
        </p>
        <p class="p2" dir="rtl">
          <span class="s1">۵-۷- در هر صورت عکاس مجاز به عدم پذیرش بار، کالا، محصول یا اشیا مورد نیاز عکاسی مشتریان به شرح فوق می‌باشد. در صورتی که در ابتدای عکاسی، عکاس از محتویات محصول اطلاع نداشته باشد و در حین عکاسی نسبت به محتویات آن اطلاع پیدا کند، در حین عکاسی مجاز به قطع و لغو عکاسی می باشد. در این صورت عکاس مکلف به اعلام گزارش فوری موضوع به شرکت و مراجع انتظامی می باشد.</span>
        </p><h4 class="p1" dir="rtl"><em><span class="s1">ماده ۸ – موارد فنی</span></em></h4>
        <p class="p2" dir="rtl">
          <span class="s1">۱-۸- کاربر اعم از مشتری و یا عکاس حق ندارد هیچگونه تلاشی در جهت استخراج سورس کد (Source Code) نرم‌افزارهای کادرو شامل دیکامپایل(Decompile) ، مهندسی معکوس(Reverse Engineering) یا فعالیتهای مشابه انجام دهد، مگر اینکه اجازۀ چنین کاری به صورت قانونی صادر شده باشد.</span>
        </p>
        <p class="p2" dir="rtl">
          <span class="s1">۲-۸-کاربر مشتری و یا عکاس مجاز نیست با استفاده از روش‌های Framing یا Mirroring یا روش‌های دیگر نسخۀ دیگری از خدمات کادرو را روی سرورهای دیگر ارائه کند. همچنین کاربر مجاز نیست در نرم‌افزار کادرو یا در روش ارائۀ خدمات کادرو تغییر یا اخلالی ایجاد کند.</span>
        </p>
        <p class="p2" dir="rtl">
          <span class="s1">۳-۸- کاربر مشتری و یا عکاس حق ندارد نرم‌افزار یا اسکریپتی با هدف ایندکس گذاری (Indexing)، مطالعه یا هر گونه فعالیت داده‌کاوی روی خدمات اجرا کند.</span>
        </p>
        <p class="p2" dir="rtl">
          <span class="s1">۴-۸- کاربر مشتری و یا عکاس حق ندارد هیچ فعالیتی در راستای حصول دسترسی غیرقانونی و غیر متداول به هیچ بخش از سامانۀ کادرو یا سامانه‌های مرتبط با کادرو انجام دهد.</span>
        </p><h4 class="p1" dir="rtl"><em><span class="s1">ماده ۹ – محتوای تولید شده توسط کاربران</span></em></h4>
        <p class="p2" dir="rtl">
          <span class="s1">کادرو ممکن است در شرایطی به کاربران اجازه دهد که در وب سایت، نرم‌افزار موبایل و یا سایر بخش‌های این سامانه، عکس، متن، فایل صوتی، فایل تصویری یا فایل‌های مشابه منتشر کنند. مالکیت هر مطلب (شامل متن، عکس، فایل صوتی، فایل تصویری و …) که به این شکل در خدمات ثبت شود همچنان متعلق به کاربران خواهد بود. اما با ثبت آنها در خدمات‌ مرتبط به کادرو کاربران این حق را به کادرو می‌دهند که آنها را در هر مکان و هر زمانی به صورت دیجیتال یا چاپی برای هر نوع کاربردی منتشر کند. همچنین کادرو مجاز است حق انتشار این مطالب را به اشخاص یا شرکت‌های دیگر منتقل کند.</span>
        </p><h4 class="p1" dir="rtl"><em><span class="s1">ماده ۱۰ – قطع خدمات</span></em></h4>
        <p class="p2" dir="rtl">
          <span class="s1">کادرو در شرایطی که به هر دلیل به این نتیجه برسد حضور یک کاربر (عکاس یا مشتری) می‌تواند برای شرکت یا سایر مشتریان یا عکاسان خطرناک باشد یا مطلوب نباشد، طبق صلاحدید و تشخیص خود حق حذف دسترسی کاربر مذکور به خدمات کادرو را دارد. در این صورت، کاربر حق طرح هیچگونه ادعا و یا اعتراضی را نخواهد داشت.</span>
        </p><h4 class="p1" dir="rtl"><em><span class="s1">۱۱ – توافق از راه دور</span></em></h4>
        <p class="p2" dir="rtl">
          <span class="s1">۱-۱۱- کاربر مشتری و یا عکاس توافق می‌کند جهت مبادلۀ آسان اطلاعات، همۀ تغییرات و الحاقیه‌های قوانین و مقررات حاضر اعم از تغییر و اضافه کردن شروط آن، ارسال اخطاریه و ابلاغیه‌های مربوط به کادرو، از طریق سامانه کادرو بعمل آید و کاربر ضمن پذیرش اطلاع از شرط و روند اجرایی آن موافقت خود را نسبت به اعمال شرط مذکور اعلام می‌کند.</span>
        </p>
        <p class="p2" dir="rtl">
          <span class="s1">۲-۱۱- مسئولیت حفظ و حراست از حساب کاربر اعم از مشتری و یا عکاس برعهدۀ کاربر مذکور بوده و وی ضمن پذیرش این مسئولیت، همۀ داده پیام‌های صادره از طریق حساب کاربری مذکور را منتسب به خود دانسته و هرگونه ادعایی نسبت به انکار، تردید و جعل داده پیام‌های ارسال شده از ناحیۀ نامبرده غیر قابل استماع و مردود است.</span>
        </p>
        <p class="p2" dir="rtl">
          <span class="s1">۳-۱۱- کاربر مشتری و یا عکاس می‌پذیرد هر گونه رویه، اشکال، عبارات مبین تائید و اعلام قبولی و تصدیق داده پیامه‌ای صادره از طرف کادرو به منزله امضا الکترونیکی و قبولی محسوب می‌شود و هر گونه ادعائی نسبت به امضا و قبولی مذکور غیر قابل استماع و مردود است.</span>
        </p>
        <p class="p2" dir="rtl">
          <span class="s1">۴-۱۱- کاربر مشتری و یا عکاس با عضویت در خدمات کادرو قصد و اراده خود را نسبت به پذیرش انعقاد هرگونه اقدام و عمل حقوقی از جمله عقود و معاملات از راه دور و از طریق سامانۀ رایانه‌ای و الکترونیکی اعلام می‌کند.</span>
        </p></div>
    </div>
  </div>
</section>